<template>
  <div>
    <h6 class="text-warning">
      <b>Dependents Benefits</b>
      <button
        class="btn btn-primary pull-right ml-auto"
        type="button"
        @click="addModal"
      >
        <i class="fa fa-plus"></i> Add
      </button>
    </h6>
    <hr />
    <div class="table-responsive">
      <table class="table m-b-0">
        <thead>
          <tr style="font-weight: normal">
            <th>Ticket Entitlement</th>
            <th>Name</th>
            <th>Route (From - To)</th>
            <th>Date (From - To)</th>
            <th>Insurance Company</th>
            <th>Category</th>
            <th>Policy No.</th>
            <th>Fare Amount</th>
            <th>Ins. Amount</th>
            <th>Premium</th>
            <th>Description</th>
            <th>Status</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(benifit, index) in dependentBenifits"
            :key="'dependen_beniftis-' + index"
          >
            <td>{{ benifit.ticketEntitlement.name }}</td>
            <td>{{ benifit.employeeDependant.name }}</td>
            <td>
              {{ benifit.routeFrom.name }}
              <i class="fa fa-exchange" v-if="benifit.returnTicket"></i>
              <font-awesome-icon
                :icon="['fas', 'long-arrow-alt-right']"
                v-else
              />
              {{ benifit.routeTo.name }}
            </td>
            <td>{{ benifit.dateFrom }} - {{ benifit.dateTo }}</td>
            <td>{{ benifit.insuranceCompany.name }}</td>
            <td>{{ benifit.category.name }}</td>
            <td>{{ benifit.policyNumber }}</td>
            <td>{{ benifit.fareAmount }}</td>
            <td>{{ benifit.insuranceAmount }}</td>
            <td>{{ benifit.premium }}</td>
            <td>{{ benifit.description }}</td>
            <td>{{ benifit.status == 1 ? "Active" : "Not Active" }}</td>
            <td>
              <button
                @click="updateModal(benifit)"
                class="btn btn-primary btn-sm"
              >
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          <tr v-if="dependentBenifits.length == 0">
            <td colspan="13" class="text-center">
              <b class="text-warning"> No Records Added</b>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal
      ref="dependant-benefits-edit"
      title="Dependant Benefits"
      size="lg"
      @hidden="updateComponent"
    >
      <b-row>
        <b-col cols="6">
          <b-form-group>
            <label for="employee_dependant_id">Dependant*</label>
            <multiselect
              v-model="benifitEdit.employeeDependant"
              track-by="id"
              label="name"
              placeholder="Select Dependent"
              :options="dependants"
              :allow-empty="true"
              :close-on-select="true"
              :multiple="false"
            >
            </multiselect>
          </b-form-group>
        </b-col>
        <b-col cols="6">
          <b-form-group>
            <label for="ticket_entitlement_id">Ticket Entitlement</label>
            <multiselect
              v-model="benifitEdit.ticketEntitlement"
              track-by="id"
              label="name"
              placeholder="Select Entitlment"
              :options="ticketEntitlements"
              :allow-empty="true"
              :close-on-select="true"
              :multiple="false"
              :disabled="disableTravel"
            >
            </multiselect>
          </b-form-group>
        </b-col>
        <b-col cols="3">
          <b-form-group>
            <b-form-checkbox
              v-model="benifitEdit.returnTicket"
              :value="true"
              :unchecked-value="false"
              :disabled="disableTravel"
              >Return Ticket?</b-form-checkbox
            >
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <div class="form-group col-7">
          <label for="routes_from_id">Route From</label>
          <multiselect
            v-model="benifitEdit.routesFrom"
            track-by="id"
            label="name"
            placeholder="Route From"
            :options="routes"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
            :disabled="disableTravel"
          >
          </multiselect>
        </div>
        <div class="form-group col-5">
          <label for="country">Departure Date</label>
          <b-input-group>
            <b-form-input
              id="date-from"
              v-model="benifitEdit.dateFrom"
              type="text"
              autocomplete="off"
              :disabled="disableInsurrance"
            ></b-form-input>
            <b-input-group-append>
              <b-form-datepicker
                v-model="benifitEdit.dateFrom"
                button-only
                right
                locale="en-US"
                button-variant="primary"
                aria-controls="date-from"
                :disabled="disableTravel"
              ></b-form-datepicker>
            </b-input-group-append>
          </b-input-group>
        </div>
      </b-row>

      <b-row>
        <div class="form-group col-7">
          <label for="routes_to_id">Route To</label>
          <multiselect
            v-model="benifitEdit.routesTo"
            track-by="id"
            label="name"
            placeholder="Route To"
            :options="routeToCitites"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
            :disabled="disableTravel"
          >
          </multiselect>
        </div>
        <div class="form-group col-5">
          <label for="country">Return Date</label>
          <b-input-group>
            <b-form-input
              id="date-to"
              v-model="benifitEdit.dateTo"
              type="text"
              autocomplete="off"
              :disabled="!benifitEdit.returnTicket"
            ></b-form-input>
            <b-input-group-append>
              <b-form-datepicker
                v-model="benifitEdit.dateTo"
                button-only
                right
                locale="en-US"
                button-variant="primary"
                aria-controls="date-to"
                :disabled="!benifitEdit.returnTicket"
              ></b-form-datepicker>
            </b-input-group-append>
          </b-input-group>
        </div>
      </b-row>

      <b-row>
        <b-col cols="12">
          <div class="form-group">
            <label for="fare_amount">Fare Amount</label>
            <input
              type="text"
              class="form-control"
              v-model="benifitEdit.fareAmount"
              placeholder="Fare Amount"
              :disabled="disableTravel"
            />
          </div>
        </b-col>
      </b-row>

      <b-row>
        <div class="form-group col-6">
          <label for="insurance_company_id">Insurance Company</label>
          <multiselect
            v-model="benifitEdit.insuranceCompany"
            track-by="id"
            label="name"
            placeholder="Select Company"
            :options="insuranceCompanies"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
            :disabled="disableInsurrance"
          >
          </multiselect>
        </div>
        <div class="form-group col-6">
          <label for="insurance_category_id">Insurance Category</label>
          <multiselect
            v-model="benifitEdit.category"
            track-by="id"
            label="name"
            placeholder="Select Category"
            :options="insuranceCategories"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
            :disabled="disableInsurrance"
          >
          </multiselect>
        </div>
      </b-row>

      <b-row>
        <div class="form-group col-6">
          <label for="policy_number">Policy Number</label>
          <input
            type="text"
            class="form-control"
            v-model="benifitEdit.policyNumber"
            placeholder="Policy Number"
            :disabled="disableInsurrance"
          />
        </div>
        <div class="form-group col-6">
          <label for="currency_id">Currency</label>
          <multiselect
            v-model="benifitEdit.currency"
            track-by="id"
            label="name"
            placeholder="Select Currency"
            :options="currencies"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
            :disabled="disableInsurrance"
          >
          </multiselect>
        </div>
      </b-row>

      <b-row>
        <div class="form-group col-6">
          <label for="insurance_amount">Insurance Amount</label>
          <input
            type="text"
            class="form-control"
            v-model="benifitEdit.insuranceAmount"
            placeholder="Insurance Amount"
            :disabled="disableInsurrance"
          />
        </div>
        <div class="form-group col-6">
          <label for="premium">Premium</label>
          <input
            type="text"
            class="form-control"
            v-model="benifitEdit.premium"
            placeholder="Premium"
            :disabled="disableInsurrance"
          />
        </div>
      </b-row>

      <b-row>
        <div class="form-group col-12">
          <label for="description">Description</label>
          <textarea
            v-model="benifitEdit.description"
            class="form-control"
          ></textarea>
        </div>
      </b-row>
      <template #modal-footer>
        <div id="dependant_div">
          <button
            type="button"
            class="btn btn-success"
            @click="updateBenifits"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addBenifits"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>
    <b-toast id="dependentBenifitErrors" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
export default {
  components: { Multiselect },
  mounted() {},
  props: {
    tabData: Array,
    employeeId: String,
    currencies: Array,
  },
  created() {
    this.getDependetns();
    this.getTicketEntitlments();
    this.getInsuranceCompanies();
    this.getInsuranceCategories();
    this.getRoutes();
    this.dependentBenifits = this.tabData;
  },
  data() {
    return {
      dependants: [],
      dependant: {},
      ticketEntitlements: [],
      insuranceCompanies: [],
      insuranceCategories: [],
      routes: [],
      dependentBenifits: [],
      benifitEdit: {},
      edit: false,
      add: true,
      updated: false,
      added: false,
      errors: [],
    };
  },
  methods: {
    addModal() {
      this.edit = false;
      this.add = true;
      this.benifitEdit = {
        id: "",
        routesFrom: {
          id: "",
          name: "",
        },
        routesTo: {
          id: "",
          name: "",
        },
        insurance: "",
        travelAllowance: "",
        ticketEntitlement: {
          id: "",
          name: "",
        },
        employeeDependant: {
          id: "",
          name: "",
        },
        insuranceCompany: {
          id: "",
          name: "",
        },
        category: {
          id: "",
          name: "",
        },
        currency: {
          id: "",
          name: "",
        },
        premium: "",
        dateFrom: "",
        dateTo: "",
        policyNumber: "",
        fareAmount: "",
        returnTicket: "",
        insuranceAmount: "",
        description: "",
      };
      this.$refs["dependant-benefits-edit"].show();
    },
    updateModal(benifit) {
      this.edit = true;
      this.add = false;
      this.benifitEdit = {
        id: benifit.id,
        routesFrom: {
          id: benifit.routeFrom.id,
          name: benifit.routeFrom.name,
        },
        routesTo: {
          id: benifit.routeTo.id,
          name: benifit.routeTo.name,
        },
        insurance: benifit.insurance,
        travelAllowance: benifit.travelAllowance,
        ticketEntitlement: {
          id: benifit.ticketEntitlement.id,
          name: benifit.ticketEntitlement.name,
        },
        employeeDependant: {
          id: benifit.employeeDependant.id,
          name: benifit.employeeDependant.name,
        },
        insuranceCompany: {
          id: benifit.insuranceCompany.id,
          name: benifit.insuranceCompany.name,
        },
        category: {
          id: benifit.category.id,
          name: benifit.category.name,
        },
        currency: {
          id: benifit.currency.id,
          name: benifit.currency.name,
        },
        premium: benifit.premium,
        dateFrom: benifit.dateFrom,
        dateTo: benifit.dateTo,
        policyNumber: benifit.policyNumber,
        fareAmount: benifit.fareAmount,
        returnTicket: benifit.returnTicket,
        insuranceAmount: benifit.insuranceAmount,
        description: benifit.description,
      };
      this.$refs["dependant-benefits-edit"].show();
    },
    hideModal() {
      this.$refs["dependant-benefits-edit"].hide();
    },
    async getDependetns() {
      axios
        .get("/employees/" + this.employeeId + "/dependents")
        .then((res) => {
          this.dependants = res.data;
        })
        .catch((err) => {});
    },
    async getTicketEntitlments() {
      axios
        .get("/ticket-entitlements/all/data")
        .then((res) => {
          this.ticketEntitlements = res.data;
        })
        .catch((err) => {});
    },
    async getInsuranceCompanies() {
      axios
        .get("/insurance-comapnies/all/data")
        .then((res) => {
          this.insuranceCompanies = res.data;
        })
        .catch((err) => {});
    },
    async getInsuranceCategories() {
      axios
        .get("/insurance-categories/all/data")
        .then((res) => {
          this.insuranceCategories = res.data;
        })
        .catch((err) => {});
    },
    async getRoutes() {
      axios
        .get("/routes/all/data")
        .then((res) => {
          this.routes = res.data;
        })
        .catch((err) => {});
    },
    getData() {
      this.errors = [];
      let data = {
        user_employee_id: this.employeeId,
        employee_dependant_id:
          this.benifitEdit.employeeDependant != null
            ? this.benifitEdit.employeeDependant.id
            : "",
        ticket_entitlement_id:
          this.benifitEdit.ticketEntitlement != null
            ? this.benifitEdit.ticketEntitlement.id
            : "",
        routes_from_id:
          this.benifitEdit.routesFrom != null
            ? this.benifitEdit.routesFrom.id
            : "",
        routes_to_id:
          this.benifitEdit.routesTo != null ? this.benifitEdit.routesTo.id : "",
        start: this.benifitEdit.dateFrom,
        end: this.benifitEdit.dateTo,
        currency_id:
          this.benifitEdit.currency != null ? this.benifitEdit.currency.id : "",
        insurance_company_id:
          this.benifitEdit.insuranceCompany != null
            ? this.benifitEdit.insuranceCompany.id
            : "",
        insurance_category_id:
          this.benifitEdit.category != null ? this.benifitEdit.category.id : "",
        policy_number: this.benifitEdit.policyNumber,
        fare_amount: this.benifitEdit.fareAmount,
        return_ticket: this.benifitEdit.returnTicket,
        insurance_amount: this.benifitEdit.insuranceAmount,
        description: this.benifitEdit.description,
        premium: this.benifitEdit.premium,
      };
      return data;
    },
    updateBenifits() {
      this.errors = {};
      let data = this.getData();
      let t = this;
      axios
        .put("/dependet-benefits/" + this.benifitEdit.id, data)
        .then((res) => {
          this.updated = true;
          this.$refs["dependant-benefits-edit"].hide();
        })
        .catch((err) => {
          $.each(err.response.data, function (indexMain, errors) {
            $.each(errors, function (index, error) {
              t.errors.push({ error: error });
            });
          });
          this.$bvToast.show("dependentBenifitErrors");
        });
    },
    addBenifits() {
      let data = this.getData();
      let t = this;
      axios
        .post("/employees/" + this.employeeId + "/dependant-benefits", data)
        .then((res) => {
          this.added = true;
          this.$refs["dependant-benefits-edit"].hide();
        })
        .catch((err) => {
          $.each(err.response.data, function (indexMain, errors) {
            $.each(errors, function (index, error) {
              t.errors.push({ error: error });
            });
          });
          this.$bvToast.show("dependentBenifitErrors");
        });
    },
    updateComponent() {
      if (this.added || this.updated) {
        this.$emit("refreshMainTab");
      }
    },
  },
  computed: {
    routeToCitites() {
      if (this.benifitEdit.routesFrom) {
        return this.routes.filter(
          (route) => route.id != this.benifitEdit.routesFrom.id
        );
      } else {
        return this.routes;
      }
    },
    disableTravel() {
      if (this.dependant.travel_allounce == 0) {
        return true;
      } else {
        return false;
      }
    },
    disableInsurrance() {
      if (this.dependant.insurance == 0) {
        return true;
      } else {
        return false;
      }
    },
  },
  watch: {
    "benifitEdit.employeeDependant": function (value, newValue) {
      this.dependant = value;
    },
  },
};
</script>
