<template>
  <div>
    <h6 class="text-warning">
      <b>Employee Education Details</b>
      <small>(Upload Documents where applicable)</small>
      <button
        class="btn btn-primary pull-right ml-auto"
        type="button"
        @click="addModal"
      >
        <i class="fa fa-plus"></i> Add
      </button>
    </h6>
    <hr />
    <div class="table-responsive">
      <table class="table m-b-0">
        <thead>
          <tr style="font-weight: normal">
            <th>Qualification</th>
            <th>Institute</th>
            <th>Country</th>
            <th>Marks/Grade</th>
            <th>Year</th>
            <th>Attested</th>
            <th>Hard Copy</th>
            <th>Document</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="education in educations"
            :key="'education__' + education.id"
          >
            <td>{{ education.qualification.name }}</td>
            <td>{{ education.institute.name }}</td>
            <td>{{ education.country.name }}</td>
            <td>{{ education.marks }}</td>
            <td>{{ education.year }}</td>
            <td>{{ education.attested == 1 ? "Yes" : "No" }}</td>
            <td>
              {{ education.hardcopy == 1 ? "Submitted" : "Not Submitted" }}
            </td>
            <td>
              <a
                target="_blank"
                class="btn btn-primary btn-sm"
                v-if="education.document"
                :href="education.documentPath"
                ><i class="fa fa-download" aria-hidden="true"></i
              ></a>
            </td>
            <td>
              <button
                class="btn btn-primary btn-sm"
                type="button"
                @click="updateModal(education)"
              >
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          <tr v-if="educations.length == 0">
            <td colspan="12" class="text-center">
              <b class="text-warning"> No Records Added</b>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <b-modal
      title="Employee Education Details"
      ref="employee-education"
      @hidden="updateComponent"
    >
      <b-row>
        <div class="form-group col-12">
          <label for="qualification_id">Qualification* &nbsp;&nbsp; <b-button pill variant="success" size="sm" @click="showEducationInformation('Qualification')"> Add <b-icon-plus-circle></b-icon-plus-circle></b-button></label>
          <multiselect
            v-model="editData.qualification"
            track-by="id"
            label="name"
            placeholder="Select Qualification"
            :options="qualifications"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
          >
          </multiselect>
        </div>
      </b-row>

      <b-row>
        <div class="form-group col-12">
          <label for="institute_id">Institute* &nbsp;&nbsp; <b-button pill variant="success" size="sm" @click="showEducationInformation('Institute')"> Add <b-icon-plus-circle></b-icon-plus-circle></b-button></label></label>
          <multiselect
            v-model="editData.institute"
            track-by="id"
            label="name"
            placeholder="Select Institute"
            :options="institutes"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
          >
          </multiselect>
        </div>
      </b-row>

      <b-row>
        <div class="form-group col-12">
          <label for="country_id">Country*</label>
          <multiselect
            v-model="editData.country"
            track-by="id"
            label="name"
            placeholder="Select Institute"
            :options="countries"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
          >
          </multiselect>
        </div>
      </b-row>

      <b-row>
        <div class="form-group col-6">
          <label for="marks">Marks/Grade*</label>
          <input
            type="text"
            class="form-control"
            placeholder="Marks/Grade"
            v-model="editData.marks"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="country">Completion Date*</label>
          <b-input-group>
            <b-form-input
              id="date-of-completion"
              v-model="editData.year"
              type="text"
              placeholder="Completion Date"
              autocomplete="off"
            ></b-form-input>
            <b-input-group-append>
              <b-form-datepicker
                v-model="editData.year"
                button-only
                right
                locale="en-US"
                button-variant="primary"
                aria-controls="date-of-completion"
              ></b-form-datepicker>
            </b-input-group-append>
          </b-input-group>
        </div>
      </b-row>

      <b-row>
        <div class="form-group col-12">
          <div class="fancy-checkbox">
            
            <label>
              <input
                name="attested"
                type="checkbox"
                v-model="editData.attested"
                :true-value="true"
                :false-value="false"
              />
              <span>Attested</span>
            </label>
            
          </div>
          <div class="fancy-checkbox">
            <label>
              <input
                name="hardcopy"
                type="checkbox"
                v-model="editData.hardcopy"
                :true-value="true"
                :false-value="false"
              />
              <span>Hardcopy</span>
            </label>
          </div>
        </div>
      </b-row>

      <b-row>
        <div class="form-group col-md-12">
          <label for="description">Description</label>
          <textarea
            class="form-control"
            v-model="editData.description"
          ></textarea>
        </div>
      </b-row>

      <b-row>
        <b-col cols="12">
          <h5 v-if="editData.document">
            Document: <small>{{ fileDisplayName }}</small>
          </h5>
        </b-col>
        <div class="form-group col-12">
          <label for="degree_image">Degree Image to Upload</label>
          <input
            type="file"
            class="form-control dropify"
            ref="degree"
            @change="handleFileUpload()"
          />
        </div>
      </b-row>

      <template #modal-footer>
        <div id="dependant_div">
          <button
            type="button"
            class="btn btn-success"
            @click="updateEmployeeEducation(editData.id)"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addEducation"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>

    <b-modal :title="'Add New '+modalTitle" ref="employee-education-information"  @hidden="updateComponent">
      <b-row v-if="addInstitute">
        <b-col cols="12">
          <b-form-group label="Country" label-for="country">
            <b-form-select
              v-model="qualification.country"
              :options="countriesDropdown"
            ></b-form-select>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <div class="form-group">
            <label for="marks">Name</label>
            <input type="text" class="form-control" placeholder="Name" v-model="qualification.name"/>
          </div>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <div class="form-group">
            <label for="marks">Description</label>
            <b-textarea v-model="qualification.description"></b-textarea>
          </div>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="qualification.status"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div id="dependant_div">
          <button
            type="button"
            class="btn btn-primary"
            @click="addExtraInfo"
          >
            SAVE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-danger"
            @click="hideEducationInformation"
          >
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>

    <b-toast id="education-errors" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="(error, index) in errors" :key="index">{{ error.error }}</li>
      </ul>
    </b-toast>

  </div>
</template>
<script src="{{ asset('assets/js/pages/forms/dropify.js') }}"></script>
<script src="{{ asset('assets/vendor/dropify/js/dropify.min.js') }}"></script>
<script>
import Multiselect from "vue-multiselect";
export default {
  components: { Multiselect },
  mounted() {},
  props: {
    tabData: Array,
    employeeId: String,
    countries: Array,
    qualifications: Array,
    institutes: Array,
  },
  created() {
    this.educations = this.tabData;
    this.documentUrl = "/media_documents/" + this.employeeId + "/";
    this.formatCountryDropdown();
  },
  data() {
    return {
      documentUrl: "",
      educations: [],
      errors: [],
      editData: {},
      add: false,
      edit: true,
      added: false,
      updated: false,
      fileDisplayName: "",
      file: "",
      modalTitle: "",
      countriesDropdown: [{ value: null, text: "Select Country" }],
      addQualification: false,
      addInstitute: false,
      qualification: {
        name: "",
        country: null,
        description: "",
        status: "",
      },
    };
  },
  methods: {
    addModal() {
      this.add = true;
      this.edit = false;
      this.editData = {};
      this.$refs["employee-education"].show();
    },
    handleFileUpload() {
      this.file = this.$refs.degree.files[0];
      this.fileDisplayName = this.file.name;
    },
    updateModal(education) {
      this.editData = {};
      this.add = false;
      this.edit = true;
      this.editData = {
        id: education.id,
        qualification: {
          id: education.qualification.id,
          name: education.qualification.name,
        },
        institute: {
          id: education.institute.id,
          name: education.institute.name,
        },
        country: {
          id: education.country.id,
          name: education.country.name,
        },
        marks: education.marks,
        year: education.year,
        attested: education.attested,
        hardcopy: education.hardcopy,
        document: education.document,
        description: education.description,
      };
      this.fileDisplayName = this.editData.document;
      this.$refs["employee-education"].show();
    },
    getData() {
      this.errors = [];
      this.added = false;
      this.updated = false;
      let data = new FormData();
      data.append("user_employee_id", this.employeeId);
      data.append(
        "qualification_id",
        this.editData.qualification != null
          ? this.editData.qualification.id
          : ""
      );
      data.append(
        "institute_id",
        this.editData.institute != null ? this.editData.institute.id : ""
      );
      data.append(
        "country_id",
        this.editData.country != null ? this.editData.country.id : ""
      );
      data.append("marks", this.editData.marks);
      data.append("completed_date", this.editData.year);
      data.append("attested", this.editData.attested ? true : false);
      data.append("hardcopy", this.editData.hardcopy ? true : false);
      data.append("description", this.editData.description);
      data.append("degree", this.file);
      return data;
    },
    addEducation() {
      let data = this.getData();
      let t = this;
      axios
        .post("/employees/" + this.employeeId + "/education", data, {
          "Content-Type": "multipart/form-data",
        })
        .then((res) => {
          this.added = true;
          this.$refs["employee-education"].hide();
        })
        .catch((err) => {
          $.each(err.response.data, function (indexMain, errors) {
            $.each(errors, function (index, error) {
              t.errors.push({ error: error });
            });
          });
          this.$bvToast.show("education-errors");
        });
    },
    updateEmployeeEducation(education) {
      let formData = this.getData();
      let t = this;
      axios
        .post("/employee-educations/" + education + "/update", this.getData(), {
          "Content-Type": "multipart/form-data",
        })
        .then((res) => {
          console.log(res);
          this.updated = true;
          this.$refs["employee-education"].hide();
        })
        .catch((err) => {
          $.each(err.response.data, function (indexMain, errors) {
            $.each(errors, function (index, error) {
              t.errors.push({ error: error });
            });
          });
          this.$bvToast.show("education-errors");
        });
    },
    downloadEducation(education) {
      axios
        .get("/employee-educations/" + education.id + "/download", {
          responseType: "blob",
        })
        .then((response) => {
          const url = window.URL.createObjectURL(new Blob([response.data]));
          const link = document.createElement("a");
          link.href = url;
          link.setAttribute("download", education.document); //or any other extension
          document.body.appendChild(link);
          link.click();
        });
    },
    hideModal() {
      this.$refs["employee-education"].hide();
    },
    showEducationInformation(modalTitle) {
      if (modalTitle == "Qualification") {
        this.addQualification = true;
        this.addInstitute = false;
      } else {
        this.addInstitute = true;
        this.addQualification = false;
      }
      this.qualification = {
        name: "",
        country: null,
        description: "",
        status: "",
      };
      this.modalTitle = modalTitle;
      this.$refs["employee-education-information"].show();
    },
    formatCountryDropdown() {
      this.countries.forEach((country) => {
        this.countriesDropdown.push({
          value: country.id,
          text: country.name,
        });
      });
    },
    addExtraInfo() {
      this.added = false;
      this.errors = [];
      let t = this;
      let data = {
        name: this.qualification.name,
        description: this.qualification.description,
        status: this.qualification.status,
      };
      let url = "/qualifications";
      if (this.modalTitle != "Qualification") {
        data.country_id = this.qualification.country;
        url = "/institutes";
      }
      axios
        .post(url, data)
        .then((res) => {
          this.added = true;
          this.$refs["employee-education-information"].hide();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("education-errors");
        });
    },
    hideEducationInformation() {
      this.$refs["employee-education-information"].hide();
    },
    updateComponent() {
      if (this.added || this.updated) {
        this.$emit("refreshMainTab");
      }
    },
  },
};
</script>
