<template>
  <div>
    <h6 class="text-warning">
      <b>Employee Documents</b>
      <button class="btn btn-primary pull-right ml-auto" @click="addModal">
        <i class="fa fa-plus"></i> Add
      </button>
    </h6>
    <hr />
    <div class="table-responsive">
      <table class="table m-b-0">
        <thead>
          <tr style="font-weight: normal">
            <th>Document No.</th>
            <th>Status</th>
            <th>Document Type</th>
            <th>Issue Date</th>
            <th>Expiry Date</th>
            <th>Place of Issue</th>
            <th>Issued By</th>
            <th>Notify</th>
            <th>Document</th>
            <th>Description</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="document in documents" :key="document.id">
            <td>{{ document.documentNumber }}</td>
            <td>{{ document.status.name }}</td>
            <td>{{ document.documentType.name }}</td>
            <td>{{ document.issueDate }}</td>
            <td>{{ document.expiryDate }}</td>
            <td>{{ document.placeOfIssue.name }}</td>
            <td>{{ document.issuedBy.name }}</td>
            <td>
              {{ document.notify != "" ? document.notify + " Day(s)" : "" }}
            </td>
            <td>
              <a
                target="_blank"
                class="btn btn-primary btn-sm"
                :href="document.documentPath"
                v-if="document.document"
                ><i class="fa fa-download" aria-hidden="true"></i
              ></a>
            </td>
            <td>{{ document.description }}</td>
            <td>
              <button
                class="btn btn-primary btn-sm"
                @click="updateModal(document)"
              >
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          <tr v-if="documents.length == 0">
            <td colspan="11" class="text-center">
              <b class="text-warning"> No Records Added</b>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal
      ref="employee-documents"
      title="Employee Documents"
      size="lg"
      @hidden="updateComponent"
    >
      <b-row>
        <div class="form-group col-12">
          <label for="document_number">Document Number*</label>
          <input
            type="text"
            v-model="editData.documentNumber"
            class="form-control"
            placeholder="Document Number"
          />
        </div>
      </b-row>
      <b-row>
        <div class="form-group col-12">
          <label for="document_status_id">Document Status*</label>
          <multiselect
            v-model="editData.status"
            track-by="id"
            label="name"
            placeholder="Select Status"
            :options="documentStatuses"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
          >
          </multiselect>
        </div>
      </b-row>

      <b-row>
        <div class="form-group col-12">
          <label for="document_type_id">Document Type*</label>
          <multiselect
            v-model="editData.documentType"
            track-by="id"
            label="name"
            placeholder="Select Type"
            :options="documentTypes"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
          >
          </multiselect>
        </div>
      </b-row>

      <b-row>
        <div class="form-group col-md-6">
          <label for="country">Issue date*</label>
          <b-input-group>
            <b-form-input
              id="issue-date"
              v-model="editData.issueDate"
              type="text"
              placeholder="Issue Date"
              autocomplete="off"
            ></b-form-input>
            <b-input-group-append>
              <b-form-datepicker
                v-model="editData.issueDate"
                button-only
                right
                locale="en-US"
                button-variant="primary"
                aria-controls="issue-date"
              ></b-form-datepicker>
            </b-input-group-append>
          </b-input-group>
        </div>
        <div class="form-group col-md-6">
          <label for="country">Expiry date</label>
          <b-input-group>
            <b-form-input
              id="expiry-date"
              v-model="editData.expiryDate"
              type="text"
              placeholder="Expiry Date"
              autocomplete="off"
              :min="editData.issueDate"
            ></b-form-input>
            <b-input-group-append>
              <b-form-datepicker
                v-model="editData.expiryDate"
                button-only
                right
                locale="en-US"
                button-variant="primary"
                aria-controls="expiry-date"
                :min="editData.issueDate"
              ></b-form-datepicker>
            </b-input-group-append>
          </b-input-group>
        </div>
      </b-row>
      <b-row>
        <div class="form-group col-6">
          <label for="place_of_issue_country_id">Place of Issue*</label>
          <multiselect
            v-model="editData.placeOfIssue"
            track-by="id"
            label="name"
            placeholder="Select Country"
            :options="countries"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
          >
          </multiselect>
        </div>
        <div class="form-group col-6">
          <label for="issued_by_country_id">Issued By*</label>
          <multiselect
            v-model="editData.issuedBy"
            track-by="id"
            label="name"
            placeholder="Select Country"
            :options="countries"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
          >
          </multiselect>
        </div>
      </b-row>
      <b-row>
        <div class="form-group col-12">
          <label for="notify_period_in_days">Notify (days)*</label>
          <input
            type="text"
            v-model="editData.notify"
            class="form-control"
            placeholder="Notify (days)"
          />
        </div>
      </b-row>
      <b-row>
        <div class="form-group col-12">
          <label for="description">Description</label>
          <textarea
            v-model="editData.description"
            class="form-control"
          ></textarea>
        </div>
      </b-row>
      <b-row>
        <div class="form-group col-12">
          <label for="document_path">Document</label>
          <input
            type="file"
            class="form-control dropify"
            ref="document"
            @change="handleFileUpload()"
          />
        </div>
      </b-row>
      <template #modal-footer>
        <div id="dependant_div">
          <button
            type="button"
            class="btn btn-success"
            @click="updateDocument"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addDocument"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>
    <b-toast id="employee-documents-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
export default {
  components: { Multiselect },
  mounted() {},
  props: {
    tabData: Array,
    employeeId: String,
    countries: Array,
  },
  created() {
    this.getDocumentTypes();
    this.getDocumentStatus();
    this.documents = this.tabData;
  },
  data() {
    return {
      documents: [],
      documentTypes: [],
      documentStatuses: [],
      errors: [],
      editData: {},
      add: false,
      edit: true,
      added: false,
      updated: false,
      file: "",
    };
  },
  methods: {
    addModal() {
      this.add = true;
      this.edit = false;
      this.editData = {};
      this.$refs["employee-documents"].show();
    },
    updateModal(document) {
      this.add = false;
      this.edit = true;
      this.editData = {
        id: document.id,
        documentNumber: document.documentNumber,
        status: {
          id: document.status.id,
          name: document.status.name,
        },
        documentType: {
          id: document.documentType.id,
          name: document.documentType.name,
        },
        placeOfIssue: {
          id: document.placeOfIssue.id,
          name: document.placeOfIssue.name,
        },
        issuedBy: {
          id: document.issuedBy.id,
          name: document.issuedBy.name,
        },
        issueDate: document.issueDate,
        expiryDate: document.expiryDate,
        notify: document.notify,
        document: document.document,
        description: document.description,
      };
      this.$refs["employee-documents"].show();
    },
    handleFileUpload() {
      this.file = this.$refs.document.files[0];
      this.fileDisplayName = this.file.name;
    },
    getData() {
      this.errors = [];
      this.added = false;
      this.updated = false;
      let data = new FormData();
      data.append("user_employee_id", this.employeeId);
      data.append("document_number", this.editData.documentNumber?this.editData.documentNumber:"");
      data.append("document_status_id", this.editData.status?this.editData.status.id:"");
      data.append("document_type_id", this.editData.documentType?this.editData.documentType.id:"");
      data.append("issue_date", this.editData.issueDate?this.editData.issueDate:"");
      data.append("expiry_date", this.editData.expiryDate?this.editData.expiryDate:"");
      data.append("place_of_issue_country_id", this.editData.placeOfIssue?this.editData.placeOfIssue.id:"");
      data.append("issued_by_country_id", this.editData.issuedBy?this.editData.issuedBy.id:"");
      data.append("notify_period_in_days", this.editData.notify?this.editData.notify:"");
      data.append("description", this.editData.description?this.editData.description:"");
      data.append("document", this.file);
      return data;
    },
    async getDocumentTypes() {
      axios
        .get("/document-types/all/data")
        .then((res) => {
          this.documentTypes = res.data;
        })
        .catch((err) => {});
    },
    async getDocumentStatus() {
      axios
        .get("/document-statues/all/data")
        .then((res) => {
          this.documentStatuses = res.data;
        })
        .catch((err) => {});
    },
    addDocument() {
      let t = this;
      axios
        .post("/employees/" + this.employeeId + "/documents", this.getData(), {
          "Content-Type": "multipart/form-data",
        })
        .then((res) => {
          this.$refs["employee-documents"].hide();
          this.added = true;
        })
        .catch((err) => {
          $.each(err.response.data, function (indexMain, errors) {
            $.each(errors, function (index, error) {
              t.errors.push({ error: error });
            });
          });
          this.$bvToast.show("employee-documents-erros");
        });
    },
    updateDocument() {
      let t = this;
      axios
        .post("/employee-documents/" + this.editData.id+"/update", this.getData(), {
          "Content-Type": "multipart/form-data",
        })
        .then((res) => {
          this.$refs["employee-documents"].hide();
          this.added = true;
        })
        .catch((err) => {
          $.each(err.response.data, function (indexMain, errors) {
            $.each(errors, function (index, error) {
              t.errors.push({ error: error });
            });
          });
          this.$bvToast.show("employee-documents-erros");
        });
    },
    hideModal() {
      this.$refs["employee-documents"].hide();
    },
    updateComponent() {
      if (this.added || this.updated) {
        this.$emit("refreshMainTab");
      }
    },
  },
};
</script>
