<template>
  <div>
    <h6 class="text-warning">
      <b>Main </b><small> (Employee Summary)</small>
      <button class="btn btn-primary pull-right ml-auto" @click="showModal">
        <i class="fa fa-pencil-square-o"></i> Edit
      </button>
    </h6>
    <hr />
    <div class="row mb-3">
      <div class="col-3 pull-left">
        <h6>Line Manager</h6>
        <p>
          {{
            tabData.linemanager.name == "" ? "N/A" : tabData.linemanager.name
          }}
        </p>
      </div>
      <div class="col-3 pull-left">
        <h6>Company</h6>
        <p>{{ tabData.company.name == "" ? "N/A" : tabData.company.name }}</p>
      </div>
      <!-- <div class="col-3 pull-left">
        <h6>Sponsor</h6>
        <p>{{ tabData.sponsor.name == "" ? "N/A" : tabData.sponsor.name }}</p>
      </div> -->
      <div class="col-3 pull-left">
        <h6>Pay Group</h6>
        <p>{{ tabData.payGroup.name == "" ? "N/A" : tabData.payGroup.name }}</p>
      </div>
    </div>
    <b-modal
      title="Employee Main Summary"
      ref="employee-main"
      size="md"
      @hidden="updateComponent"
      v-if="editData"
    >
      <b-row>
        <b-col cols="12">
          <div class="form-group">
            <label for="line-manager">Line Manager</label>
            <multiselect
              v-model="editData.linemanager"
              track-by="id"
              label="name"
              placeholder="Select Line Manager"
              :options="linemanagers"
              :allow-empty="true"
              :close-on-select="true"
              :multiple="false"
            >
            </multiselect>
          </div>
        </b-col>
        <b-col cols="12">
          <div class="form-group">
            <label for="company_id">Company</label>
            <multiselect
              v-model="editData.company"
              track-by="id"
              label="name"
              placeholder="Select Company"
              :options="companies"
              :allow-empty="true"
              :close-on-select="true"
              :multiple="false"
              @select="updateValues"
            >
            </multiselect>
          </div>
        </b-col>
      </b-row>

      <b-row>
        <!-- <b-col cols="12">
          <div class="form-group">
            <label for="sponser_id">Sponsor</label>
            <multiselect
              v-model="editData.sponsor"
              track-by="id"
              label="name"
              placeholder="Select Sponsor"
              :options="sponsors"
              :allow-empty="true"
              :close-on-select="true"
              :multiple="false"
            >
            </multiselect>
          </div>
        </b-col> -->
        <b-col cols="12">
          <div class="form-group">
            <label for="pay_group_id">Pay Group</label>
            <multiselect
              v-model="editData.payGroup"
              track-by="id"
              label="name"
              placeholder="Select PayGroup"
              :options="payGroups"
              :allow-empty="true"
              :close-on-select="true"
              :multiple="false"
            >
            </multiselect>
          </div>
        </b-col>
      </b-row>

      <template #modal-footer>
        <div id="dependant_div">
          <button
            type="button"
            class="btn btn-primary"
            @click="updateEmployeMain"
          >
            UPDATE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>
    <b-toast id="main-errors" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
export default {
  components: { Multiselect },
  mounted() {},
  props: {
    tabData: Object,
    employeeId: String,
  },
  created() {
    this.resetData();
    this.getManagers();
    this.getCompanies();
    this.getSponsors();

    if (this.editData.company) {
      this.getPayGroups(this.editData.company);
    }
  },
  data() {
    return {
      editData: {},
      linemanagers: [],
      errors: [],
      companies: [],
      sponsors: [],
      payGroups: [],
      errors: [],
      updated: false,
    };
  },
  methods: {
    showModal() {
      this.resetData();
      this.$refs["employee-main"].show();
    },
    hideModal() {
      this.$refs["employee-main"].hide();
    },
    async getManagers() {
      let t = this;
      t.linemanagers = [];
      axios
        .get("/employees/all/data")
        .then((res) => {
          $.each(res.data.data, function (key, value) {
            t.linemanagers.push({
              id: value.id,
              name: value.name.name,
            });
          });
        })
        .catch((err) => {});
    },
    async getCompanies() {
      axios
        .get("/companies/all/data")
        .then((res) => {
          this.companies = res.data;
        })
        .catch((err) => {});
    },
    async getSponsors() {
      axios
        .get("/sponsors/all/data")
        .then((res) => {
          this.sponsors = res.data;
        })
        .catch((err) => {});
    },
    getPayGroups(company) {
      axios
        .get("/companies/" + company.id + "/pay-groups")
        .then((res) => {
          this.payGroups = res.data;
        })
        .catch((err) => {});
    },
    updateEmployeMain() {
      this.errors = [];
      this.updated = false;
      let t = this;
      let data = {
        pay_group_id:
          this.editData.payGroup != null ? this.editData.payGroup.id : "",
        company_id:
          this.editData.company != null ? this.editData.company.id : "",
        sponsor_id:
          this.editData.sponsor != null ? this.editData.sponsor.id : "",
        line_manager_id:
          this.editData.linemanager != null ? this.editData.linemanager.id : "",
      };
      axios
        .put("/employees/" + this.employeeId + "/main-info", data)
        .then((res) => {
          this.updated = true;
          this.$refs["employee-main"].hide();
        })
        .catch((err) => {
          $.each(err.response.data, function (indexMain, errors) {
            $.each(errors, function (index, error) {
              t.errors.push({ error: error });
            });
          });
          this.$bvToast.show("main-errors");
        });
    },
    updateValues(company) {
      this.getPayGroups(company);
    },
    updateComponent() {
      if (this.updated) {
        this.$emit("refreshMainTab");
      }
    },
    resetData() {
      this.editData = {
        linemanager: this.tabData.linemanager.id!=""?this.tabData.linemanager:"",
        company: this.tabData.company.id!=""?this.tabData.company:"",
        sponsor: this.tabData.sponsor.id!=""?this.tabData.sponsor:"",
        payGroup: this.tabData.payGroup.id!=""?this.tabData.payGroup:"",
      };
    },
  },
};
</script>
