<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Allowances">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Allowances
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              
              <b-table
                :items="allowances"
                :fields="fields"
                stacked="lg"
                show-empty
                large
                hover
                head-variant="dark"
                :striped="true"
                class="text-dark"
                :sortable="false"
                caption-top
                :no-border-collapse="false"
                :sort-by.sync="sortBy"
              >
                <template #cell(status)="row">
                  {{ row.value.status == 1 ? "Active" : "In-Active" }}
                </template>
                <template #cell(action)="row">
                  <b-button
                    type="button"
                    class="text-light js-sweetalert"
                    size="sm"
                    title="Delete"
                    variant="primary"
                    data-type="confirm"
                    :data-value="row.value"
                    data-model="employees"
                    :value="row.value"
                    @click="updateModal(row.item)"
                    ><font-awesome-icon :icon="['fas', 'pen-square']" />
                  </b-button>
                </template>
              </b-table>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>

    <b-modal title="Add Allowance" ref="allowances" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="allowanceName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="allowanceDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="6">
          <b-form-group
            label="Enable as default allowance?"
            label-for="defaultEnable"
          >
            <b-form-checkbox
              id="defaultEnable"
              v-model="allowanceDefaultEnable"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
        <b-col cols="6">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="allowanceStatus"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Enable Remarks?" label-for="enableRemarks">
            <b-form-checkbox
              id="enableRemarks"
              v-model="allowanceEnableRemarks"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>

      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateAllowance"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addAllowance"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>

    <b-toast id="allowances-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="(error, index) in errors" :key="index">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getAllowances();
  },
  data() {
    return {
      errors: [],
      allowances: [],
      editData: {},
      add: false,
      edit: false,
      allowanceId: "",
      allowanceName: "",
      allowanceDescription: "",
      allowanceStatus: true,
      allowanceDefaultEnable: true,
      allowanceEnableRemarks: true,

      //for updating tables
      sortBy: "name",
      fields: [
        ,
        { key: "name", label: "Name", sortable: true, sortDirection: "asc" },
        { key: "description", label: "Description" },
        { key: "status", label: "Status" },
        { key: "action", label: "Action" },
      ],
      sortDesc: false,
      sortDirection: "asc",
    };
  },
  methods: {
    getAllowances() {
      this.allowances = [];
      axios
        .get("/allowances/all/data")
        .then((res) => {
          this.allowances = res.data;
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.allowanceId = "";
      this.allowanceName = "";
      this.allowanceDescription = "";
      this.allowanceStatus = true;
      this.allowanceDefaultEnable = true;
      this.allowanceEnableRemarks = false;
      this.$refs["allowances"].show();
    },
    updateModal(allowance) {
      console.log(allowance); 
      this.add = false;
      this.edit = true;
      this.allowanceId = allowance.id;
      this.allowanceName = allowance.name;
      this.allowanceDescription = allowance.description;
      this.allowanceStatus = allowance.status == 1 ? true : false;
      this.allowanceEnableRemarks =
        allowance.enable_remarks == 1 ? true : false;
      this.allowanceDefaultEnable =
        allowance.default_enable == 1 ? true : false;
      this.$refs["allowances"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        name: this.allowanceName,
        description: this.allowanceDescription,
        status: this.allowanceStatus,
        default_enable: this.allowanceDefaultEnable,
        enable_remarks: this.allowanceEnableRemarks,
      };
      return data;
    },
    addAllowance() {
      let data = this.getData();
      let t = this;
      axios
        .post("/allowances", data)
        .then((res) => {
          this.$refs["allowances"].hide();
          this.getAllowances();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("allowances-erros");
        });
    },
    updateAllowance() {
      let data = this.getData();
      let t = this;
      axios
        .put("/allowances/" + this.allowanceId, data)
        .then((res) => {
          this.$refs["allowances"].hide();
          this.getAllowances();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("allowances-erros");
        });
    },
    hideModal() {
      this.$refs["allowances"].hide();
    },

    //for updating tables
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
  },
};
</script>
