<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Asset Brands">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Asset Brands
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table
                :items="brands"
                :fields="fields"
                stacked="lg"
                show-empty
                large
                hover
                head-variant="dark"
                :striped="true"
                @filtered="onFiltered"
                class="text-dark"
                :sortable="false"
                caption-top
                :no-border-collapse="false"
                :sort-by.sync="sortBy"
              >
                <template #cell(status)="row">
                  {{ row.value.status == 1 ? "Active" : "In-Active" }}
                </template>
                <template #cell(action)="row">
                  <b-button
                    type="button"
                    class="text-light js-sweetalert"
                    size="sm"
                    title="Delete"
                    variant="primary"
                    data-type="confirm"
                    :data-value="row.value"
                    data-model="employees"
                    :value="row.value"
                    @click="updateModal(row.item)"
                    ><font-awesome-icon :icon="['fas', 'pen-square']" />
                  </b-button>
                </template>
              </b-table>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>

    <b-modal title="Add Asset Brand" ref="asset-brands" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="brandName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="brandDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="6">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="brandStatus"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      

      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateBrand"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addBrand"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>

    <b-toast id="asset-brands-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="(error, index) in errors" :key="index">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getAssetBrands();
  },
  data() {
    return {
      errors: [],
      brands: [],
      editData: {},
      add: false,
      edit: false,
      brandId: "",
      brandName: "",
      brandDescription: "",
      brandStatus: true,
      //for updating tables
      sortBy: "name",
      fields: [
        ,
        { key: "name", label: "Name", sortable: true, sortDirection: "asc" },
        { key: "description", label: "Description" },
        { key: "status", label: "Status" },
        { key: "action", label: "Action" },
      ],
      sortDesc: false,
      sortDirection: "asc",
    };
  },
  methods: {
    getAssetBrands() {
      this.allowances = [];
      axios
        .get("/asset-brands/all/data")
        .then((res) => {
          this.brands = res.data;
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.allowanceId = "";
      this.brandName = "";
      this.brandDescription = "";
      this.brandStatus = true;
      this.brandDefaultEnable = true;
      this.brandEnableRemarks = false;
      this.$refs["asset-brands"].show();
    },
    updateModal(allowance) {
      this.add = false;
      this.edit = true;
      this.brandId = allowance.id;
      this.brandName = allowance.name;
      this.brandDescription = allowance.description;
      this.brandStatus = allowance.status == 1 ? true : false;
      this.$refs["asset-brands"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        name: this.brandName,
        description: this.brandDescription,
        status: this.brandStatus,
      };
      return data;
    },
    addBrand() {
      let data = this.getData();
      let t = this;
      axios
        .post("/asset-brands", data)
        .then((res) => {
          this.$refs["asset-brands"].hide();
          this.getAssetBrands();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("asset-brands-erros");
        });
    },
    updateBrand() {
      let data = this.getData();
      let t = this;
      axios
        .put("/asset-brands/" + this.brandId, data)
        .then((res) => {
          this.$refs["asset-brands"].hide();
          this.getAssetBrands();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("asset-brands-erros");
        });
    },
    hideModal() {
      this.$refs["asset-brands"].hide();
    },
  },
};
</script>
