<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Conditions">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Condition
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">

              <b-table
                :items="conditions"
                :fields="fields"
                stacked="lg"
                show-empty
                large
                hover
                head-variant="dark"
                :striped="true"
                class="text-dark"
                :sortable="false"
                caption-top
                :no-border-collapse="false"
                :sort-by.sync="sortBy"
              >
                <template #cell(status)="row">
                  {{ row.value.status == 1 ? "Active" : "In-Active" }}
                </template>
                <template #cell(action)="row">
                  <b-button
                    type="button"
                    class="text-light js-sweetalert"
                    size="sm"
                    title="Delete"
                    variant="primary"
                    data-type="confirm"
                    :data-value="row.value"
                    data-model="employees"
                    :value="row.value"
                    @click="updateModal(row.item)"
                    ><font-awesome-icon :icon="['fas', 'pen-square']" />
                  </b-button>
                </template>
              </b-table>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>

    <b-modal title="Add Asset Condition" ref="asset-conditions" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="conditionName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="conditionDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="6">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="conditionStatus"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      

      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateCondition"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addCondition"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>

    <b-toast id="asset-conditions-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="(error, index) in errors" :key="index">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getAssetConditions();
  },
  data() {
    return {
      errors: [],
      conditions: [],
      editData: {},
      add: false,
      edit: false,
      conditionId: "",
      conditionName: "",
      conditionDescription: "",
      conditionStatus: true,
      //for updating tables
      sortBy: "name",
      fields: [
        ,
        { key: "name", label: "Name", sortable: true, sortDirection: "asc" },
        { key: "description", label: "Description" },
        { key: "status", label: "Status" },
        { key: "action", label: "Action" },
      ],
      sortDesc: false,
      sortDirection: "asc",
    };
  },
  methods: {
    getAssetConditions() {
      this.conditions = [];
      axios
        .get("/asset-conditions/all/data")
        .then((res) => {
          this.conditions = res.data;
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.conditionId = "";
      this.conditionName = "";
      this.conditionDescription = "";
      this.conditionStatus = true;
      this.$refs["asset-conditions"].show();
    },
    updateModal(condition) {
      this.add = false;
      this.edit = true;
      this.conditionId = condition.id;
      this.conditionName = condition.name;
      this.conditionDescription = condition.description;
      this.conditionStatus = condition.status == 1 ? true : false;
      this.$refs["asset-conditions"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        name: this.conditionName,
        description: this.conditionDescription,
        status: this.conditionStatus,
      };
      return data;
    },
    addCondition() {
      let data = this.getData();
      let t = this;
      axios
        .post("/asset-conditions", data)
        .then((res) => {
          this.$refs["asset-conditions"].hide();
          this.getAssetConditions();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("asset-conditions-erros");
        });
    },
    updateCondition() {
      let data = this.getData();
      let t = this;
      axios
        .put("/asset-conditions/" + this.conditionId, data)
        .then((res) => {
          this.$refs["asset-conditions"].hide();
          this.getAssetBrands();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("asset-conditions-erros");
        });
    },
    hideModal() {
      this.$refs["asset-conditions"].hide();
    },
  },
};
</script>
