<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Attendance Status">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Attendance Status
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
            <b-table
                :items="attendanceStatuses"
                :fields="fields"
                stacked="lg"
                show-empty
                large
                hover
                head-variant="dark"
                :striped="true"
                class="text-dark"
                :sortable="false"
                caption-top
                :no-border-collapse="false"
                :sort-by.sync="sortBy"
              >
                <template #cell(status)="row">
                  {{ row.value.status == 1 ? "Active" : "In-Active" }}
                </template>

                <template #cell(is_present)="row">
                  {{ row.value.is_present == 1 ? "Yes" : "No" }}
                </template>

                <template #cell(on_leave)="row">
                  {{ row.value.on_leave == 1 ? "Yes" : "No" }}
                </template>
                <template #cell(action)="row">
                  <b-button
                    type="button"
                    class="text-light js-sweetalert"
                    size="sm"
                    title="Delete"
                    variant="primary"
                    data-type="confirm"
                    :data-value="row.value"
                    data-model="employees"
                    :value="row.value"
                    @click="updateModal(row.item)"
                    ><font-awesome-icon :icon="['fas', 'pen-square']" />
                  </b-button>
                </template>
              </b-table>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
    <b-modal title="Attendance Status" ref="attendance-statuse" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="attendanceStatusName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="attendanceStatusDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="4">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="status"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
        <b-col cols="4">
          <b-form-group label="Is Present?" label-for="isPresent">
            <b-form-checkbox
              id="isPresent"
              v-model="attendanceIsPresent"
              :value="true"
              :unchecked-value="false"
              >Is Present?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
        <b-col cols="4">
          <b-form-group label="On Leave?" label-for="onleave">
            <b-form-checkbox
              id="onleave"
              v-model="attendanceOnLeave"
              :value="true"
              :unchecked-value="false"
              >On Leave?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateAttendanceStatus"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addAttendanceStatus"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>
    <b-toast id="attendanceStatuss-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="(error, index) in errors" :key="index">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getAttendanceStatuses();
  },
  data() {
    return {
      assets: [],
      errors: [],
      attendanceStatuses: [],
      editData: {},
      add: false,
      edit: false,
      attendanceStatusId: "",
      attendanceStatusName: "",
      attendanceStatusDescription: "",
      status: true,
      attendanceIsPresent: false,
      attendanceOnLeave: false,
      //for updating tables
      sortBy: "name",
      fields: [
        ,
        { key: "name", label: "Name", sortable: true, sortDirection: "asc" },
        { key: "description", label: "Description" },
        { key: "status", label: "Status" },
        { key: "is_present", label: "Is Present" },
        { key: "on_leave", label: "On Leave" },
        { key: "action", label: "Action" },
      ],
      sortDesc: false,
      sortDirection: "asc",
    };
  },
  methods: {
    getAttendanceStatuses() {
      this.attendanceStatuss = [];
      axios
        .get("/attendance-statuses/all/data")
        .then((res) => {
          this.attendanceStatuses = res.data;
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.attendanceStatusId = "";
      this.attendanceStatusName = "";
      this.attendanceStatusDescription = "";
      this.attendanceStatusStatus = true;
      this.attendanceIsPresent = false;
      this.attendanceOnLeave = false;
      this.$refs["attendance-statuse"].show();
    },
    updateModal(attendanceStatus) {
      this.add = false;
      this.edit = true;
      this.attendanceStatusId = attendanceStatus.id;
      this.attendanceStatusName = attendanceStatus.name;
      this.attendanceStatusDescription = attendanceStatus.description;
      this.status = attendanceStatus.status == 1 ? true : false;
      this.attendanceIsPresent = attendanceStatus.is_present == 1 ? true : false;
      this.attendanceOnLeave = attendanceStatus.on_leave == 1 ? true : false;
      this.$refs["attendance-statuse"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        name: this.attendanceStatusName,
        description: this.attendanceStatusDescription,
        status: this.status,
        is_present: this.attendanceIsPresent,
        on_leave: this.attendanceOnLeave,
      };
      return data;
    },
    addAttendanceStatus() {
      let data = this.getData();
      let t = this;
      axios
        .post("/attendance-statuses", data)
        .then((res) => {
          this.$refs["attendance-statuse"].hide();
          this.getAttendanceStatuses();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("attendanceStatuss-erros");
        });
    },
    updateAttendanceStatus() {
      let data = this.getData();
      let t = this;
      axios
        .put("/attendance-statuses/" + this.attendanceStatusId, data)
        .then((res) => {
          this.$refs["attendance-statuse"].hide();
          this.getAttendanceStatuses();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("attendanceStatuss-erros");
        });
    },
    hideModal() {
      this.$refs["attendance-statuse"].hide();
    },
  },
};
</script>
