<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Categories">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Category
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table-simple
                striped
                large
                caption-top
                :no-border-collapse="false"
                v-if="categories.length > 0"
              >
                <b-thead class="thead-dark text-light">
                  <b-tr>
                    <b-th>Name</b-th>
                    <b-th>Description</b-th>
                    <b-th>Status</b-th>
                    <b-th>Actions</b-th>
                  </b-tr>
                </b-thead>
                <b-tbody class="text-dark">
                  <b-tr v-for="(category, index) in categories" :key="index">
                    <b-td>{{ category.name }}</b-td>
                    <b-td>{{ category.description }}</b-td>
                    <b-td>{{ (category.status == 1)? 'Active' : 'In-Active' }}</b-td>
                    <b-td>
                      <b-button
                        size="sm"
                        variant="primary"
                        @click="updateModal(category)"
                      >
                        <font-awesome-icon :icon="['fas', 'pen-square']" />
                        Edit
                      </b-button>
                    </b-td>
                  </b-tr>
                </b-tbody>
              </b-table-simple>
              <div v-else>
                <b-row>
                  <b-col cols="12 text-center">
                    <i class="fa fa-spin fa-spinner fa-5x"></i>
                  </b-col>
                </b-row>
              </div>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
    <b-modal title="Add Category" ref="categories" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="categoryName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="categoryDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="categoryStatus"
              :value="true"
              :unchecked-value="false"
            >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateCategory"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addCategory"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>
    <b-toast id="categories-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getCategories();
  },
  data() {
    return {
      assets: [],
      errors: [],
      categories: [],
      editData: {},
      add: false,
      edit: false,
      categoryId: "",
      categoryName: "",
      categoryDescription: "",
      categoryStatus: true,
    };
  },
  methods: {
    getCategories() {
      this.categories = [];
      axios
        .get("/employee-categories/all/data")
        .then((res) => {
          this.categories = res.data;
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.categoryId = "";
      this.categoryName = "";
      this.categoryDescription = "";
      this.categoryStatus = true;
      this.$refs["categories"].show();
    },
    updateModal(category) {
      this.add = false;
      this.edit = true;
      this.categoryId = category.id;
      this.categoryName = category.name;
      this.categoryDescription = category.description;
      this.categoryStatus = category.status == 1 ? true:false;
      this.$refs["categories"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        name: this.categoryName,
        description: this.categoryDescription,
        status:this.categoryStatus,
      };
      return data;
    },
    addCategory() {
      let data = this.getData();
      let t = this;
      axios
        .post("/employee-categories", data)
        .then((res) => {
          this.$refs["categories"].hide();
          this.getCategories();
        })
        .catch((err) => {
            console.log(err);
          $.each(err.response.data, function (indexMain, errors) {
            $.each(errors, function (index, error) {
              t.errors.push({ error: error });
            });
          });
          this.$bvToast.show("categories-erros");
        });
    },
    updateCategory() {
      let data = this.getData();
      let t = this;
      axios
        .put("/employee-categories/" + this.categoryId, data)
        .then((res) => {
          this.$refs["categories"].hide();
          this.getCategories();
        })
        .catch((err) => {
          $.each(err.response.data, function (indexMain, errors) {
            $.each(errors, function (index, error) {
              t.errors.push({ error: error });
            });
          });
          this.$bvToast.show("categories-erros");
        });
    },
    hideModal() {
      this.$refs["categories"].hide();
    },
  },
};
</script>
