<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Cities">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add City
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table-simple
                striped
                large
                caption-top
                :no-border-collapse="false"
                v-if="cities.length > 0"
              >
                <b-thead class="thead-dark text-light">
                  <b-tr>
                    <b-th>Name</b-th>
                    <b-th>Country</b-th>
                    <b-th>Description</b-th>
                    <b-th>Status</b-th>
                    <b-th>Actions</b-th>
                  </b-tr>
                </b-thead>
                <b-tbody class="text-dark">
                  <b-tr v-for="(city, index) in cities" :key="index">
                    <b-td>{{ city.name }}</b-td>
                    <b-td>{{ city.country.name }}</b-td>
                    <b-td>{{ city.description }}</b-td>
                    <b-td>{{ city.status == 1 ? "Active" : "In-Active" }}</b-td>
                    <b-td>
                      <b-button
                        size="sm"
                        variant="primary"
                        @click="updateModal(city)"
                      >
                        <font-awesome-icon :icon="['fas', 'pen-square']" />
                        Edit
                      </b-button>
                    </b-td>
                  </b-tr>
                </b-tbody>
              </b-table-simple>
              <div v-else>
                <b-row>
                  <b-col cols="12 text-center">
                    <i class="fa fa-spin fa-spinner fa-5x"></i>
                  </b-col>
                </b-row>
              </div>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
    
    <b-modal title="cities" ref="cities" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Country" label-for="country">
            <b-form-select
              v-model="countryId"
              :options="countries"
            ></b-form-select>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="cityName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="cityDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="cityStatus"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateCity"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addCity"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>

    <b-toast id="cities-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="(error, index) in errors" :key="index">{{ error.error }}</li>
      </ul>
    </b-toast>
    
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getCities();
    this.getCountires();
  },
  data() {
    return {
      cities: [],
      errors: [],
      countries: [],
      editData: {},
      add: false,
      edit: false,
      cityId: "",
      countryId: null,
      cityName: "",
      cityDescription: "",
      cityStatus: true,
    };
  },
  methods: {
    getCities() {
      this.cities = [];
      axios
        .get("/cities/all/data")
        .then((res) => {
          this.cities = res.data;
        })
        .catch((err) => {});
    },
    getCountires() {
      this.countries = [{ value: null, text: "Select Country" }];
      axios
        .get("/countries/all/data")
        .then((res) => {
          res.data.forEach((country) => {
            this.countries.push({
              value: country.id,
              text: country.name,
            });
          });
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.cityId = "";
      this.cityName = "";
      this.cityDescription = "";
      this.cityStatus = true;
      this.$refs["cities"].show();
    },
    updateModal(city) {
      this.add = false;
      this.edit = true;
      this.cityId = city.id;
      this.countryId = city.country.id;
      this.cityName = city.name;
      this.cityDescription = city.description;
      this.cityStatus = city.status == 1 ? true : false;
      this.$refs["cities"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        name: this.cityName,
        country_id: this.countryId,
        description: this.cityDescription,
        status: this.cityStatus,
      };
      return data;
    },
    addCity() {
      let data = this.getData();
      let t = this;
      axios
        .post("/cities", data)
        .then((res) => {
          this.$refs["cities"].hide();
          this.getCities();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("cities-erros");
        });
    },
    updateCity() {
      let data = this.getData();
      let t = this;
      axios
        .put("/cities/" + this.cityId, data)
        .then((res) => {
          this.$refs["cities"].hide();
          this.getCities();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("cities-erros");
        });
    },
    hideModal() {
      this.$refs["cities"].hide();
    },
  },
};
</script>
