<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Accounts">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Accounts
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table-simple
                striped
                large
                caption-top
                :no-border-collapse="false"
                v-if="accounts.length > 0"
              >
                <b-thead class="thead-dark text-light">
                  <b-tr>
                    <b-th>Name</b-th>
                    <b-th>Description</b-th>
                    <b-th>Status</b-th>
                    <b-th>Actions</b-th>
                  </b-tr>
                </b-thead>
                <b-tbody class="text-dark">
                  <b-tr
                    v-for="(account, index) in accounts"
                    :key="index"
                  >
                    <b-td>{{ account.name }}</b-td>
                    <b-td>{{ account.description }}</b-td>
                    <b-td>{{
                      account.status == 1 ? "Active" : "In-Active"
                    }}</b-td>
                    <b-td>
                      <b-button
                        size="sm"
                        variant="primary"
                        @click="updateModal(account)"
                      >
                        <font-awesome-icon :icon="['fas', 'pen-square']" />
                        Edit
                      </b-button>
                    </b-td>
                  </b-tr>
                </b-tbody>
              </b-table-simple>
              <div v-else>
                <b-row>
                  <b-col cols="12 text-center">
                    <i class="fa fa-spin fa-spinner fa-5x"></i>
                  </b-col>
                </b-row>
              </div>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>

    <b-modal title="Add Account" ref="accounts" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="accountName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="accountDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="accountStatus"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateAccount"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addAccount"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>

    <b-toast id="accounts-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="(error, index) in errors" :key="index">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getAccounts();
  },
  data() {
    return {
      accounts: [],
      errors: [],
      editData: {},
      add: false,
      edit: false,
      accountId: "",
      accountName: "",
      accountDescription: "",
      accountStatus: true,
    };
  },
  methods: {
    getAccounts() {
      this.accounts = [];
      axios
        .get("/accounts/all/data")
        .then((res) => {
          this.accounts = res.data;
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.accountId = "";
      this.accountName = "";
      this.accountDescription = "";
      this.accountStatus = true;
      this.$refs["accounts"].show();
    },
    updateModal(account) {
      this.add = false;
      this.edit = true;
      this.accountId = account.id;
      this.accountName = account.name;
      this.accountDescription = account.description;
      this.accountStatus = account.status == 1 ? true : false;
      this.$refs["accounts"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        name: this.accountName,
        description: this.accountDescription,
        status: this.accountStatus,
      };
      return data;
    },
    addAccount() {
      let data = this.getData();
      let t = this;
      axios
        .post("/accounts", data)
        .then((res) => {
          this.$refs["accounts"].hide();
          this.getAccounts();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("accounts-erros");
        });
    },
    updateAccount() {
      let data = this.getData();
      let t = this;
      axios
        .put("/accounts/" + this.accountId, data)
        .then((res) => {
          this.$refs["accounts"].hide();
          this.getAccounts();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("accounts-erros");
        });
    },
    hideModal() {
      this.$refs["accounts"].hide();
    },
  },
};
</script>