<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Contract Types">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Contract Type
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table-simple
                striped
                large
                caption-top
                :no-border-collapse="false"
                v-if="types.length > 0"
              >
                <b-thead class="thead-dark text-light">
                  <b-tr>
                    <b-th>Name</b-th>
                    <b-th>Description</b-th>
                    <b-th>Status</b-th>
                    <b-th>For Permanent Employees</b-th>
                    <b-th>Actions</b-th>
                  </b-tr>
                </b-thead>
                <b-tbody class="text-dark">
                  <b-tr v-for="(type, index) in types" :key="index">
                    <b-td>{{ type.name }}</b-td>
                    <b-td>{{ type.description }}</b-td>
                    <b-td>{{ type.status == 1 ? "Active" : "In-Active" }}</b-td>
                    <b-td>{{ type.is_permanent == 1 ? "Yes" : "No" }}</b-td>
                    <b-td>
                      <b-button
                        size="sm"
                        variant="primary"
                        @click="updateModal(type)"
                      >
                        <font-awesome-icon :icon="['fas', 'pen-square']" />
                        Edit
                      </b-button>
                    </b-td>
                  </b-tr>
                </b-tbody>
              </b-table-simple>
              <div v-else>
                <b-row>
                  <b-col cols="12 text-type">
                    <i class="fa fa-spin fa-spinner fa-5x"></i>
                  </b-col>
                </b-row>
              </div>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>

    <b-modal title="Add Contract Type" ref="types" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="typeName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="typeDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="6">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="typeStatus"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
        <b-col cols="6">
          <b-form-group label="For permanent employees?" label-for="isPermanent">
            <b-form-checkbox
              id="isPermanent"
              v-model="typeIsPermanent"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateType"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addType"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>

    <b-toast id="types-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getTypes();
  },
  data() {
    return {
      assets: [],
      errors: [],
      types: [],
      editData: {},
      add: false,
      edit: false,
      typeId: "",
      typeName: "",
      typeDescription: "",
      typeStatus: true,
      typeIsPermanent: false,
    };
  },
  methods: {
    getTypes() {
      this.types = [];
      axios
        .get("/contract-types/all/data")
        .then((res) => {
          this.types = res.data;
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.typeId = "";
      this.typeName = "";
      this.typeDescription = "";
      this.typeStatus = true;
      this.typeIsPermanent = false;
      this.$refs["types"].show();
    },
    updateModal(type) {
      this.add = false;
      this.edit = true;
      this.typeId = type.id;
      this.typeName = type.name;
      this.typeDescription = type.description;
      this.typeStatus = type.status == 1 ? true : false;
      this.typeIsPermanent = type.is_permanent == 1 ? true : false;
      this.$refs["types"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        name: this.typeName,
        description: this.typeDescription,
        status: this.typeStatus,
        is_permanent: this.typeIsPermanent,
      };
      return data;
    },
    addType() {
      let data = this.getData();
      let t = this;
      axios
        .post("/contract-types", data)
        .then((res) => {
          this.$refs["types"].hide();
          this.getTypes();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("types-erros");
        });
    },
    updateType() {
      let data = this.getData();
      let t = this;
      axios
        .put("/contract-types/" + this.typeId, data)
        .then((res) => {
          this.$refs["types"].hide();
          this.getTypes();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("types-erros");
        });
    },
    hideModal() {
      this.$refs["types"].hide();
    },
  },
};
</script>