<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Cost Centers">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Cost Centers
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table-simple
                striped
                large
                caption-top
                :no-border-collapse="false"
                v-if="centers.length > 0"
              >
                <b-thead class="thead-dark text-light">
                  <b-tr>
                    <b-th>Name</b-th>
                    <b-th>Description</b-th>
                    <b-th>Status</b-th>
                    <b-th>Actions</b-th>
                  </b-tr>
                </b-thead>
                <b-tbody class="text-dark">
                  <b-tr v-for="(center, index) in centers" :key="index">
                    <b-td>{{ center.name }}</b-td>
                    <b-td>{{ center.description }}</b-td>
                    <b-td>{{ center.status == 1 ? "Active" : "In-Active" }}</b-td>
                    <b-td>
                      <b-button
                        size="sm"
                        variant="primary"
                        @click="updateModal(center)"
                      >
                        <font-awesome-icon :icon="['fas', 'pen-square']" />
                        Edit
                      </b-button>
                    </b-td>
                  </b-tr>
                </b-tbody>
              </b-table-simple>
              <div v-else>
                <b-row>
                  <b-col cols="12 text-center">
                    <i class="fa fa-spin fa-spinner fa-5x"></i>
                  </b-col>
                </b-row>
              </div>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
    <b-modal title="Add Cost Center" ref="centers" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="centerName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="centerDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="centerStatus"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateCenter"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addCenter"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>
    <b-toast id="centers-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getCenters();
  },
  data() {
    return {
      assets: [],
      errors: [],
      centers: [],
      editData: {},
      add: false,
      edit: false,
      centerId: "",
      centerName: "",
      centerDescription: "",
      centerStatus: true,
    };
  },
  methods: {
    getCenters() {
      this.centers = [];
      axios
        .get("/cost-centers/all/data")
        .then((res) => {
          this.centers = res.data;
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.centerId = "";
      this.centerName = "";
      this.centerDescription = "";
      this.centerStatus = true;
      this.$refs["centers"].show();
    },
    updateModal(center) {
      this.add = false;
      this.edit = true;
      this.centerId = center.id;
      this.centerName = center.name;
      this.centerDescription = center.description;
      this.centerStatus = center.status == 1 ? true : false;
      this.$refs["centers"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        name: this.centerName,
        description: this.centerDescription,
        status: this.centerStatus,
      };
      return data;
    },
    addCenter() {
      let data = this.getData();
      let t = this;
      axios
        .post("/cost-centers", data)
        .then((res) => {
          this.$refs["centers"].hide();
          this.getCenters();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("centers-erros");
        });
    },
    updateCenter() {
      let data = this.getData();
      let t = this;
      axios
        .put("/cost-centers/" + this.centerId, data)
        .then((res) => {
          this.$refs["centers"].hide();
          this.getCenters();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("centers-erros");
        });
    },
    hideModal() {
      this.$refs["centers"].hide();
    },
  },
};
</script>