<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card :title="pageTitle">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add {{ pageTitle }}
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table
                :items="countries"
                :fields="fields"
                :current-page="currentPage"
                :per-page="perPage"
                :filter="filter"
                :filter-included-fields="filterOn"
                stacked="lg"
                show-empty
                large
                hover
                head-variant="dark"
                :striped="true"
                @filtered="onFiltered"
                class="text-dark"
                :sortable="false"
                caption-top
                :no-border-collapse="false"
                v-if="countries.length > 0"
                :sort-by.sync="sortBy"
              >
                <template #cell(status)="row">
                  {{ row.value.status == 1 ?'Active':'In-Active' }}
                </template>
                <template #cell(action)="row">
                  <b-button
                    type="button"
                    class="text-light js-sweetalert"
                    size="sm"
                    title="Delete"
                    variant="primary"
                    data-type="confirm"
                    :data-value="row.value"
                    data-model="employees"
                    :value="row.value"
                    @click="updateModal(country)"
                    ><font-awesome-icon :icon="['fas', 'pen-square']" />
                  </b-button>
                </template>
                </b-table>
                <!-- <b-thead class="thead-dark text-light">
                  <b-tr>
                    <b-th>Name</b-th>
                    <b-th>Description</b-th>
                    <b-th>Status</b-th>
                    <b-th>Actions</b-th>
                  </b-tr>
                </b-thead>
                <b-tbody class="text-dark">
                  <b-tr v-for="(country, index) in countries" :key="index">
                    <b-td>{{ country.name }}</b-td>
                    <b-td>{{ country.description }}</b-td>
                    <b-td>{{
                      country.status == 1 ? "Active" : "In-Active"
                    }}</b-td>
                    <b-td>
                      <b-button
                        size="sm"
                        variant="primary"
                        @click="updateModal(country)"
                      >
                        <font-awesome-icon :icon="['fas', 'pen-square']" />
                        Edit
                      </b-button>
                    </b-td>
                  </b-tr>
                </b-tbody> -->
              
              <div v-else>
                <b-row>
                  <b-col cols="12 text-center">
                    <i class="fa fa-spin fa-spinner fa-5x"></i>
                  </b-col>
                </b-row>
              </div>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
    <b-modal :title="modalTitle" ref="countries" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="countryName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="countryDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="countryStatus"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateCountry"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addCountry"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>
    <b-toast id="countries-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getCountries();
  },
  props: {
    pageTitle: {
      type: String,
      default: "Countries",
      required: false,
    },
  },
  data() {
    return {
      assets: [],
      errors: [],
      countries: [],
      editData: {},
      add: false,
      edit: false,
      countryId: "",
      countryName: "",
      countryDescription: "",
      countryStatus: true,
      modalTitle: "",
      sortBy: "name",
      fields: [
        ,
        { key: "name", label: "Name", sortable: true, sortDirection: "asc" },
        { key: "description", label: "Description" },
        { key: "status", label: "Status" },
        { key: "action", label: "Action" },
      ],
      totalRows: 0,
      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 20, 30, 50],
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
    };
  },
  methods: {
    getCountries() {
      this.countries = [];
      axios
        .get("/countries/all/data")
        .then((res) => {
          this.countries = res.data;
          this.totalRows = this.countries.length;
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.countryId = "";
      this.countryName = "";
      this.countryDescription = "";
      this.countryStatus = true;
      this.modalTitle = "Add " + this.pageTitle;
      this.$refs["countries"].show();
    },
    updateModal(country) {
      this.add = false;
      this.edit = true;
      this.countryId = country.id;
      this.countryName = country.name;
      this.countryDescription = country.description;
      this.countryStatus = country.status == 1 ? true : false;
      this.modalTitle = "Update " + this.pageTitle;
      this.$refs["countries"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        name: this.countryName,
        description: this.countryDescription,
        status: this.countryStatus,
      };
      return data;
    },
    addCountry() {
      let data = this.getData();
      let t = this;
      axios
        .post("/countries", data)
        .then((res) => {
          this.$refs["countries"].hide();
          this.getCountries();
        })
        .catch((err) => {
          $.each(err.response.data, function (indexMain, errors) {
            $.each(errors, function (index, error) {
              t.errors.push({ error: error });
            });
          });
          this.$bvToast.show("countries-erros");
        });
    },
    updateCountry() {
      let data = this.getData();
      let t = this;
      axios
        .put("/countries/" + this.countryId, data)
        .then((res) => {
          this.$refs["countries"].hide();
          this.getCountries();
        })
        .catch((err) => {
          $.each(err.response.data, function (indexMain, errors) {
            $.each(errors, function (index, error) {
              t.errors.push({ error: error });
            });
          });
          this.$bvToast.show("countries-erros");
        });
    },
    hideModal() {
      this.$refs["countries"].hide();
    },
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
  },
};
</script>
