<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Currencies">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Currency
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table-simple
                striped
                large
                caption-top
                :no-border-collapse="false"
                v-if="currencies.length > 0"
              >
                <b-thead class="thead-dark text-light">
                  <b-tr>
                    <b-th>Name</b-th>
                    <b-th>Symbol</b-th>
                    <b-th>Description</b-th>
                    <b-th>Status</b-th>
                    <b-th>Actions</b-th>
                  </b-tr>
                </b-thead>
                <b-tbody class="text-dark">
                  <b-tr
                    v-for="(currency, index) in currencies"
                    :key="index"
                  >
                    <b-td>{{ currency.name }}</b-td>
                    <b-td>{{ currency.symbol }}</b-td>
                    <b-td>{{ currency.description }}</b-td>
                    <b-td>{{
                      currency.status == 1 ? "Active" : "In-Active"
                    }}</b-td>
                    <b-td>
                      <b-button
                        size="sm"
                        variant="primary"
                        @click="updateModal(currency)"
                      >
                        <font-awesome-icon :icon="['fas', 'pen-square']" />
                        Edit
                      </b-button>
                    </b-td>
                  </b-tr>
                </b-tbody>
              </b-table-simple>
              <div v-else>
                <b-row>
                  <b-col cols="12 text-center">
                    <i class="fa fa-spin fa-spinner fa-5x"></i>
                  </b-col>
                </b-row>
              </div>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
    <b-modal :title="modalTitle" ref="currencies" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="currencyName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Symbol" label-for="symbol">
            <input
              id="symbol"
              type="text"
              v-model="currencySymbol"
              class="form-control"
              placeholder="Symbol"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="currencyDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="currencyStatus"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateCurrency"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addCurrency"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>
    <b-toast id="currencies-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="(error, index) in errors" :key="index">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getCurrencies();
  },
  data() {
    return {
      currencies: [],
      errors: [],
      editData: {},
      add: false,
      edit: false,
      currencyId: "",
      currencyName: "",
      currencySymbol: "",
      currencyDescription: "",
      currencyStatus: true,
      modalTitle:""
    };
  },
  methods: {
    getCurrencies() {
      this.currencies = [];
      axios
        .get("/currencies/all/data")
        .then((res) => {
          this.currencies = res.data;
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.currencyId = "";
      this.currencyName = "";
      this.currencyDescription = "";
      this.currencySymbol = "";
      this.currencyStatus = true;
      this.modalTitle = "Add Currecny";
      this.$refs["currencies"].show();
    },
    updateModal(currency) {
      this.add = false;
      this.edit = true;
      this.currencyId = currency.id;
      this.currencyName = currency.name;
      this.currencyDescription = currency.description;
      this.currencySymbol = currency.symbol;
      this.currencyStatus = currency.status == 1 ? true : false;
      this.modalTitle = "Update Currecny";
      this.$refs["currencies"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        name: this.currencyName,
        symbol: this.currencySymbol,
        description: this.currencyDescription,
        status: this.currencyStatus,
      };
      return data;
    },
    addCurrency() {
      let data = this.getData();
      let t = this;
      axios
        .post("/currencies", data)
        .then((res) => {
          this.$refs["currencies"].hide();
          this.getCurrencies();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("currencies-erros");
        });
    },
    updateCurrency() {
      let data = this.getData();
      let t = this;
      axios
        .put("/currencies/" + this.currencyId, data)
        .then((res) => {
          this.$refs["currencies"].hide();
          this.getCurrencies();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("currencies-erros");
        });
    },
    hideModal() {
      this.$refs["currencies"].hide();
    },
  },
};
</script>