<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Deductables">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Deductables
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table
                :items="deductables"
                :fields="fields"
                stacked="lg"
                show-empty
                large
                hover
                head-variant="dark"
                :striped="true"
                class="text-dark"
                :sortable="false"
                caption-top
                :no-border-collapse="false"
                :sort-by.sync="sortBy"
              >
                <template #cell(status)="row">
                  {{ row.value.status == 1 ? "Active" : "In-Active" }}
                </template>
                <template #cell(action)="row">
                  <b-button
                    type="button"
                    class="text-light js-sweetalert"
                    size="sm"
                    title="Delete"
                    variant="primary"
                    data-type="confirm"
                    :data-value="row.value"
                    data-model="employees"
                    :value="row.value"
                    @click="updateModal(row.item)"
                    ><font-awesome-icon :icon="['fas', 'pen-square']" />
                  </b-button>
                </template>
              </b-table>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
    <b-modal title="Add Deductable " ref="deductables" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="deductableName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="deductableDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="6">
          <b-form-group label="Enable as default deductable?" label-for="defaultEnable">
            <b-form-checkbox
              id="defaultEnable"
              v-model="deductableDefaultEnable"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
        <b-col cols="6">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="deductableStatus"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Enable Remarks?" label-for="enableRemarks">
            <b-form-checkbox
              id="enableRemarks"
              v-model="deductableEnableRemarks"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateDeductable"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addDeductable"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>
    <b-toast id="deductables-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="(error, index) in errors" :key="index">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getDeductables();
  },
  data() {
    return {
      errors: [],
      deductables: [],
      editData: {},
      add: false,
      edit: false,
      deductableId: "",
      deductableName: "",
      deductableDescription: "",
      deductableStatus: true,
      deductableDefaultEnable: true,
      deductableEnableRemarks: true,
      //for updating tables
      sortBy: "name",
      fields: [
        ,
        { key: "name", label: "Name", sortable: true, sortDirection: "asc" },
        { key: "description", label: "Description" },
        { key: "status", label: "Status" },
        { key: "action", label: "Action" },
      ],
      sortDesc: false,
      sortDirection: "asc",
    };
  },
  methods: {
    getDeductables() {
      this.deductables = [];
      axios
        .get("/deductables/all/data")
        .then((res) => {
          this.deductables = res.data;
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.deductableId = "";
      this.deductableName = "";
      this.deductableDescription = "";
      this.deductableStatus = true;
      this.deductableDefaultEnable = true;
      this.deductableEnableRemarks = false;
      this.$refs["deductables"].show();
    },
    updateModal(deductable) {
      this.add = false;
      this.edit = true;
      this.deductableId = deductable.id;
      this.deductableName = deductable.name;
      this.deductableDescription = deductable.description;
      this.deductableStatus = deductable.status == 1 ? true : false;
      this.deductableEnableRemarks = deductable.enable_remarks == 1 ? true : false;
      this.deductableDefaultEnable =
        deductable.default_enable == 1 ? true : false;
      this.$refs["deductables"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        name: this.deductableName,
        description: this.deductableDescription,
        status: this.deductableStatus,
        default_enable: this.deductableDefaultEnable,
        enable_remarks: this.deductableEnableRemarks,
      };
      return data;
    },
    addDeductable() {
      let data = this.getData();
      let t = this;
      axios
        .post("/deductables", data)
        .then((res) => {
          this.$refs["deductables"].hide();
          this.getDeductables();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("deductables-erros");
        });
    },
    updateDeductable() {
      let data = this.getData();
      let t = this;
      axios
        .put("/deductables/" + this.deductableId, data)
        .then((res) => {
          this.$refs["deductables"].hide();
          this.getDeductables();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("deductables-erros");
        });
    },
    hideModal() {
      this.$refs["deductables"].hide();
    },
  },
};
</script>
