<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Designations">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Designations
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table-simple
                striped
                large
                caption-top
                :no-border-collapse="false"
                v-if="designations.length > 0"
              >
                <b-thead class="thead-dark text-light">
                  <b-tr>
                    <b-th>Name</b-th>
                    <b-th>Description</b-th>
                    <b-th>Status</b-th>
                    <b-th>Actions</b-th>
                  </b-tr>
                </b-thead>
                <b-tbody class="text-dark">
                  <b-tr
                    v-for="(designation, index) in designations"
                    :key="index"
                  >
                    <b-td>{{ designation.name }}</b-td>
                    <b-td>{{ designation.description }}</b-td>
                    <b-td>{{
                      designation.status == 1 ? "Active" : "In-Active"
                    }}</b-td>
                    <b-td>
                      <b-button
                        size="sm"
                        variant="primary"
                        @click="updateModal(designation)"
                      >
                        <font-awesome-icon :icon="['fas', 'pen-square']" />
                        Edit
                      </b-button>
                    </b-td>
                  </b-tr>
                </b-tbody>
              </b-table-simple>
              <div v-else>
                <b-row>
                  <b-col cols="12 text-center">
                    <i class="fa fa-spin fa-spinner fa-5x"></i>
                  </b-col>
                </b-row>
              </div>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
    <b-modal title="Add Designation" ref="designations" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="designationName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="designationDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="designationStatus"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateDesignation"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addDesignation"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>
    <b-toast id="designations-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getDesignations();
  },
  data() {
    return {
      assets: [],
      errors: [],
      designations: [],
      editData: {},
      add: false,
      edit: false,
      designationId: "",
      designationName: "",
      designationDescription: "",
      designationStatus: true,
    };
  },
  methods: {
    getDesignations() {
      this.designations = [];
      axios
        .get("/designations/all/data")
        .then((res) => {
          this.designations = res.data;
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.designationId = "";
      this.designationName = "";
      this.designationDescription = "";
      this.designationStatus = true;
      this.$refs["designations"].show();
    },
    updateModal(designation) {
      this.add = false;
      this.edit = true;
      this.designationId = designation.id;
      this.designationName = designation.name;
      this.designationDescription = designation.description;
      this.designationStatus = designation.status == 1 ? true : false;
      this.$refs["designations"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        name: this.designationName,
        description: this.designationDescription,
        status: this.designationStatus,
      };
      return data;
    },
    addDesignation() {
      let data = this.getData();
      let t = this;
      axios
        .post("/designations", data)
        .then((res) => {
          this.$refs["designations"].hide();
          this.getDesignations();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("designations-erros");
        });
    },
    updateDesignation() {
      let data = this.getData();
      let t = this;
      axios
        .put("/designations/" + this.designationId, data)
        .then((res) => {
          this.$refs["designations"].hide();
          this.getDesignations();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("designations-erros");
        });
    },
    hideModal() {
      this.$refs["designations"].hide();
    },
  },
};
</script>
