<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Employee Status">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Employee Status
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table-simple
                striped
                large
                caption-top
                :no-border-collapse="false"
                v-if="employeeStatuses.length > 0"
              >
                <b-thead class="thead-dark text-light">
                  <b-tr>
                    <b-th>Name</b-th>
                    <b-th>Description</b-th>
                    <b-th>Status</b-th>
                    <b-th>Actions</b-th>
                  </b-tr>
                </b-thead>
                <b-tbody class="text-dark">
                  <b-tr
                    v-for="(status, index) in employeeStatuses"
                    :key="index"
                  >
                    <b-td>{{ status.name }}</b-td>
                    <b-td>{{ status.description }}</b-td>
                    <b-td>{{
                      status.status == 1 ? "Active" : "In-Active"
                    }}</b-td>
                    <b-td>
                      <b-button
                        size="sm"
                        variant="primary"
                        @click="updateModal(status)"
                      >
                        <font-awesome-icon :icon="['fas', 'pen-square']" />
                        Edit
                      </b-button>
                    </b-td>
                  </b-tr>
                </b-tbody>
              </b-table-simple>
              <div v-else>
                <b-row>
                  <b-col cols="12 text-center">
                    <i class="fa fa-spin fa-spinner fa-5x"></i>
                  </b-col>
                </b-row>
              </div>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
    <b-modal :title="modalTitle" ref="employee-statuses" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="statusName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="statusDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="status"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateStatus"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addStatus"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>

    <b-toast id="employee-statuses-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="(error,  index) in errors" :key="index">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getEmployeeStatuses();
  },
  data() {
    return {
      employeeStatuses: [],
      errors: [],
      editData: {},
      add: false,
      edit: false,
      statusId: "",
      statusName: "",
      statusDescription: "",
      status: true,
      modalTitle:""
    };
  },
  methods: {
    getEmployeeStatuses() {
      this.employeeStatuses = [];
      axios
        .get("/employee-statues/all/data")
        .then((res) => {
          this.employeeStatuses = res.data;
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.statusId = "";
      this.statusName = "";
      this.statusDescription = "";
      this.status = true;
      this.modalTitle = "Add Employee Status";
      this.$refs["employee-statuses"].show();
    },
    updateModal(status) {
      this.add = false;
      this.edit = true;
      this.statusId = status.id;
      this.statusName = status.name;
      this.statusDescription = status.description;
      this.status = status.status == 1 ? true : false;
      this.modalTitle = "Update Employee Status";
      this.$refs["employee-statuses"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        name: this.statusName,
        description: this.statusDescription,
        status: this.status,
      };
      return data;
    },
    addStatus() {
      let data = this.getData();
      let t = this;
      axios
        .post("/employee-statues", data)
        .then((res) => {
          this.$refs["employee-statuses"].hide();
          this.getEmployeeStatuses();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("employee-statuses-erros");
        });
    },
    updateStatus() {
      let data = this.getData();
      let t = this;
      axios
        .put("/employee-statues/" + this.statusId, data)
        .then((res) => {
          this.$refs["employee-statuses"].hide();
          this.getEmployeeStatuses();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("employee-statuses-erros");
        });
    },
    hideModal() {
      this.$refs["employee-statuses"].hide();
    },
  },
};
</script>