<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Calendars">
          <b-row>
            <b-col cols="12">
              <b-button variant="primary" @click="addModal">Add Calendar</b-button>
              <FullCalendar :options="calendarOptions" />
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>

    <b-modal :title="modalTitle" ref="event-details" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="eventName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Type" label-for="type">
            <b-form-select v-model="typeId" :options="types"></b-form-select>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Status" label-for="repeating">
            <b-form-checkbox
              id="repeating"
              v-model="eventRepeating"
              :value="true"
              :unchecked-value="false"
              >Repeating Calendar?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row v-if="!eventRepeating">
        <b-col cols="12">
          <label for="date">Start Date</label>
          <b-input-group class="">
            <b-form-input
              id="date"
              v-model="eventStartDate"
              type="text"
              placeholder="YYYY-MM-DD"
              autocomplete="on"
            ></b-form-input>
            <b-input-group-append>
              <b-form-datepicker
                v-model="eventStartDate"
                button-only
                right
                locale="en-US"
                aria-controls="date"
                button-variant="primary"
              ></b-form-datepicker>
            </b-input-group-append>
          </b-input-group>
        </b-col>
      </b-row>
      <b-row v-else>
        <b-col cols="6">
          <label for="date">Start Date</label>
          <b-input-group class="">
            <b-form-input
              id="date"
              v-model="eventStartDate"
              type="text"
              placeholder="YYYY-MM-DD"
              autocomplete="on"
            ></b-form-input>
            <b-input-group-append>
              <b-form-datepicker
                v-model="eventStartDate"
                button-only
                right
                locale="en-US"
                aria-controls="date"
                button-variant="primary"
              ></b-form-datepicker>
            </b-input-group-append>
          </b-input-group>
        </b-col>
        <b-col cols="6">
          <label for="date">End Date</label>
          <b-input-group class="">
            <b-form-input
              id="date"
              v-model="eventEndDate"
              type="text"
              placeholder="YYYY-MM-DD"
              autocomplete="on"
            ></b-form-input>
            <b-input-group-append>
              <b-form-datepicker
                v-model="eventEndDate"
                button-only
                right
                locale="en-US"
                aria-controls="date"
                button-variant="primary"
              ></b-form-datepicker>
            </b-input-group-append>
          </b-input-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="6">
          <b-form-group>
            <label for="checkInTime">Start Time</label>
            <vue-timepicker
              format="HH:mm"
              v-model="eventStartTime"
              class="form-group"
            ></vue-timepicker>
          </b-form-group>
        </b-col>
        <b-col cols="6">
          <b-form-group>
            <label for="checkInTime">End Time</label>
            <vue-timepicker
              format="HH:mm"
              v-model="eventEndTime"
              class="form-group"
            ></vue-timepicker>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="eventDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="status"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateEvent"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addEvent"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>

    <b-toast id="event-details-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="(error, index) in errors" :key="index">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
import FullCalendar from "@fullcalendar/vue";
import dayGridPlugin from "@fullcalendar/daygrid";
import interactionPlugin from "@fullcalendar/interaction";
import timeGridPlugin from "@fullcalendar/timegrid";
import VueTimepicker from "vue2-timepicker";
import resourceTimelinePlugin from "@fullcalendar/resource-timeline";
export default {
  components: {
    FullCalendar,
    VueTimepicker,
    timeGridPlugin
  },
  mounted() {},
  created() {
    this.getEventDetails();
    this.getEventTypes();
  },
  data() {
    return {
      allEvents: [],
      events: [],
      types: [],
      errors: [],
      editData: {},
      add: false,
      edit: false,
      typeId: null,
      eventId: "",
      eventName: "",
      eventDescription: "",
      eventStartDate: "",
      eventEndDate: "",
      eventStartTime: "",
      eventEndTime: "",
      eventRepeating: false,
      status: true,
      modalTitle: "",
      selectedEventId: "",
      calendarOptions: {
        plugins: [dayGridPlugin, interactionPlugin, timeGridPlugin],
        initialView: "dayGridMonth",
        headerToolbar: {
          left: "dayGridMonth,timeGridWeek,timeGridDay",
        },
        events: [],
        allDay: true,
        slotDuration: "01:00",
        columnFormat: "ddd",
        contentHeight: "auto",
        timeFormat: "HH:mm",
        axisFormat: "HH:mm",
        eventClick: this.eventClick,
      },
    };
  },
  methods: {
    getEventDetails() {
      this.events = [];
      axios
        .get("/event-details/all/data")
        .then((res) => {
          this.allEvents = res.data;
          res.data.forEach((event) => {
            let start = "";
            let end = "";
            if (event.repeating) {
              start = moment(event.start_date);
              end = moment(event.end_date);
              while (start.diff(end) <= 0) {
                this.events.push({
                  title: event.name + "(" + event.event_type.name + ")",
                  start: start.format("YYYY-MM-DD") + "T" + event.start_time,
                  end: start.format("YYYY-MM-DD") + "T" + event.end_time,
                  id: "repeating-" + event.id,
                  backgroundColor: event.event_type.color,
                });
                start.add(1, "days");
              }
            } else {
              this.events.push({
                title: event.name + "(" + event.event_type.name + ")",
                start: event.start_date + "T" + event.start_time,
                end: event.start_date + "T" + event.end_time,
                id: "simple-" + event.id,
                backgroundColor: event.event_type.color,
              });
            }
          });
          this.calendarOptions.events = this.events;
        })
        .catch((err) => {});
    },
    getEventTypes() {
      this.types = [{ value: null, text: "Select Type" }];
      axios
        .get("/event-types/all/data")
        .then((res) => {
          res.data.forEach((type) => {
            this.types.push({ value: type.id, text: type.name });
          });
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.eventId = "";
      this.typeId = "";
      this.eventName = "";
      this.eventDescription = "";
      this.eventStartDate = "";
      this.eventEndDate = "";
      this.eventStartTime = "";
      this.eventEndTime = "";
      this.eventRepeating = false;
      this.status = true;
      this.modalTitle = "Add Calendar Details";
      this.$refs["event-details"].show();
    },
    updateModal() {
      this.add = false;
      this.edit = true;
      this.eventId = this.selectedEvent.id;
      this.typeId = this.selectedEvent.event_type_id;
      this.eventName = this.selectedEvent.name;
      this.eventDescription = this.selectedEvent.description;
      this.eventDescription = "";
      this.eventStartDate = this.selectedEvent.start_date;
      this.eventEndDate = this.selectedEvent.end_date;
      this.eventStartTime = this.selectedEvent.start_time;
      this.eventEndTime = this.selectedEvent.end_time;
      this.eventRepeating = this.selectedEvent.repeating == 1 ? true : false;
      this.status = this.selectedEvent.status == 1 ? true : false;
      this.eventDate = this.selectedEvent.date;
      this.modalTitle = "Update Calendar Details";
      this.$refs["event-details"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        event_type_id: this.typeId,
        name: this.eventName,
        description: this.eventDescription,
        status: this.status,
        start_date: this.eventStartDate,
        end_date: this.eventRepeating ? this.eventEndDate : this.eventStartDate,
        start_time: this.eventStartTime,
        end_time: this.eventEndTime,
        repeating: this.eventRepeating,
      };
      return data;
    },
    addEvent() {
      let data = this.getData();
      let t = this;
      axios
        .post("/event-details", data)
        .then((res) => {
          this.$refs["event-details"].hide();
          this.getEventDetails();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("event-details-erros");
        });
    },
    updateEvent() {
      let data = this.getData();
      let t = this;
      axios
        .put("/event-details/" + this.eventId, data)
        .then((res) => {
          this.$refs["event-details"].hide();
          this.getEventDetails();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("event-details-erros");
        });
    },
    hideModal() {
      this.$refs["event-details"].hide();
    },
    eventClick(info, element) {
      let id = info.event.id.split("-")[1];
      this.selectedEventId = id;
      this.updateModal();
    },
  },
  computed: {
    selectedEvent() {
      let event = this.allEvents.filter(
        (event) => event.id == this.selectedEventId
      );
      return event[0];
    },
  },
};
</script>
