<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Calendar Details">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Calendar
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table-simple
                striped
                large
                caption-top
                :no-border-collapse="false"
                v-if="events.length > 0"
              >
                <b-thead class="thead-dark text-light">
                  <b-tr>
                    <b-th>Name</b-th>
                    <b-th>Type</b-th>
                    <b-th>Date</b-th>
                    <b-th>Description</b-th>
                    <b-th>Status</b-th>
                    <b-th>Actions</b-th>
                  </b-tr>
                </b-thead>
                <b-tbody class="text-dark">
                  <b-tr
                    v-for="(event, index) in events"
                    :key="index"
                  >
                    <b-td>{{ event.name }}</b-td>
                    <b-td>{{ event.event_type.name }}</b-td>
                    <b-td>{{ event.date }}</b-td>
                    <b-td>{{ event.description }}</b-td>
                    <b-td>{{ event.status == 1 ? "Active" : "In-Active" }}</b-td>
                    <b-td>
                      <b-button
                        size="sm"
                        variant="primary"
                        @click="updateModal(event)"
                      >
                        <font-awesome-icon :icon="['fas', 'pen-square']" />
                        Edit
                      </b-button>
                    </b-td>
                  </b-tr>
                </b-tbody>
              </b-table-simple>
              <div v-else>
                <b-row>
                  <b-col cols="12 text-center">
                    <i class="fa fa-spin fa-spinner fa-5x"></i>
                  </b-col>
                </b-row>
              </div>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>

    <b-modal :title="modalTitle" ref="event-details" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="eventName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Type" label-for="type">
            <b-form-select
              v-model="typeId"
              :options="types"
            ></b-form-select>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <label for="date">Date</label>
            <b-input-group class="">
              <b-form-input
                id="date"
                v-model="eventDate"
                type="text"
                placeholder="YYYY-MM-DD"
                autocomplete="on"
              ></b-form-input>
              <b-input-group-append>
                <b-form-datepicker
                  v-model="eventDate"
                  button-only
                  right
                  locale="en-US"
                  aria-controls="date"
                  button-variant="primary"
                ></b-form-datepicker>
              </b-input-group-append>
            </b-input-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="eventDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="status"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateEvent"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addEvent"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>

    <b-toast id="event-details-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="(error,  index) in errors" :key="index">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getEventDetails();
    this.getEventTypes();
  },
  data() {
    return {
      events: [],
      types: [],
      errors: [],
      editData: {},
      add: false,
      edit: false,
      typeId: null,
      eventId: "",
      eventName: "",
      eventDescription: "",
      eventDate: "",
      status: true,
      modalTitle:""
    };
  },
  methods: {
    getEventDetails() {
      this.events = [];
      axios
        .get("/event-details/all/data")
        .then((res) => {
          this.events = res.data;
        })
        .catch((err) => {});
    },
    getEventTypes() {
      this.types = [{value:null, text:"Select Type"}];
      axios
        .get("/event-types/all/data")
        .then((res) => {
          res.data.forEach(type => {
            this.types.push({value:type.id, text:type.name});
          });
          console.log(this.types);
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.eventId = "";
      this.typeId = "";
      this.eventName = "";
      this.eventDescription = "";
      this.status = true;
      this.modalTitle = "Add Event Details";
      this.$refs["event-details"].show();
    },
    updateModal(event) {
      this.add = false;
      this.edit = true;
      this.eventId = event.id;
      this.typeId = event.event_type_id;
      this.eventName = event.name;
      this.eventDescription = event.description;
      this.status = event.status == 1 ? true : false;
      this.eventDate = event.date;
      this.modalTitle = "Update Event Details";
      this.$refs["event-details"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        event_type_id: this.typeId,
        name: this.eventName,
        description: this.eventDescription,
        status: this.status,
        date: this.eventDate,
      };
      return data;
    },
    addEvent() {
      let data = this.getData();
      let t = this;
      axios
        .post("/event-details", data)
        .then((res) => {
          this.$refs["event-details"].hide();
          this.getEventDetails();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("event-details-erros");
        });
    },
    updateEvent() {
      let data = this.getData();
      let t = this;
      axios
        .put("/event-details/" + this.eventId, data)
        .then((res) => {
          this.$refs["event-details"].hide();
          this.getEventDetails();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("event-details-erros");
        });
    },
    hideModal() {
      this.$refs["event-details"].hide();
    },
  },
};
</script>
