<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title=" Gratuity Rules">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Gratuity Rule
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table-simple
                striped
                large
                caption-top
                :no-border-collapse="false"
                v-if="rules.length > 0"
              >
                <b-thead class="thead-dark text-light">
                  <b-tr>
                    <b-th>Name</b-th>
                    <b-th>Description</b-th>
                    <b-th>Status</b-th>
                    <b-th>Actions</b-th>
                  </b-tr>
                </b-thead>
                <b-tbody class="text-dark">
                  <b-tr v-for="(rule, index) in rules" :key="index">
                    <b-td>{{ rule.name }}</b-td>
                    <b-td>{{ rule.description }}</b-td>
                    <b-td>{{ rule.status == 1 ? "Active" : "In-Active" }}</b-td>
                    <b-td>
                      <b-button
                        size="sm"
                        variant="primary"
                        @click="updateModal(rule)"
                      >
                        <font-awesome-icon :icon="['fas', 'pen-square']" />
                        Edit
                      </b-button>
                    </b-td>
                  </b-tr>
                </b-tbody>
              </b-table-simple>
              <div v-else>
                <b-row>
                  <b-col cols="12 text-center">
                    <i class="fa fa-spin fa-spinner fa-5x"></i>
                  </b-col>
                </b-row>
              </div>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>

    <b-modal title="Add Gratuity Rule" ref="rules" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="ruleName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="ruleDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="ruleStatus"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateRule"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addRule"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>

    <b-toast id="rules-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created(){
    this.getRules();
  },
  data() {
    return {
      rules: [],
      errors: [],
      editData: {},
      add: false,
      edit: false,
      ruleId: "",
      ruleName: "",
      ruleDescription: "",
      ruleStatus: true,
    };
  },
  methods: {
    getRules() {
      this.rules = [];
      axios
        .get("/gratuity-rules/all/data")
        .then((res) => {
          this.rules = res.data;
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.ruleId = "";
      this.ruleName = "";
      this.ruleDescription = "";
      this.ruleStatus = true;
      this.$refs["rules"].show();
    },
    updateModal(rule) {
      this.add = false;
      this.edit = true;
      this.ruleId = rule.id;
      this.ruleName = rule.name;
      this.ruleDescription = rule.description;
      this.ruleStatus = rule.status == 1 ? true : false;
      this.$refs["rules"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        name: this.ruleName,
        description: this.ruleDescription,
        status: this.ruleStatus,
      };
      return data;
    },
    addRule() {
      let data = this.getData();
      let t = this;
      axios
        .post("/gratuity-rules", data)
        .then((res) => {
          this.$refs["rules"].hide();
          this.getRules();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("rules-erros");
        });
    },
    updateRule() {
      let data = this.getData();
      let t = this;
      axios
        .put("/gratuity-rules/" + this.ruleId, data)
        .then((res) => {
          this.$refs["rules"].hide();
          this.getRules();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("rules-erros");
        });
    },
    hideModal() {
      this.$refs["rules"].hide();
    },
  },
};
</script>