<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Insurance Providers">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Insurance Provider
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table
                :items="providers"
                :fields="fields"
                stacked="lg"
                show-empty
                large
                hover
                head-variant="dark"
                :striped="true"
                class="text-dark"
                :sortable="false"
                caption-top
                :no-border-collapse="false"
                :sort-by.sync="sortBy"
              >
                <template #cell(status)="row">
                  {{ row.value.status == 1 ? "Active" : "In-Active" }}
                </template>
                <template #cell(action)="row">
                  <b-button
                    type="button"
                    class="text-light js-sweetalert"
                    size="sm"
                    title="Delete"
                    variant="primary"
                    data-type="confirm"
                    :data-value="row.value"
                    data-model="employees"
                    :value="row.value"
                    @click="updateModal(row.item)"
                    ><font-awesome-icon :icon="['fas', 'pen-square']" />
                  </b-button>
                </template>
              </b-table>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
    
    <b-modal :title="title" ref="providers" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="providerName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="providerDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="providerStatus"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateProvider"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addProvider"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>

    <b-toast id="providers-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="(error, index) in errors" :key="index">{{ error.error }}</li>
      </ul>
    </b-toast>
    
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getProviders();
  },
  data() {
    return {
      cities: [],
      errors: [],
      providers: [],
      editData: {},
      add: false,
      edit: false,
      providerId: null,
      providerName: "",
      providerDescription: "",
      providerStatus: true,
      title:"",
      //for updating tables
      sortBy: "name",
      fields: [
        ,
        { key: "name", label: "Name", sortable: true, sortDirection: "asc" },
        { key: "description", label: "Description" },
        { key: "status", label: "Status" },
        { key: "action", label: "Action" },
      ],
      sortDesc: false,
      sortDirection: "asc",
    };
  },
  methods: {
    getProviders() {
      this.providers = [];
      axios
        .get("/insurance-providers/all/data")
        .then((res) => {
          this.providers = res.data;
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.providerId = null;
      this.providerName = "";
      this.providerDescription = "";
      this.providerStatus = true;
      this.title = "Add Insurance Provider";
      this.$refs["providers"].show();
    },
    updateModal(provider) {
      this.add = false;
      this.edit = true;
      this.providerId = provider.id;
      this.providerName = provider.name;
      this.providerDescription = provider.description;
      this.providerStatus = provider.status == 1 ? true : false;
      this.title = "Update Insurance Provider ("+provider.name+")";
      this.$refs["providers"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        name: this.providerName,
        description: this.providerDescription,
        status: this.providerStatus,
      };
      return data;
    },
    addProvider() {
      let data = this.getData();
      let t = this;
      axios
        .post("/insurance-providers", data)
        .then((res) => {
          this.$refs["providers"].hide();
          this.getProviders();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("providers-erros");
        });
    },
    updateProvider() {
      let data = this.getData();
      let t = this;
      axios
        .put("/insurance-providers/" + this.providerId, data)
        .then((res) => {
          this.$refs["providers"].hide();
          this.getProviders();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("providers-erros");
        });
    },
    hideModal() {
      this.$refs["providers"].hide();
    },
  },
  watch:{}
};
</script>
