<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Job Shifts">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Job Shift
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table-simple
                striped
                large
                caption-top
                :no-border-collapse="false"
                v-if="shifts.length > 0"
              >
                <b-thead class="thead-dark text-light">
                  <b-tr>
                    <b-th>Name</b-th>
                    <b-th>Description</b-th>
                    <b-th>Status</b-th>
                    <b-th>Actions</b-th>
                  </b-tr>
                </b-thead>
                <b-tbody class="text-dark">
                  <b-tr
                    v-for="(shift, index) in shifts"
                    :key="index"
                  >
                    <b-td>{{ shift.name }}</b-td>
                    <b-td>{{ shift.description }}</b-td>
                    <b-td>{{
                      shift.status == 1 ? "Active" : "In-Active"
                    }}</b-td>
                    <b-td>
                      <b-button
                        size="sm"
                        variant="primary"
                        @click="updateModal(shift)"
                      >
                        <font-awesome-icon :icon="['fas', 'pen-square']" />
                        Edit
                      </b-button>
                    </b-td>
                  </b-tr>
                </b-tbody>
              </b-table-simple>
              <div v-else>
                <b-row>
                  <b-col cols="12 text-center">
                    <i class="fa fa-spin fa-spinner fa-5x"></i>
                  </b-col>
                </b-row>
              </div>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
    <b-modal title="Add Job Shift" ref="shifts" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="shiftName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="shiftDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="shiftStatus"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateShift"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addShift"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>
    <b-toast id="shifts-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getShifts();
  },
  data() {
    return {
      assets: [],
      errors: [],
      shifts: [],
      editData: {},
      add: false,
      edit: false,
      shiftId: "",
      shiftName: "",
      shiftDescription: "",
      shiftStatus: true,
    };
  },
  methods: {
    getShifts() {
      this.shifts = [];
      axios
        .get("/shifts/all/data")
        .then((res) => {
          this.shifts = res.data;
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.shiftId = "";
      this.shiftName = "";
      this.shiftDescription = "";
      this.shiftStatus = true;
      this.$refs["shifts"].show();
    },
    updateModal(shift) {
      this.add = false;
      this.edit = true;
      this.shiftId = shift.id;
      this.shiftName = shift.name;
      this.shiftDescription = shift.description;
      this.shiftStatus = shift.status == 1 ? true : false;
      this.$refs["shifts"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        name: this.shiftName,
        description: this.shiftDescription,
        status: this.shiftStatus,
      };
      return data;
    },
    addShift() {
      let data = this.getData();
      let t = this;
      axios
        .post("/shifts", data)
        .then((res) => {
          this.$refs["shifts"].hide();
          this.getShifts();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("shifts-erros");
        });
    },
    updateShift() {
      let data = this.getData();
      let t = this;
      axios
        .put("/shifts/" + this.shiftId, data)
        .then((res) => {
          this.$refs["shifts"].hide();
          this.getShifts();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("shifts-erros");
        });
    },
    hideModal() {
      this.$refs["shifts"].hide();
    },
  },
};
</script>