<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Leaves Per Annum">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Annual Leave
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table-simple
                striped
                large
                caption-top
                :no-border-collapse="false"
                v-if="leaves.length > 0"
              >
                <b-thead class="thead-dark text-light">
                  <b-tr>
                    <b-th>Name</b-th>
                    <b-th>Description</b-th>
                    <b-th>Status</b-th>
                    <b-th>Actions</b-th>
                  </b-tr>
                </b-thead>
                <b-tbody class="text-dark">
                  <b-tr
                    v-for="(leave, index) in leaves"
                    :key="index"
                  >
                    <b-td>{{ leave.name }}</b-td>
                    <b-td>{{ leave.description }}</b-td>
                    <b-td>{{
                      leave.status == 1 ? "Active" : "In-Active"
                    }}</b-td>
                    <b-td>
                      <b-button
                        size="sm"
                        variant="primary"
                        @click="updateModal(leave)"
                      >
                        <font-awesome-icon :icon="['fas', 'pen-square']" />
                        Edit
                      </b-button>
                    </b-td>
                  </b-tr>
                </b-tbody>
              </b-table-simple>
              <div v-else>
                <b-row>
                  <b-col cols="12 text-center">
                    <i class="fa fa-spin fa-spinner fa-5x"></i>
                  </b-col>
                </b-row>
              </div>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
    <b-modal :title="modalTitle" ref="leaves" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="leaveName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="leaveDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="leaveStatus"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateLeave"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addLeave"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>
    <b-toast id="leaves-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="(error, index) in errors" :key="index">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getLeaves();
  },
  data() {
    return {
      leaves: [],
      errors: [],
      editData: {},
      add: false,
      edit: false,
      leaveId: "",
      leaveName: "",
      leaveDescription: "",
      leaveStatus: true,
      modalTitle:""
    };
  },
  methods: {
    getLeaves() {
      this.leaves = [];
      axios
        .get("/leave-per-annums/all/data")
        .then((res) => {
          this.leaves = res.data;
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.leaveId = "";
      this.leaveName = "";
      this.leaveDescription = "";
      this.leaveStatus = true;
      this.modalTitle = "Add Annual Leave";
      this.$refs["leaves"].show();
    },
    updateModal(leave) {
      this.add = false;
      this.edit = true;
      this.leaveId = leave.id;
      this.leaveName = leave.name;
      this.leaveDescription = leave.description;
      this.leaveStatus = leave.status == 1 ? true : false;
      this.modalTitle = "Update Annual Leave";
      this.$refs["leaves"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        name: this.leaveName,
        description: this.leaveDescription,
        status: this.leaveStatus,
      };
      return data;
    },
    addLeave() {
      let data = this.getData();
      let t = this;
      axios
        .post("/leave-per-annums", data)
        .then((res) => {
          this.$refs["leaves"].hide();
          this.getLeaves();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("leaves-erros");
        });
    },
    updateLeave() {
      let data = this.getData();
      let t = this;
      axios
        .put("/leave-per-annums/" + this.leaveId, data)
        .then((res) => {
          this.$refs["leaves"].hide();
          this.getLeaves();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("leaves-erros");
        });
    },
    hideModal() {
      this.$refs["leaves"].hide();
    },
  },
};
</script>