<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Projects">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Projects
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table-simple
                striped
                large
                caption-top
                :no-border-collapse="false"
                v-if="projects.length > 0"
              >
                <b-thead class="thead-dark text-light">
                  <b-tr>
                    <b-th>Name</b-th>
                    <b-th>Description</b-th>
                    <b-th>Status</b-th>
                    <b-th>Actions</b-th>
                  </b-tr>
                </b-thead>
                <b-tbody class="text-dark">
                  <b-tr v-for="(project, index) in projects" :key="index">
                    <b-td>{{ project.name }}</b-td>
                    <b-td>{{ project.description }}</b-td>
                    <b-td>{{
                      project.status == 1 ? "Active" : "In-Active"
                    }}</b-td>
                    <b-td>
                      <b-button
                        size="sm"
                        variant="primary"
                        @click="updateModal(project)"
                      >
                        <font-awesome-icon :icon="['fas', 'pen-square']" />
                        Edit
                      </b-button>
                    </b-td>
                  </b-tr>
                </b-tbody>
              </b-table-simple>
              <div v-else>
                <b-row>
                  <b-col cols="12 text-center">
                    <i class="fa fa-spin fa-spinner fa-5x"></i>
                  </b-col>
                </b-row>
              </div>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>

    <b-modal :title="modalTitle" ref="projects" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="projectName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="projectDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="projectStatus"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateProject"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addProject"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>

    <b-toast id="projects-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="(error, index) in errors" :key="index">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getProjects();
  },
  data() {
    return {
      projects: [],
      errors: [],
      editData: {},
      add: false,
      edit: false,
      projectId: "",
      projectName: "",
      projectDescription: "",
      projectStatus: true,
      modalTitle: "",
    };
  },
  methods: {
    getProjects() {
      this.projects = [];
      axios
        .get("/projects/all/data")
        .then((res) => {
          this.projects = res.data;
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.projectId = "";
      this.projectName = "";
      this.projectDescription = "";
      this.projectStatus = true;
      this.modalTitle = "Add Project";
      this.$refs["projects"].show();
    },
    updateModal(project) {
      this.add = false;
      this.edit = true;
      this.projectId = project.id;
      this.projectName = project.name;
      this.projectDescription = project.description;
      this.projectStatus = project.status == 1 ? true : false;
      this.modalTitle = "Update Project";
      this.$refs["projects"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        name: this.projectName,
        description: this.projectDescription,
        status: this.projectStatus,
      };
      return data;
    },
    addProject() {
      let data = this.getData();
      let t = this;
      axios
        .post("/projects", data)
        .then((res) => {
          this.$refs["projects"].hide();
          this.getProjects();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("projects-erros");
        });
    },
    updateProject() {
      let data = this.getData();
      let t = this;
      axios
        .put("/projects/" + this.projectId, data)
        .then((res) => {
          this.$refs["projects"].hide();
          this.getProjects();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("projects-erros");
        });
    },
    hideModal() {
      this.$refs["projects"].hide();
    },
  },
};
</script>