<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Qualifications">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Qualification
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table
                :items="qualifications"
                :fields="fields"
                stacked="lg"
                show-empty
                large
                hover
                head-variant="dark"
                :striped="true"
                class="text-dark"
                :sortable="false"
                caption-top
                :no-border-collapse="false"
                :sort-by.sync="sortBy"
              >
                <template #cell(status)="row">
                  {{ row.value.status == 1 ? "Active" : "In-Active" }}
                </template>
                <template #cell(action)="row">
                  <b-button
                    type="button"
                    class="text-light js-sweetalert"
                    size="sm"
                    title="Delete"
                    variant="primary"
                    data-type="confirm"
                    :data-value="row.value"
                    data-model="employees"
                    :value="row.value"
                    @click="updateModal(row.item)"
                    ><font-awesome-icon :icon="['fas', 'pen-square']" />
                  </b-button>
                </template>
              </b-table>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
    <b-modal title="qualifications" ref="qualifications" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="qualificationName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="qualificationDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="qualificationStatus"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateQualification"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addQualification"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>
    <b-toast id="qualifications-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getQualifications();
  },
  data() {
    return {
      assets: [],
      errors: [],
      qualifications: [],
      editData: {},
      add: false,
      edit: false,
      qualificationId: "",
      qualificationName: "",
      qualificationDescription: "",
      qualificationStatus: true,
      //for updating tables
      sortBy: "name",
      fields: [
        ,
        { key: "name", label: "Name", sortable: true, sortDirection: "asc" },
        { key: "description", label: "Description" },
        { key: "status", label: "Status" },
        { key: "action", label: "Action" },
      ],
      sortDesc: false,
      sortDirection: "asc",
    };
  },
  methods: {
    getQualifications() {
      this.qualifications = [];
      axios
        .get("/qualifications/all/data")
        .then((res) => {
          this.qualifications = res.data;
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.qualificationId = "";
      this.qualificationName = "";
      this.qualificationDescription = "";
      this.qualificationStatus = true;
      this.$refs["qualifications"].show();
    },
    updateModal(qualification) {
      this.add = false;
      this.edit = true;
      this.qualificationId = qualification.id;
      this.qualificationName = qualification.name;
      this.qualificationDescription = qualification.description;
      this.qualificationStatus = qualification.status == 1 ? true : false;
      this.$refs["qualifications"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        name: this.qualificationName,
        description: this.qualificationDescription,
        status: this.qualificationStatus,
      };
      return data;
    },
    addQualification() {
      let data = this.getData();
      let t = this;
      axios
        .post("/qualifications", data)
        .then((res) => {
          this.$refs["qualifications"].hide();
          this.getQualifications();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("qualifications-erros");
        });
    },
    updateQualification() {
      let data = this.getData();
      let t = this;
      axios
        .put("/qualifications/" + this.qualificationId, data)
        .then((res) => {
          this.$refs["qualifications"].hide();
          this.getQualifications();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("qualifications-erros");
        });
    },
    hideModal() {
      this.$refs["qualifications"].hide();
    },
  },
};
</script>
