<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Relations">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Relations
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table-simple
                striped
                large
                caption-top
                :no-border-collapse="false"
                v-if="relations.length > 0"
              >
                <b-thead class="thead-dark text-light">
                  <b-tr>
                    <b-th>Name</b-th>
                    <b-th>Description</b-th>
                    <b-th>Status</b-th>
                    <b-th>Actions</b-th>
                  </b-tr>
                </b-thead>
                <b-tbody class="text-dark">
                  <b-tr v-for="(relation, index) in relations" :key="index">
                    <b-td>{{ relation.name }}</b-td>
                    <b-td>{{ relation.description }}</b-td>
                    <b-td>{{
                      relation.status == 1 ? "Active" : "In-Active"
                    }}</b-td>
                    <b-td>
                      <b-button
                        size="sm"
                        variant="primary"
                        @click="updateModal(relation)"
                      >
                        <font-awesome-icon :icon="['fas', 'pen-square']" />
                        Edit
                      </b-button>
                    </b-td>
                  </b-tr>
                </b-tbody>
              </b-table-simple>
              <div v-else>
                <b-row>
                  <b-col cols="12 text-center">
                    <i class="fa fa-spin fa-spinner fa-5x"></i>
                  </b-col>
                </b-row>
              </div>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>

    <b-modal :title="modalTitle" ref="relations" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="relationName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="relationDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="relationStatus"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateRelation"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addRelation"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>

    <b-toast id="relations-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="(error, index) in errors" :key="index">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getRelations();
  },
  data() {
    return {
      relations: [],
      errors: [],
      editData: {},
      add: false,
      edit: false,
      relationId: "",
      relationName: "",
      relationDescription: "",
      relationStatus: true,
      modalTitle: "",
    };
  },
  methods: {
    getRelations() {
      this.relations = [];
      axios
        .get("/relations/all/data")
        .then((res) => {
          this.relations = res.data;
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.relationId = "";
      this.relationName = "";
      this.relationDescription = "";
      this.relationStatus = true;
      this.modalTitle = "Add Relation";
      this.$refs["relations"].show();
    },
    updateModal(relation) {
      this.add = false;
      this.edit = true;
      this.relationId = relation.id;
      this.relationName = relation.name;
      this.relationDescription = relation.description;
      this.relationStatus = relation.status == 1 ? true : false;
      this.modalTitle = "Update Relation";
      this.$refs["relations"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        name: this.relationName,
        description: this.relationDescription,
        status: this.relationStatus,
      };
      return data;
    },
    addRelation() {
      let data = this.getData();
      let t = this;
      axios
        .post("/relations", data)
        .then((res) => {
          this.$refs["relations"].hide();
          this.getRelations();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("relations-erros");
        });
    },
    updateRelation() {
      let data = this.getData();
      let t = this;
      axios
        .put("/relations/" + this.relationId, data)
        .then((res) => {
          this.$refs["relations"].hide();
          this.getRelations();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("relations-erros");
        });
    },
    hideModal() {
      this.$refs["relations"].hide();
    },
  },
};
</script>