<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Roles">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Role
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table-simple
                striped
                large
                caption-top
                :no-border-collapse="false"
              >
                <b-thead class="thead-dark text-light">
                  <b-tr>
                    <b-th>Name</b-th>
                    <b-th>Description</b-th>
                    <b-th>Actions</b-th>
                  </b-tr>
                </b-thead>
                <b-tbody class="text-dark" v-if="roles.length > 0">
                  <b-tr v-for="(role, index) in roles" :key="index">
                    <b-td>{{ role.name }}</b-td>
                    <b-td>{{ role.description }}</b-td>
                    <b-td>
                      <b-button
                        size="sm"
                        variant="primary"
                        @click="updateModal(role)"
                      >
                        <font-awesome-icon :icon="['fas', 'pen-square']" />
                        Edit
                      </b-button>
                    </b-td>
                  </b-tr>
                </b-tbody>
                <b-tbody class="text-dark" v-if="roles.length == 0">
                  <b-tr class="text-center">
                    <b-td colspan="3">No records added!</b-td>
                  </b-tr>
                </b-tbody>
              </b-table-simple>
              <div v-if="showLoader">
                <b-row>
                  <b-col cols="12 text-center">
                    <i class="fa fa-spin fa-spinner fa-5x"></i>
                  </b-col>
                </b-row>
              </div>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>

    <b-modal :title="title" ref="roles" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="roleName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="12">
          <b-form-group label="Permissions" label-for="permissions">
            <multiselect
              v-model="rolePermissions"
              track-by="id"
              label="name"
              placeholder="Select Permissions"
              :options="permissions"
              :allow-empty="true"
              :close-on-select="true"
              :multiple="true"
            >
            </multiselect>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="roleDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>

      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateRole"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addRole"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>

    <b-toast id="roles-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="(error, index) in errors" :key="index">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
export default {
  components: { Multiselect },
  mounted() {},
  created() {
    this.getRoles();
    this.getPermissions();
  },
  data() {
    return {
      errors: [],
      roles: [],
      permissions: [],
      rolePermissions: [],
      editData: {},
      add: false,
      edit: false,
      title: "",
      roleId: "",
      roleName: "",
      roleDescription: "",
      roleStatus: true,
      showLoader: false,
    };
  },
  methods: {
    getRoles() {
      this.roles = [];
      this.showLoader = true;
      axios
        .get("/roles/all/data")
        .then((res) => {
          this.roles = res.data;
          this.showLoader = false;
        })
        .catch((err) => {});
    },
    getPermissions() {
      this.permissions = [];
      axios
        .get("/permissions/all/data")
        .then((res) => {
          res.data.forEach((permission) => {
            let name = permission.name + " (" + permission.module.name + ")";
            this.permissions.push({
              id: permission.id,
              name: name,
            });
          });
          console.log(this.permissions);
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.roleId = "";
      this.roleName = "";
      this.roleDescription = "";
      this.rolePermissions = [];
      this.roleStatus = true;
      this.title = "Add Role";
      this.$refs["roles"].show();
    },
    updateModal(role) {
      this.add = false;
      this.edit = true;
      this.roleId = role.id;
      this.roleName = role.name;
      this.roleDescription = role.description;
      this.rolePermissions = [];
      role.permissions.forEach((permission) => {
        this.rolePermissions.push({
          id: permission.id,
          name: permission.name + " (" + permission.module.name + ")",
        });
      });
      this.roleStatus = role.status == 1 ? true : false;
      this.title = "Edit Role (" + role.name + ")";
      this.$refs["roles"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        name: this.roleName,
        description: this.roleDescription,
        permissions: this.rolePermissions.map((permission) => permission.id),
      };
      return data;
    },
    addRole() {
      let data = this.getData();
      let t = this;
      axios
        .post("/roles", data)
        .then((res) => {
          this.$refs["roles"].hide();
          this.getRoles();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("roles-erros");
        });
    },
    updateRole() {
      let data = this.getData();
      let t = this;
      axios
        .put("/roles/" + this.roleId, data)
        .then((res) => {
          this.$refs["roles"].hide();
          this.getRoles();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("roles-erros");
        });
    },
    hideModal() {
      this.$refs["roles"].hide();
    },
  },
};
</script>
