<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Routes">
          <b-row align-h="end" class="mb-3">
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Route
              </button>
            </b-col>
            <b-col cols="6" class="mt-3">
              <b-row align-h="end">
                <b-col cols="3" class="my-1">
                  <b-form-group
                    label="Per page"
                    label-for="per-page-select"
                    label-cols="5"
                    label-align-sm="right"
                    label-size="sm"
                    class="mb-0"
                  >
                    <b-form-select
                      id="per-page-select"
                      v-model="perPage"
                      :options="pageOptions"
                      size="sm"
                    ></b-form-select>
                  </b-form-group>
                </b-col>

                <b-col cols="6" class="my-1">
                  <b-form-group
                    label="Search"
                    label-for="filter-input"
                    label-cols="3"
                    label-align-sm="right"
                    label-size="sm"
                    class="mb-0"
                  >
                    <b-input-group size="sm">
                      <b-form-input
                        id="filter-input"
                        v-model="filter"
                        type="search"
                        placeholder="Type to Search"
                      ></b-form-input>

                      <b-input-group-append>
                        <b-button
                          :disabled="!filter"
                          @click="filter = ''"
                          variant="primary"
                        >
                          Clear
                        </b-button>
                      </b-input-group-append>
                    </b-input-group>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="12" class="mt-3">
              <b-table
                :items="routes"
                :fields="fields"
                :current-page="currentPage"
                :per-page="perPage"
                :filter="filter"
                stacked="lg"
                show-empty
                large
                hover
                head-variant="dark"
                :striped="true"
                @filtered="onFiltered"
                class="text-dark"
                :sortable="false"
              >
                <template #cell(status)="row">
                  {{ row.value == 0 ? "In Active" : "Active" }}
                </template>
                <template #cell(action)="row">
                  <b-button
                    type="button"
                    class="text-light"
                    title="Edit"
                    size="sm"
                    variant="primary"
                    @click="updateModal(row.item)"
                    ><font-awesome-icon :icon="['fas', 'eye']" />
                    Edit
                  </b-button>
                </template>
              </b-table>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
    <b-modal title="Routes" ref="routes" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="routeName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="routeDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="routeStatus"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateRoute"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addRoute"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>
    <b-toast id="routes-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getRoutes();
  },
  data() {
    return {
      assets: [],
      errors: [],
      routes: [],
      editData: {},
      add: false,
      edit: false,
      routeId: "",
      routeName: "",
      routeDescription: "",
      routeStatus: true,
      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 20, 30, 50],
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      fields: [
        { key: "name", label: "Name", sortable: true, sortDirection: "desc" },
        { key: "description", label: "Description" },
        { key: "status", label: "Status" },
        { key: "action", label: "Action" },
      ],
    };
  },
  methods: {
    getRoutes() {
      this.routes = [];
      axios
        .get("/routes/all/data")
        .then((res) => {
          this.routes = res.data;
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.routeId = "";
      this.routeName = "";
      this.routeDescription = "";
      this.routeStatus = true;
      this.$refs["routes"].show();
    },
    updateModal(route) {
      this.add = false;
      this.edit = true;
      this.routeId = route.id;
      this.routeName = route.name;
      this.routeDescription = route.description;
      this.routeStatus = route.status == 1 ? true : false;
      this.$refs["routes"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        name: this.routeName,
        description: this.routeDescription,
        status: this.routeStatus,
      };
      return data;
    },
    addRoute() {
      let data = this.getData();
      let t = this;
      axios
        .post("/routes", data)
        .then((res) => {
          this.$refs["routes"].hide();
          this.getRoutes();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("routes-erros");
        });
    },
    updateRoute() {
      let data = this.getData();
      let t = this;
      axios
        .put("/routes/" + this.routeId, data)
        .then((res) => {
          this.$refs["routes"].hide();
          this.getRoutes();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("routes-erros");
        });
    },
    hideModal() {
      this.$refs["routes"].hide();
    },
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
  },
};
</script>
