<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Ticket Entitlements">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Ticket Entitlement
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table-simple
                striped
                large
                caption-top
                :no-border-collapse="false"
                v-if="ticketEntitlements.length > 0"
              >
                <b-thead class="thead-dark text-light" >
                  <b-tr>
                    <b-th>Name</b-th>
                    <b-th>Description</b-th>
                    <b-th>Status</b-th>
                    <b-th>Actions</b-th>
                  </b-tr>
                </b-thead>
                <b-tbody class="text-dark">
                  <b-tr v-for="(ticketEntitlement, index) in ticketEntitlements" :key="index">
                    <b-td>{{ ticketEntitlement.name }}</b-td>
                    <b-td>{{ ticketEntitlement.description }}</b-td>
                    <b-td>{{ (ticketEntitlement.status == 1)? 'Active' : 'In-Active' }}</b-td>
                    <b-td>
                      <b-button
                        size="sm"
                        variant="primary"
                        @click="updateModal(ticketEntitlement)"
                      >
                        <font-awesome-icon :icon="['fas', 'pen-square']" />
                        Edit
                      </b-button>
                    </b-td>
                  </b-tr>
                </b-tbody>
              </b-table-simple>
              <div v-else>
                <b-row>
                  <b-col cols="12 text-center">
                    <i class="fa fa-spin fa-spinner fa-5x"></i>
                  </b-col>
                </b-row>
              </div>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
    <b-modal title="ticketEntitlements" ref="ticketEntitlements" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="ticketEntitlementName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="ticketEntitlementDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="ticketEntitlementStatus"
              :value="true"
              :unchecked-value="false"
            >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateTicketEntitlement"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addTicketEntitlement"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>
    <b-toast id="ticketEntitlements-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getTicketEntitlements();
  },
  data() {
    return {
      assets: [],
      errors: [],
      ticketEntitlements: [],
      editData: {},
      add: false,
      edit: false,
      ticketEntitlementId: "",
      ticketEntitlementName: "",
      ticketEntitlementDescription: "",
      ticketEntitlementStatus: true,
    };
  },
  methods: {
    getTicketEntitlements() {
      this.countries = [];
      axios
        .get("/ticket-entitlements/all/data")
        .then((res) => {
          this.ticketEntitlements = res.data;
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.ticketEntitlementId = "";
      this.ticketEntitlementName = "";
      this.ticketEntitlementDescription = "";
      this.ticketEntitlementStatus = true;
      this.$refs["ticketEntitlements"].show();
    },
    updateModal(ticketEntitlement) {
      this.add = false;
      this.edit = true;
      this.ticketEntitlementId = ticketEntitlement.id;
      this.ticketEntitlementName = ticketEntitlement.name;
      this.ticketEntitlementDescription = ticketEntitlement.description;
      this.ticketEntitlementStatus = ticketEntitlement.status == 1 ? true:false;
      this.$refs["ticketEntitlements"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        name: this.ticketEntitlementName,
        description: this.ticketEntitlementDescription,
        status:this.ticketEntitlementStatus,
      };
      return data;
    },
    addTicketEntitlement() {
      let data = this.getData();
      let t = this;
      axios
        .post("/ticket-entitlements", data)
        .then((res) => {
          this.$refs["ticketEntitlements"].hide();
          this.getTicketEntitlements();
        })
        .catch((err) => {
          $.each(err.response.data, function (indexMain, errors) {
            $.each(errors, function (index, error) {
              t.errors.push({ error: error });
            });
          });
          this.$bvToast.show("ticketEntitlements-erros");
        });
    },
    updateTicketEntitlement() {
      let data = this.getData();
      let t = this;
      axios
        .put("/ticket-entitlements/" + this.ticketEntitlementId, data)
        .then((res) => {
          this.$refs["ticketEntitlements"].hide();
          this.getTicketEntitlements();
        })
        .catch((err) => {
          $.each(err.response.data, function (indexMain, errors) {
            $.each(errors, function (index, error) {
              t.errors.push({ error: error });
            });
          });
          this.$bvToast.show("ticketEntitlements-erros");
        });
    },
    hideModal() {
      this.$refs["ticketEntitlements"].hide();
    },
  },
};
</script>
