<template>
  <div>
    <b-card no-body>
      <b-tabs card class="single_post" id="basicTabs">
        <b-tab no-body title="Main" class="nav-lik">
          <div v-if="employee.mainTab">
            <main-tab
              :tab-data="employee.mainTab"
              :employeeId="employeeId"
              @refreshMainTab="updateComponent()"
            ></main-tab>
          </div>
          <div class="text-center" v-else>
            <i class="fa fa-spin fa-spinner fa-5x"></i>
          </div>
        </b-tab>

        <b-tab no-body title="Personl Info" class="nav-lik">
          <div v-if="countries && employee.personalTab">
            <personal-info
              :tab-data="employee.personalTab"
              :employeeId="employeeId"
              :countries="countries"
              @refreshMainTab="updateComponent()"
            ></personal-info>
          </div>
          <div class="text-center" v-else>
            <i class="fa fa-spin fa-spinner fa-5x"></i>
          </div>
        </b-tab>

        <b-tab no-body title="Employee Contacts" class="nav-lik">
          <div v-if="employee.personalTab">
            <employee-contact
              :tab-data="employee.employeeContactTab"
              :employeeId="employeeId"
              @refreshMainTab="updateComponent()"
            ></employee-contact>
          </div>
          <div class="text-center" v-else>
            <i class="fa fa-spin fa-spinner fa-5x"></i>
          </div>
        </b-tab>

        <!-- <b-tab no-body title="Dependents" class="nav-lik">
          <div v-if="employee.dependentTab && relations && countries">
            <dependents
              :tab-data="employee.dependentTab"
              :employeeId="employeeId"
              :relations="relations"
              :countries="countries"
              @refreshMainTab="updateOfficalTab()"
            ></dependents>
          </div>
          <div class="text-center" v-else>
            <i class="fa fa-spin fa-spinner fa-5x"></i>
          </div>
        </b-tab> -->

        <b-tab no-body title="Emergency Contacts" class="nav-lik">
          <div v-if="employee.emergencyContactTab">
            <emergency-contact
              :tab-data="employee.emergencyContactTab"
              :employeeId="employeeId"
              :relations="relations"
              @refreshMainTab="updateComponent()"
            ></emergency-contact>
          </div>
          <div class="text-center" v-else>
            <i class="fa fa-spin fa-spinner fa-5x"></i>
          </div>
        </b-tab>

        <b-tab no-body title="Education" class="nav-lik">
          <div
            v-if="
              employee.educationTab && institutes && qualifications && countries
            "
          >
            <education
              :tab-data="employee.educationTab"
              :employeeId="employeeId"
              :countries="countries"
              :qualifications="qualifications"
              :institutes="institutes"
              @refreshMainTab="updateComponent()"
            ></education>
          </div>
          <div class="text-center" v-else>
            <i class="fa fa-spin fa-spinner fa-5x"></i>
          </div>
        </b-tab>
      </b-tabs>
    </b-card>
  </div>
</template>

<script>
import axios from "axios";
import MainTab from "./tabs/MainTab.vue";
import PersonalInfo from "./tabs/PersonalInfo.vue";
import EmployeeContact from "./tabs/EmployeeContact.vue";
import Dependents from "./tabs/Dependents.vue";
import EmergencyContact from "./tabs/EmergencyContact.vue";
import Education from "./tabs/Education.vue";

export default {
  components: {
    MainTab,
    PersonalInfo,
    EmployeeContact,
    Dependents,
    EmergencyContact,
    Education,
  },
  mounted() {},
  props: {
    employeeId: {
      type: String,
      default: "",
      required: true,
    },
  },
  data() {
    return {
      employee: {},
      countries: [],
      relations: [],
      institutes: [],
      qualifications: [],
    };
  },
  created() {
    this.getEmployee();
    this.getCountries();
    this.getRelations();
    this.getQualifications();
    this.getInstitues();
  },
  methods: {
    async getEmployee() {
      axios
        .get("/employees/" + this.employeeId + "/basic-info")
        .then((res) => {
          this.employee = res.data.data;
          this.getQualifications();
          this.getInstitues();
        })
        .catch((err) => {});
    },
    async getCountries() {
      axios
        .get("/countries/all/data")
        .then((res) => {
          this.countries = res.data;
        })
        .catch((err) => {});
    },
    async getRelations() {
      axios
        .get("/relations/all/data")
        .then((res) => {
          this.relations = res.data;
        })
        .catch((err) => {});
    },
    async getQualifications() {
      axios
        .get("/qualifications/all/data")
        .then((res) => {
          this.qualifications = res.data;
        })
        .catch((err) => {});
    },
    async getInstitues() {
      axios
        .get("/institutes/all/data")
        .then((res) => {
          this.institutes = res.data;
        })
        .catch((err) => {});
    },
    updateComponent() {
      this.employee = {};
      this.getEmployee();
    },
    updateOfficalTab() {
      this.$emit("updateOfficalTab");
      this.employee = {};
      this.getEmployee();
    },
  },
};
</script>

<style>
#basicTabs__BV_tab_container_ {
  background: #343a40;
  color: azure;
}
#basicTabs .card-header {
  padding-top: 0.001em;
  padding-left: 0.6em;
  padding-bottom: 0.8em;
}
</style>

