<template>
  <div>
    <b-card no-body>
      <b-tabs card class="single_post" id="officalTabs">
        <b-tab no-body title="Official Details" class="nav-lik">
          <div v-if="employee.officalDetailsTab">
            <offical-details
              :employeeId="employeeId"
              :tabData="employee.officalDetailsTab"
              :countries="countries"
              @refreshMainTab="updateComponent()"
            ></offical-details>
          </div>
          <div class="text-center" v-else>
            <i class="fa fa-spin fa-spinner fa-5x"></i>
          </div>
        </b-tab>

        <b-tab no-body title="Rules" class="nav-lik">
          <div v-if="employee.rulesTab">
            <rules
              :employeeId="employeeId"
              :tabData="employee.rulesTab"
              :countries="countries"
              @refreshMainTab="updateComponent()"
            ></rules>
          </div>
          <div class="text-center" v-else>
            <i class="fa fa-spin fa-spinner fa-5x"></i>
          </div>
        </b-tab>

        <!-- <b-tab no-body title="Dependent Benifits" class="nav-lik">
          <div v-if="employee.dependentBenifitsTab">
            <dependent-benifits
              :employeeId="employeeId"
              :tabData="employee.dependentBenifitsTab"
              :currencies="currencies"
              @refreshMainTab="updateComponent()"
            ></dependent-benifits>
          </div>
          <div class="text-center" v-else>
            <i class="fa fa-spin fa-spinner fa-5x"></i>
          </div>
        </b-tab> -->

        <b-tab no-body title="Pay Elements" class="nav-lik">
          <div v-if="employee.payElements">
            <pay-element
              :employeeId="employeeId"
              :tabData="employee.payElements"
              :currencies="currencies"
              @refreshMainTab="updateComponent()"
            ></pay-element>
          </div>
          <div class="text-center" v-else>
            <i class="fa fa-spin fa-spinner fa-5x"></i>
          </div>
        </b-tab>

        <b-tab no-body title="Bank Info" class="nav-lik">
          <div v-if="employee.bankInfoTab">
            <bank-info
              :employeeId="employeeId"
              :tabData="employee.bankInfoTab"
              @refreshMainTab="updateComponent()"
            ></bank-info>
          </div>
          <div class="text-center" v-else>
            <i class="fa fa-spin fa-spinner fa-5x"></i>
          </div>
        </b-tab>

        <!-- <b-tab
          no-body
          title="Insurance"
          class="nav-lik"
          :disabled="
            employee.rulesTab && employee.rulesTab.medicalInsurance == 0
          "
        >
          <div v-if="employee.insuranceTab">
            <employee-insurance
              :employeeId="employeeId"
              :tabData="employee.insuranceTab"
              @refreshMainTab="updateComponent()"
            ></employee-insurance>
          </div>
          <div class="text-center" v-else>
            <i class="fa fa-spin fa-spinner fa-5x"></i>
          </div>
        </b-tab> -->

        <b-tab no-body title="Documents" class="nav-lik">
          <div v-if="employee.documentsTab">
            <employee-document
              :employeeId="employeeId"
              :tabData="employee.documentsTab"
              :countries="countries"
              @refreshMainTab="updateComponent()"
            ></employee-document>
          </div>
          <div class="text-center" v-else>
            <i class="fa fa-spin fa-spinner fa-5x"></i>
          </div>
        </b-tab>

        <b-tab no-body title="Assets" class="nav-lik">
          <div v-if="employee.assetsTab">
            <asset
              :employeeId="employeeId"
              :tabData="employee.assetsTab"
              :currencies="currencies"
              @refreshMainTab="updateComponent()"
            ></asset>
          </div>
          <div class="text-center" v-else>
            <i class="fa fa-spin fa-spinner fa-5x"></i>
          </div>
        </b-tab>
      </b-tabs>
    </b-card>
  </div>
</template>

<script>
import axios from "axios";
import Rules from "./tabs/Rules.vue";
import OfficalDetails from "./tabs/OfficalDetails.vue";
import DependentBenifits from "./tabs/DependentBenifits.vue";
import PayElement from "./tabs/PayElement.vue";
import BankInfo from "./tabs/BankInfo.vue";
import EmployeeInsurance from "./tabs/EmployeeInsurance.vue";
import EmployeeDocument from "./tabs/EmployeeDocument.vue";
import Asset from "./tabs/Asset.vue";

export default {
  components: {
    Asset,
    Rules,
    OfficalDetails,
    DependentBenifits,
    PayElement,
    BankInfo,
    EmployeeInsurance,
    EmployeeDocument,
  },
  mounted() {},
  props: {
    employeeId: {
      type: String,
      default: "",
      required: true,
    },
    updateTab: {
      type: Boolean,
      default: false,
      required: true,
    },
  },
  data() {
    return {
      employee: {},
      countries: [],
      relations: [],
      institutes: [],
      qualifications: [],
      currencies: [],
    };
  },
  created() {
    this.getCountries();
    this.getRelations();
    this.getEmployee();
    this.getQualifications();
    this.getInstitues();
    this.getCurrencies();
  },
  methods: {
    getEmployee() {
      axios
        .get("/employees/" + this.employeeId + "/offical-info")
        .then((res) => {
          this.employee = res.data.data;
        })
        .catch((err) => {});
    },
    async getCountries() {
      axios
        .get("/countries/all/data")
        .then((res) => {
          this.countries = res.data;
        })
        .catch((err) => {});
    },
    async getRelations() {
      axios
        .get("/relations/all/data")
        .then((res) => {
          this.relations = res.data;
        })
        .catch((err) => {});
    },
    async getQualifications() {
      axios
        .get("/qualifications/all/data")
        .then((res) => {
          this.qualifications = res.data;
        })
        .catch((err) => {});
    },
    async getInstitues() {
      axios
        .get("/institutes/all/data")
        .then((res) => {
          this.institutes = res.data;
        })
        .catch((err) => {});
    },
    async getCurrencies() {
      axios
        .get("/currencies/all/data")
        .then((res) => {
          this.currencies = res.data;
        })
        .catch((err) => {});
    },
    updateComponent() {
      this.employee = {};
      this.getEmployee();
    },
  },
  watch: {
    updateTab: function () {
      if (this.updateTab) {
        console.log("In herer");
        this.updateComponent();
      }
    },
  },
};
</script>
<style>
#officalTabs__BV_tab_container_ {
  background: #343a40;
  color: azure;
}
#officalTabs .card-header {
  padding-top: 0.001em;
  padding-left: 0.6em;
  padding-bottom: 0.8em;
}
</style>
