<template>
  <div>
    <b-row>
      <b-col cols="12">
        <employee-profile-info :employeeId="employeeId"></employee-profile-info>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12">
        <employee-basic-tab
          :employeeId="employeeId"
          @updateOfficalTab="updateOfficalTab()"
        ></employee-basic-tab>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12" v-if="updateOfficalTab">
        <employee-offical-tab
          :employeeId="employeeId"
          :updateTab="updateTab"
        ></employee-offical-tab>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import EmployeeBasicTab from "./EmployeeBasicTab.vue";
import EmployeeOfficalTab from "./EmployeeOfficalTab.vue";
import EmployeeProfileInfo from "./EmployeeProfileInfo.vue";

export default {
  components: {
    EmployeeOfficalTab,
    EmployeeBasicTab,
    EmployeeProfileInfo,
  },
  mounted() {},
  props: {
    employeeId: {
      type: String,
      default: "",
      required: true,
    },
    modules: {
      type: Array,
      default: [],
      required: true,
    },
  },
  data() {
    return {
      updateOfficalTab: true,
    };
  },
  created() {
    console.log(this.modules);
  },
  methods: {
    updateOfficalTab() {
      this.updateOfficalTab = false;
      this.$nextTick(() => {
        this.updateOfficalTab = true;
      });
    },
  },
};
</script>
<style>
.modal-footer {
  position: relative;
}
.modal-header, .modal-body, .modal-footer{
  padding:2rem;
}
</style>
