<template>
  <div>
    <b-row>
      <b-col size="12" class="mt-3">
        <b-card title="Select Parameters">
          <b-form :validated="true" @submit="getEmployees">
            <b-row>
              <b-col cols="3">
                <b-form-group>
                  <b-form-select
                    id="selectedCompany"
                    v-model="company"
                    :options="companies"
                    :required="true"
                    placeholder="Select Company"
                  ></b-form-select>
                </b-form-group>
              </b-col>

              <b-col cols="3">
                <b-input-group>
                  <b-form-input
                    id="attendanceStartDate"
                    v-model="attendanceStartDate"
                    type="text"
                    placeholder="Start Date"
                    autocomplete="on"
                  ></b-form-input>
                  <b-input-group-append>
                    <b-form-datepicker
                      v-model="attendanceStartDate"
                      button-only
                      right
                      locale="en-US"
                      aria-controls="attendanceStartDate"
                      button-variant="primary"
                    ></b-form-datepicker>
                  </b-input-group-append>
                </b-input-group>
              </b-col>

              <b-col cols="3">
                <b-input-group>
                  <b-form-input
                    id="attendanceEndDate"
                    v-model="attendanceEndDate"
                    type="text"
                    placeholder="End Date"
                    autocomplete="on"
                    :min="attendanceStartDate"
                  ></b-form-input>
                  <b-input-group-append>
                    <b-form-datepicker
                      v-model="attendanceEndDate"
                      button-only
                      right
                      locale="en-US"
                      aria-controls="attendanceEndDate"
                      button-variant="primary"
                      :min="attendanceStartDate"
                    ></b-form-datepicker>
                  </b-input-group-append>
                </b-input-group>
              </b-col>

              <b-col cols="2">
                <b-button type="submit" variant="primary">
                  Load Employees
                </b-button>
              </b-col>
            </b-row>
          </b-form>

          <hr class="mt-3 mb-3" />

          <b-row class="mb-2">
            <b-col>
              <h5>Filter Employees</h5>
            </b-col>
          </b-row>

          <b-row>
            <b-col cols="3">
              <b-form-group>
                <label>Filter By Department</label>
                <b-form-select
                  id="selectedDepartment"
                  v-model="department"
                  :options="departments"
                  :disabled="employees.length == 0"
                  @change="getSubDepartments(department)"
                  placeholder="Select Department"
                ></b-form-select>
              </b-form-group>
            </b-col>
            <b-col cols="3">
              <b-form-group>
                <label>Filter By Sub Department</label>
                <multiselect
                  v-model="subDepartment"
                  placeholder="Select Sub Departments"
                  label="text"
                  track-by="value"
                  :options="subDepartments"
                  :multiple="true"
                  :taggable="true"
                  :disabled="employees.length == 0"
                ></multiselect>
              </b-form-group>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
    <b-row v-if="subDepartmentEmployees.length > 0">
      <b-col size="12" class="mt-3">
        <b-card title="Add Employees">
          <b-row id="employeeAttendanceTable">
            <b-col cols="12" class="text-right mb-4">
              <b-button variant="primary" @click="attendanceUploadModal()">
                <font-awesome-icon :icon="['fas', 'file-excel']" />
                Upload Attendance
              </b-button>
              <b-button variant="success" @click="downloadAttendanceSheet()">
                <font-awesome-icon :icon="['fas', 'file-excel']" />
                Attendance Sheet
              </b-button>
            </b-col>
            <b-col cols="12">
              <b-table-simple
                hover
                large
                caption-top
                :no-border-collapse="false"
              >
                <b-thead>
                  <b-tr class="text-dark">
                    <b-th>Name</b-th>
                    <b-th>Employee Id</b-th>
                    <b-th>Emirates Id</b-th>
                    <b-th>Status</b-th>
                    <b-th>Date</b-th>
                    <b-th>Check In Time</b-th>
                    <b-th>Check Out Time</b-th>
                    <b-th>Remarks</b-th>
                  </b-tr>
                </b-thead>
                <b-tbody class="text-dark">
                  <b-tr
                    v-for="(employee, index) in subDepartmentEmployees"
                    :key="index"
                  >
                    <b-td>{{ employee.name }}</b-td>
                    <b-td>{{ employee.id }}</b-td>
                    <b-td>{{ employee.emiratesId }}</b-td>
                    <b-td>
                      <b-form-select
                        :id="'employee_attendance-' + employee.id"
                        v-model="employee.attendanceStatus"
                        :options="attendanceStatuses"
                        :required="true"
                      >
                      </b-form-select>
                    </b-td>
                    <b-td>{{ employee.date }}</b-td>
                    <b-td>
                      <vue-timepicker
                        format="HH:mm"
                        v-model="employee.checkInTime"
                        auto-scroll
                        drop-direction="up"
                      ></vue-timepicker>
                    </b-td>
                    <b-td>
                      <vue-timepicker
                        format="HH:mm"
                        v-model="employee.checkOutTime"
                        auto-scroll
                        drop-direction="up"
                      ></vue-timepicker>
                    </b-td>
                    <b-td>
                      <b-input
                        id="remarks"
                        v-model="employee.remarks"
                        placeholder="Remarks"
                        type="text"
                      ></b-input>
                    </b-td>
                  </b-tr>
                </b-tbody>
              </b-table-simple>
              <div class="text-right">
                <b-button variant="success" @click="addAttendance">
                  Add Attendance
                </b-button>
              </div>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>

    <b-toast
      id="employee-attendance-errors"
      variant="danger"
      solid
      no-auto-hide
    >
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="(error, index) in errors" :key="index">{{ error.error }}</li>
      </ul>
    </b-toast>

    <b-toast id="employee-attendance-success" variant="success" solid>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Attendance Added!</strong>
        </div>
      </template>
      <ul>
        <li>{{ success }}</li>
      </ul>
    </b-toast>

    <b-modal
      title="Employee Attendance Edit"
      ref="employee-attendance-edit"
      size="md"
      @hidden="updateComponent"
    >
      <div v-if="editEmployee">
        <b-row>
          <b-col cols="6">
            <b-form-group>
              <label for="asset_type_id">Employee</label>
              <input
                type="text"
                v-model="editEmployee.name"
                class="form-control"
                :disabled="true"
              />
            </b-form-group>
          </b-col>
          <b-col cols="6">
            <b-form-group>
              <label for="asset_type_id">Employee Id</label>
              <input
                type="text"
                v-model="editEmployee.id"
                class="form-control"
                :disabled="true"
              />
            </b-form-group>
          </b-col>
        </b-row>
        <hr />
        <b-row class="mb-3">
          <b-col cols="6">
            <label for="date">Attendance Status</label>
            <b-form-select
              v-model="editEmployee.attendanceStatus"
              :options="attendanceStatuses"
            >
            </b-form-select>
          </b-col>
          <b-col cols="6">
            <label for="date">Attendance Date</label>
            <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
              <b-form-input
                id="date"
                v-model="editEmployee.attendanceDate"
                type="text"
                placeholder="YYYY-MM-DD"
                autocomplete="on"
              ></b-form-input>
              <b-input-group-append>
                <b-form-datepicker
                  v-model="editEmployee.attendanceDate"
                  button-only
                  right
                  locale="en-US"
                  aria-controls="date"
                  button-variant="primary"
                ></b-form-datepicker>
              </b-input-group-append>
            </b-input-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="6">
            <b-form-group>
              <label for="checkInTime">Check In Time</label>
              <vue-timepicker
                format="HH:mm"
                v-model="editEmployee.checkInTime"
                class="form-group"
              ></vue-timepicker>
            </b-form-group>
          </b-col>

          <b-col cols="6">
            <b-form-group>
              <label for="checkOutTime">Check Out Time</label>
              <vue-timepicker
                format="HH:mm"
                v-model="editEmployee.checkOutTime"
                class="form-group"
              ></vue-timepicker>
            </b-form-group>
          </b-col>
        </b-row>
      </div>
      <template #modal-footer>
        <div id="dependant_div">
          <button
            type="button"
            class="btn btn-success"
            @click="updateAttendance"
          >
            UPDATE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>

    <b-modal
      title="Employee Attendance Upload"
      ref="employee-attendance-upload"
      size="md"
      @hidden="updateComponent"
    >
      <div v-if="editEmployee">
        <b-row>
          <b-col cols="12">
            <label for="document_path">Upload Attendance Sheet</label>
            <input
              type="file"
              class="form-control dropify"
              ref="document"
              @change="handleFileUpload()"
            />
          </b-col>
        </b-row>
      </div>
      <template #modal-footer>
        <div id="dependant_div">
          <button
            type="button"
            class="btn btn-success"
            @click="uploadAttendance"
          >
            UPLOAD
          </button>
          <button
            type="button"
            class="btn btn-danger"
            @click="hideAttendanceModal"
          >
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
import VueTimepicker from "vue2-timepicker";
import "vue2-timepicker/dist/VueTimepicker.css";
export default {
  components: { VueTimepicker, Multiselect },
  mounted() {},
  props: {},
  data() {
    return {
      company: null,
      employee: null,
      department: null,
      subDepartment: null,
      success: "",
      selectAll: false,
      updated: false,
      attendanceEndDate: "",
      attendanceStartDate: "",
      errors: [],
      employees: [],
      companies: [],
      departments: [],
      subDepartments: [{ value: null, text: "Select Sub Department" }],
      attendanceStatuses: [],
      editEmployee: {},
    };
  },
  created() {
    this.attendanceDate = moment().format("YYYY-MM-DD");
    this.getCompanies();
    this.getDepartments();
    this.getAttendanceStatus();
  },
  methods: {
    getCompanies() {
      this.companies = [{ value: null, text: "Select Company" }];
      let t = this;
      axios
        .get("/companies/all/data")
        .then((res) => {
          $.each(res.data, function (index, company) {
            t.companies.push({
              value: company.id,
              text: company.name,
            });
          });
        })
        .catch((err) => {});
    },
    async getEmployees(e) {
      if (e) {
        e.preventDefault();
      }
      this.employees = [];
      this.selectAll = false;
      let t = this;
      axios
        .get("/companies/" + this.company + "/attendance/employees", {
          params: {
            startDate: this.attendanceStartDate,
            endDate: this.attendanceEndDate,
          },
        })
        .then((res) => {
          this.employees = res.data;
        })
        .catch((err) => {});
    },
    getDepartments() {
      this.department = null;
      this.departments = [{ value: null, text: "Select Department" }];
      let t = this;
      axios
        .get("/departments/all/data")
        .then((res) => {
          $.each(res.data, function (index, department) {
            t.departments.push({
              value: department.id,
              text: department.name,
            });
          });
        })
        .catch((err) => {});
    },
    getSubDepartments(department) {
      this.subDepartment = [];
      this.subDepartments = [];
      let t = this;
      axios
        .get("/departments/" + department + "/sub-departments")
        .then((res) => {
          $.each(res.data, function (index, subDepartment) {
            t.subDepartments.push({
              value: subDepartment.id,
              text: subDepartment.name,
            });
          });
        })
        .catch((err) => {});
    },
    getAttendanceStatus() {
      this.attendanceStatuses = [{ value: null, text: "Select Status" }];
      let t = this;
      axios
        .get("/attendance-statuses/all/data")
        .then((res) => {
          $.each(res.data, function (index, status) {
            t.attendanceStatuses.push({
              value: status.id,
              text: status.name,
            });
          });
        })
        .catch((err) => {});
    },
    selectAllEmployees() {
      this.subDepartmentEmployees.forEach((employee) => {
        if (!employee.disabled) {
          Vue.set(employee, "status", this.selectAll);
        }
      });
    },
    checkEmployeesCount() {
      if (this.subDepartmentEmployees.length == this.selectedEmployees.length) {
        this.selectAll = true;
      } else {
        this.selectAll = false;
      }
    },
    addAttendance() {
      this.errors = [];
      let promises = [];
      let attendanceData = [];
      let url = "/employee-attendances";
      this.subDepartmentEmployees.forEach((employee) => {
        attendanceData.push({
          id: employee.attendanceId,
          employee_id: employee.id,
          attendance_status_id: employee.attendanceStatus,
          attendance_date: employee.date,
          checkin_time: employee.checkInTime,
          checkout_time: employee.checkOutTime,
          remarks: employee.remarks,
        });
      });
      $.each(attendanceData, function (index, data) {
        promises.push(axios.post(url, data));
      });
      axios
        .all(promises)
        .then(
          axios.spread((...responses) => {
            this.success =
              responses.length + " selected employees attendance added.";
            this.$bvToast.show("employee-attendance-success");
            this.getEmployees();
          })
        )
        .catch((errors) => {
          this.errors = [];
          this.errors.push({ error: errors.response.data });
          this.$bvToast.show("employee-attendance-errors");
          console.error();
        });
    },
    openModal(employee) {
      this.editEmployee = {
        id: employee.id,
        name: employee.name,
        attendanceId: employee.attendanceId,
        attendanceStatus: employee.attendanceStatus,
        attendanceDate: this.attendanceDate,
        checkInTime: employee.checkInTime,
        checkOutTime: employee.checkOutTime,
      };
      this.$refs["employee-attendance-edit"].show();
    },
    hideModal() {
      this.$refs["employee-attendance-edit"].hide();
    },
    updateAttendance() {
      this.updated = false;
      let data = {
        employee_id: this.editEmployee.id,
        attendance_status_id: this.editEmployee.attendanceStatus,
        attendance_date: this.attendanceDate,
        checkin_time: this.editEmployee.checkInTime,
        checkout_time: this.editEmployee.checkOutTime,
      };
      axios
        .put("/employee-attendances/" + this.editEmployee.attendanceId, data)
        .then((res) => {
          this.updated = true;
          this.success = res.data.success;
          this.$bvToast.show("employee-attendance-success");
          this.$refs["employee-attendance-edit"].hide();
        })
        .catch((err) => {});
    },
    updateComponent() {
      if (this.updated) {
        this.getEmployees();
      }
    },
    downloadAttendanceSheet() {
      let params = {
        startDate: this.attendanceStartDate,
        endDate: this.attendanceEndDate,
        companyId: this.company,
      };
      axios
        .get("/employees/attendance/excel", {
          params: params,
          responseType: "blob",
        })
        .then((res) => {
          console.log(res);
          const url = window.URL.createObjectURL(new Blob([res.data]));
          const link = document.createElement("a");
          link.href = url;
          link.setAttribute(
            "download",
            "Attendance " + this.attendanceDate + ".xlsx"
          );
          document.body.appendChild(link);
          link.click();
        })
        .catch((err) => {});
    },
    attendanceUploadModal() {
      this.$refs["employee-attendance-upload"].show();
    },
    uploadAttendance() {
      let data = new FormData();
      data.append("document", this.file);
      this.errors = [];
      this.message = "";
      let t = this;
      axios
        .post("/employee-attendances/import", data, {
          "Content-Type": "multipart/form-data",
        })
        .then((res) => {
          this.success = res.data.success;
          this.$bvToast.show("employee-attendance-success");
          this.$refs["employee-attendance-upload"].hide();
        })
        .catch((err) => {
          err.response.data.forEach((value, index) => {
            this.errors.push({ error: value });
          });
          this.$bvToast.show("employee-attendance-errors");
        });
    },
    hideAttendanceModal() {
      this.$refs["employee-attendance-upload"].hide();
    },
    handleFileUpload() {
      this.file = this.$refs.document.files[0];
    },
  },
  computed: {
    attendanceEmployees() {
      return this.employees.filter((employee) => !employee.disabled);
    },
    attendanentEmployees() {
      return this.employees.filter((employee) => employee.disabled);
    },
    departmentEmployees() {
      if (this.department) {
        return this.employees.filter(
          (employee) => employee.department == this.department
        );
      } else {
        return this.employees;
      }
    },
    selectedDepartmentsId() {
      let ids = [];
      if (this.subDepartment && this.subDepartment.length > 0) {
        ids = this.subDepartment.map((department) => department.value);
      }
      return ids;
    },
    subDepartmentEmployees() {
      if (this.subDepartment && this.subDepartment.length > 0) {
        return this.departmentEmployees.filter((employee) =>
          this.selectedDepartmentsId.includes(employee.subDepartment)
        );
      } else {
        return this.departmentEmployees;
      }
    },
    selectedEmployees() {
      return this.subDepartmentEmployees.filter(
        (employee) => employee.status == true
      );
    },
  },
  watch: {},
};
</script>

<style>
/* #employeeAttendanceTable .b-table-sticky-header {
  height: auto;
  min-height: 400px;
} */
</style>
