<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Employee Claims List">
          <!-- User Interface controls -->
          <b-row align-h="end" class="mb-3">
            <b-col cols="12">
              <b-button variant="primary" @click="addModal" class="pull-right">
                <font-awesome-icon :icon="['fas', 'plus']" />
                Add Claim
              </b-button>
            </b-col>
            <b-col cols="6" class="mt-3">
              <b-row align-h="end">
                <b-col cols="3" class="my-1">
                  <b-form-group
                    label="Per page"
                    label-for="per-page-select"
                    label-cols="5"
                    label-align-sm="right"
                    label-size="sm"
                    class="mb-0"
                  >
                    <b-form-select
                      id="per-page-select"
                      v-model="perPage"
                      :options="pageOptions"
                      size="sm"
                    ></b-form-select>
                  </b-form-group>
                </b-col>

                <b-col cols="6" class="my-1">
                  <b-form-group
                    label="Search"
                    label-for="filter-input"
                    label-cols="3"
                    label-align-sm="right"
                    label-size="sm"
                    class="mb-0"
                  >
                    <b-input-group size="sm">
                      <b-form-input
                        id="filter-input"
                        v-model="filter"
                        type="search"
                        placeholder="Type to Search"
                      ></b-form-input>

                      <b-input-group-append>
                        <b-button
                          :disabled="!filter"
                          @click="filter = ''"
                          variant="primary"
                        >
                          Clear
                        </b-button>
                      </b-input-group-append>
                    </b-input-group>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-col>
          </b-row>

          <!-- Main table element -->
          <b-row>
            <b-table
              :items="claims"
              :fields="fields"
              :current-page="currentPage"
              :per-page="perPage"
              :filter="filter"
              :filter-included-fields="filterOn"
              stacked="lg"
              show-empty
              large
              hover
              head-variant="dark"
              :striped="true"
              @filtered="onFiltered"
              class="text-dark"
              :sortable="false"
            >
              <template #cell(details)="row">
                <b-button
                  type="button"
                  class="text-light"
                  title="Edit"
                  size="sm"
                  variant="primary"
                  @click="showViewModel(row.item)"
                  ><font-awesome-icon :icon="['fas', 'plus']" /> Details
                </b-button>
              </template>
            </b-table>
          </b-row>

          <b-row class="mt-3" align-h="end">
            <b-col cols="3" class="my-1">
              <b-pagination
                v-model="currentPage"
                first-text="First"
                last-text="Last"
                :total-rows="totalRows"
                :per-page="perPage"
                size="md"
                class="my-0 pull-right"
              ></b-pagination>
            </b-col>
          </b-row>

          <b-modal title="Add Claim" ref="employees" size="lg">
            <b-row>
              <b-col cols="6">
                <b-form :validated="true" @submit="addClaim">
                  <b-row>
                    <b-col cols="12">
                      <h4>Claim Details</h4>
                      <b-form-group label="Description">
                        <b-textarea
                          v-model="description"
                          placeholder="Claim Description"
                          rows="3"
                          max-rows="6"
                        ></b-textarea>
                      </b-form-group>
                      <b-form-group label="Currency">
                        <b-form-select
                          v-model="currency"
                          :options="currencies"
                          required
                        ></b-form-select>
                      </b-form-group>
                      <b-form-group>
                        <b-input-group>
                          <b-form-input
                            id="date"
                            v-model="date"
                            type="text"
                            placeholder="Date"
                            autocomplete="on"
                          ></b-form-input>
                          <b-input-group-append>
                            <b-form-datepicker
                              v-model="date"
                              button-only
                              right
                              locale="en-US"
                              aria-controls="date"
                              button-variant="primary"
                              button-size="sm"
                            ></b-form-datepicker>
                          </b-input-group-append>
                        </b-input-group>
                      </b-form-group>
                      <h4 class="pull-right mt-3">Amount: {{ totalAmount }}</h4>
                    </b-col>
                  </b-row>
                  <hr />
                  <b-row>
                    <b-col cols="12">
                      <h4>Claim Benefits</h4>
                    </b-col>
                    <b-col cols="5">
                      <b-form-group
                        label="Select Benefit"
                        label-for="firstName"
                      >
                        <b-form-select
                          v-model="benefit"
                          :options="benefits"
                          required
                        ></b-form-select>
                      </b-form-group>
                    </b-col>
                    <b-col cols="5">
                      <b-form-group label="Amount" label-for="middleName">
                        <b-form-input
                          v-model="benefitAmount"
                          id="amount"
                          type="text"
                          placeholder="Amount"
                          required
                        ></b-form-input>
                      </b-form-group>
                    </b-col>
                    <b-col cols="2">
                      <br />
                      <b-button
                        variant="success"
                        size="sm"
                        type="submit"
                        class="mt-3"
                      >
                        <font-awesome-icon :icon="['fas', 'check-circle']" />
                        Add
                      </b-button>
                    </b-col>
                  </b-row>
                </b-form>
              </b-col>
              <b-col cols="6">
                <b-row v-if="addedClaims.length > 0">
                  <b-col cols="12">
                    <h4>Benefit(s) Details</h4>
                  </b-col>
                </b-row>

                <b-row
                  v-for="(claim, index) in addedClaims"
                  :key="index"
                  class="mb-3"
                >
                  <b-col cols="6">
                    <b-form-select
                      :id="'claimBenefit-' + index"
                      v-model="claim.benefitId"
                      :options="benefits"
                    ></b-form-select>
                  </b-col>
                  <b-col cols="6">
                    <b-form-input
                      v-model="claim.amount"
                      :id="'claimAmount-' + index"
                      type="text"
                      placeholder="Amount"
                      autocomplete="on"
                    ></b-form-input>
                  </b-col>
                </b-row>
              </b-col>
            </b-row>

            <template #modal-footer>
              <div>
                <button
                  type="button"
                  class="btn btn-primary"
                  @click="addCalimDetails"
                >
                  SAVE CHANGES
                </button>
                <button type="button" class="btn btn-danger" @click="hideModal">
                  CLOSE
                </button>
              </div>
            </template>
          </b-modal>

          <b-modal title="Claim Details" ref="claimDetails" size="md">
            <b-form :validated="true" @submit="addClaim">
              <b-row>
                <b-col cols="12">
                  <h4>Claim Details</h4>
                  <b-form-group label="Description">
                    <b-textarea
                      v-model="selectedClaim.description"
                      placeholder="Claim Description"
                      rows="3"
                      max-rows="6"
                    ></b-textarea>
                  </b-form-group>
                  <b-form-group label="Currency">
                    <b-form-select
                      v-model="selectedClaim.currencyId"
                      :options="currencies"
                      required
                    ></b-form-select>
                  </b-form-group>
                  <b-form-group>
                    <b-input-group>
                      <b-form-input
                        id="date"
                        v-model="selectedClaim.date"
                        type="text"
                        placeholder="Date"
                        autocomplete="on"
                      ></b-form-input>
                      <b-input-group-append>
                        <b-form-datepicker
                          v-model="date"
                          button-only
                          right
                          locale="en-US"
                          aria-controls="date"
                          button-variant="primary"
                          button-size="sm"
                        ></b-form-datepicker>
                      </b-input-group-append>
                    </b-input-group>
                  </b-form-group>
                  <h4 class="pull-right mt-3">Amount: {{ updatedTotal }}</h4>
                </b-col>
              </b-row>
              <hr />
              <b-row>
                <b-col cols="12">
                  <h4>Claim Benefits</h4>
                </b-col>
                <b-col cols="5">
                  <b-form-group label="Select Benefit" label-for="firstName">
                    <b-form-select
                      v-model="benefit"
                      :options="benefits"
                      required
                    ></b-form-select>
                  </b-form-group>
                </b-col>
                <b-col cols="5">
                  <b-form-group label="Amount" label-for="middleName">
                    <b-form-input
                      v-model="benefitAmount"
                      id="amount"
                      type="text"
                      placeholder="Amount"
                      required
                    ></b-form-input>
                  </b-form-group>
                </b-col>
                <b-col cols="2">
                  <br />
                  <b-button
                    variant="success"
                    size="sm"
                    type="submit"
                    class="mt-3"
                  >
                    <font-awesome-icon :icon="['fas', 'check-circle']" /> Add
                  </b-button>
                </b-col>
              </b-row>
            </b-form>
            <hr />
            <h3>Benefits Details</h3>
            <b-row v-for="(claim, index) in editClaims" :key="index">
              <b-col cols="6">
                <b-form-group label="Select Benefit" label-for="firstName">
                  <b-form-select
                    v-model="claim.benefitId"
                    :options="benefits"
                    required
                  ></b-form-select>
                </b-form-group>
              </b-col>
              <b-col cols="6">
                <b-form-group label="Amount" label-for="middleName">
                  <b-form-input
                    v-model="claim.amount"
                    id="amount"
                    type="text"
                    placeholder="Amount"
                    required
                  ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>

            <template #modal-footer>
              <div>
                <button
                  type="button"
                  class="btn btn-primary"
                  @click="updateCalimDetails"
                >
                  SAVE CHANGES
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                  @click="hideViewModal"
                >
                  CLOSE
                </button>
              </div>
            </template>
          </b-modal>

          <b-toast id="claim-erros" variant="danger" solid no-auto-hide>
            <template #toast-title>
              <div class="d-flex flex-grow-1 align-items-baseline">
                <strong class="mr-auto">Errors!</strong>
              </div>
            </template>
            <ul>
              <li v-for="(error, index) in errors" :key="index">
                {{ error.error }}
              </li>
            </ul>
          </b-toast>

          <b-toast id="claim-success" variant="success" solid>
            <template #toast-title>
              <div class="d-flex flex-grow-1 align-items-baseline">
                <strong class="mr-auto">{{ success }}</strong>
              </div>
            </template>
            <ul>
              <li>{{ success }}</li>
            </ul>
          </b-toast>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  props: {
    employeeId: {
      required: true,
      type: String,
    },
  },
  data() {
    return {
      updateOfficalTab: true,
      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 20, 30, 50],
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      claims: [],
      filterOn: [],
      errors: [],
      addedClaims: [],
      editClaims: [],
      currencies: [{ value: null, text: "Select Curreny" }],
      date: "",
      success: "",
      description: null,
      currency: null,
      benefit: null,
      benefitAmount: null,
      claimId: null,
      benefits: [{ value: null, text: "Select Benefit" }],
      fields: [
        { key: "date", label: "Date" },
        { key: "currency", label: "Currency" },
        { key: "amount", label: "Amount" },
        // { key: "status", label: "Status" },
        { key: "description", label: "Description" },
        { key: "details", label: "Details" },
      ],
      totalRows: 0,
      add: false,
      udpate: true,
    };
  },
  created() {
    this.getClaims();
    this.getBenefits();
    this.getCurrencies();
  },
  methods: {
    getClaims() {
      this.claims = [];
      let t = this;
      axios
        .get("/insurance-claims/all/data")
        .then((res) => {
          res.data.forEach((claim) => {
            this.claims.push({
              id: claim.id,
              date: claim.bill_date,
              currencyId: claim.currency.id,
              currency: claim.currency.name + "' '" + claim.currency.symbol,
              amount: claim.total_amount,
            //   status: claim.status ? "Approved" : "Not-Approved",
              description: claim.description,
              details: claim.details,
            });
          });
          this.totalRows = this.claims.length;
          console.log(this.claims);
        })
        .catch((err) => {});
    },
    getCurrencies() {
      let t = this;
      axios
        .get("/currencies/all/data")
        .then((res) => {
          res.data.forEach((benefit) => {
            this.currencies.push({ value: benefit.id, text: benefit.name });
          });
        })
        .catch((err) => {});
    },
    getBenefits() {
      let t = this;
      axios
        .get("/insurance-benefits/all/data")
        .then((res) => {
          res.data.forEach((benefit) => {
            this.benefits.push({ value: benefit.id, text: benefit.name });
          });
        })
        .catch((err) => {});
    },
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    addModal() {
      this.add = true;
      this.udpate = false;
      this.addedClaims = [];
      this.$refs["employees"].show();
    },
    addClaim(e) {
      e.preventDefault();
      this.errors = [];
      if (this.add) {
        let claimToAdd = this.addedClaims.filter(
          (claim) => claim.benefitId == this.benefit
        );
        if (claimToAdd.length > 0) {
          this.errors.push({ error: "This benefit already exist in details" });
          this.$bvToast.show("claim-erros");
        } else {
          this.addedClaims.push({
            benefitId: this.benefit,
            amount: this.benefitAmount,
          });
          this.benefit = null;
          this.benefitAmount = null;
        }
      } else {
        let claimToAdd = this.editClaims.filter(
          (claim) => claim.benefitId == this.benefit
        );
        if (claimToAdd.length > 0) {
          this.errors.push({ error: "This benefit already exist in details" });
          this.$bvToast.show("claim-erros");
        } else {
          this.editClaims.push({
            id: 0,
            benefitId: this.benefit,
            amount: this.benefitAmount,
          });
          this.benefit = null;
          this.benefitAmount = null;
        }
      }
    },
    addCalimDetails() {
      let t = this;
      this.errors = [];
      let data = {
        user_employee_id: this.employeeId,
        total_amount: this.totalAmount,
        currency_id: this.currency,
        bill_date: this.date,
        description: this.description,
        details: this.addedClaims,
      };

      axios
        .post("/insurance-claims", data)
        .then((res) => {
          this.$refs["employees"].hide();
          this.success = res.data.success;
          this.$bvToast.show("claim-success");
          this.getClaims();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }

          this.$bvToast.show("claim-erros");
        });
    },
    updateCalimDetails() {
      let t = this;
      this.errors = [];
      let data = {
        user_employee_id: this.employeeId,
        total_amount: this.updatedTotal,
        currency_id: this.selectedClaim.currencyId,
        bill_date: this.selectedClaim.date,
        description: this.selectedClaim.description,
        details: this.editClaims,
      };

      axios
        .put("/insurance-claims/" + this.selectedClaim.id, data)
        .then((res) => {
          this.$refs["claimDetails"].hide();
          this.success = res.data.success;
          this.$bvToast.show("claim-success");
          this.getClaims();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }

          this.$bvToast.show("claim-erros");
        });
    },
    hideModal() {
      this.$refs["employees"].hide();
    },
    showViewModel(claim) {
      this.add = false;
      this.udpate = true;
      this.editClaims = [];
      this.claimId = claim.id;
      this.selectedClaim.details.forEach((detail) => {
        this.editClaims.push({
          id: detail.id,
          benefitId: detail.benefit.id,
          amount: detail.amount,
        });
      });
      this.$refs["claimDetails"].show();
    },
    hideViewModal() {
      this.$refs["claimDetails"].hide();
    },
  },
  computed: {
    totalAmount() {
      return this.addedClaims.reduce(
        (acc, claim) => Number(acc) + Number(claim.amount),
        0
      );
    },
    selectedClaim() {
      let claim = this.claims.filter((claim) => claim.id == this.claimId);
      if (claim.length > 0) {
        return claim[0];
      } else {
        return [];
      }
    },
    updatedTotal() {
      return this.editClaims.reduce(
        (acc, claim) => Number(acc) + Number(claim.amount),
        0
      );
    },
  },
};
</script>
