<template>
  <div>
    <b-row>
      <b-col size="12" class="mt-3">
        <b-card title="Assign Line Manager">
          <b-row>
            <b-col cols="3">
              <b-form-group class="mr-2 text-left">
                <label for="selectedLineManagerEmployees"
                  >Select Line Manager</label
                >
                <b-form-select
                  id="selectedLinemanager"
                  v-model="selectedLinemanager"
                  :options="employees"
                  :required="true"
                  @change="getAssignmentData"
                ></b-form-select>
              </b-form-group>
            </b-col>
          </b-row>

          <b-row v-if="selectedLinemanager">
            <b-col cols="4">
              <b-form-group v-if="!managerEmployeeLoader">
                <label for="selectedLineManagerEmployees"
                  >Line Manager Employees</label
                >
                <b-form-select
                  id="selectedLineManagerEmployees"
                  v-model="selectedLineManagerEmployees"
                  :options="lineManagerEmployees"
                  multiple
                ></b-form-select>
              </b-form-group>
              <div class="text-center" v-else>
                <i class="fa fa-spin fa-spinner fa-5x"></i>
              </div>
            </b-col>

            <b-col cols="1" class="text-center pt-5">
              <b-button
                class="mt-5"
                variant="danger"
                @click="unsetLinemanager"
                id="unsetLinemanager"
                ><i class="fa fa-angle-double-right"></i></b-button
              ><br />
              <b-button
                class="mt-2"
                variant="success"
                @click="setLinemanager"
                id="setLinemanager"
                ><i class="fa fa-angle-double-left"></i
              ></b-button>
            </b-col>

            <b-col cols="4">
              <b-form-group v-if="!unassignedEmployeeLoader">
                <label for="assignEmployees">Unassigned Employees</label>
                <b-form-select
                  id="assignEmployees"
                  v-model="assignEmployees"
                  :options="unassignedEmployees"
                  multiple
                ></b-form-select>
              </b-form-group>
              <div class="text-center" v-else>
                <i class="fa fa-spin fa-spinner fa-5x"></i>
              </div>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
    <b-toast id="linemanger-assign-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
export default {
  components: {
    Multiselect,
  },
  mounted() {},
  props: {},
  data() {
    return {
      selectedLinemanager: null,
      employees: [{ value: null, text: "Select Employee" }],
      errors: [],
      lineManagerEmployees: [],
      assignEmployees: [],
      unassignedEmployees: [],
      selectedLineManagerEmployees: [],
      show: false,
      unassignedEmployeeLoader: false,
      managerEmployeeLoader: false,
    };
  },
  created() {
    this.getEmployeesList();
  },
  methods: {
    getEmployees() {
      this.lineManagerEmployees = [];
      this.selectedLineManagerEmployees = [];
      this.managerEmployeeLoader = true;
      let t = this;
      axios
        .get("/linemanagers/" + this.selectedLinemanager + "/employees")
        .then((res) => {
          this.lineManagerEmployees = res.data.data;
          this.managerEmployeeLoader = false;
        })
        .catch((err) => {});
    },
    getEmployeesList() {
      let t = this;
      axios
        .get("/employees/all/data")
        .then((res) => {
          $.each(res.data.data, function (index, value) {
            t.employees.push({
              value: value.id,
              text: value.name.name + " (" + value.id + ")",
            });
          });
          console.log(this.employees);
        })
        .catch((err) => {});
    },
    getUnassignedEmployees() {
      this.unassignedEmployees = [];
      this.assignedEmployees = [];
      this.unassignedEmployeeLoader = true;
      let t = this;
      axios
        .get("/employees/all/un-assigned",{params:{line_manager:this.selectedLinemanager}})
        .then((res) => {
          this.unassignedEmployees = res.data.data;
          this.unassignedEmployeeLoader = false;
        })
        .catch((err) => {});
    },
    unsetLinemanager() {
      let t = this;
      let data = { employees: this.selectedLineManagerEmployees };
      axios
        .patch("/employees/unset/line-manager", data)
        .then((res) => {
          this.getAssignmentData();
        })
        .catch((err) => {});
      
    },
    setLinemanager() {
      let t = this;
      let data = { employees: this.assignEmployees };
      axios
        .patch("/linemanagers/" + this.selectedLinemanager + "/employees", data)
        .then((res) => {
          this.getAssignmentData();
        })
        .catch((err) => {});
    },
    getAssignmentData() {
      this.getEmployees();
      this.getUnassignedEmployees();
    },
  },
  computed: {},
};
</script>
<style>
.custom-select[multiple] {
  height: 200px;
}
</style>
