<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Notifications">
          <b-row>
            <b-col cols="12" class="mt-3">
              <b-table
                striped
                large
                :items="notifications"
                :fields="fields"
                caption-top
                :no-border-collapse="false"
                show-empty
                head-variant="dark"
                class="text-dark"
              >
              </b-table>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getNotifications();
  },
  data() {
    return {
      notifications: [],
      fields: [
        ,
        { key: "notification", label: "Notification" },
        { key: "type", label: "Type" },
      ],
    };
  },
  methods: {
    getNotifications() {
      this.notifications = [];
      axios
        .get("/notifications/all/data")
        .then((res) => {
          this.notifications = res.data;
        })
        .catch((err) => {});
    },
  },
};
</script>