<template>
  <div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12">
        <div class="card invoice1">
          <div class="body">
            <div class="invoice-top clearfix">
              <div class="logo">
                <img src="" alt="company_logo" class="img-fluid" />
              </div>
              <div class="info">
                <h6></h6>
                <!-- <p>8117 Roosevelt St.<br />New Rochelle, NY 10801</p> -->
              </div>
              <div class="title">
                <h4>Invoice #{{salary.id}}</h4>
                <p>Salary Month: {{salary.salaryMonth}}</p>
              </div>
            </div>
            <hr />
            <div class="invoice-mid clearfix">
              <div class="clientlogo">
                <img
                  :src="salary.profilePic"
                  alt="user"
                  class="rounded-circle img-fluid"
                />
              </div>
              <div class="info">
                <h6>{{ salary.employeeName }}</h6>
                <p>
                  {{ salary.employeeDesignation }}<br />Employee ID: {{ salary.employeeId }}
                </p>
              </div>
            </div>

            <div class="row clearfix">
              <div class="col-lg-6 col-md-12">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead class="thead-success">
                      <tr>
                        <th>#</th>
                        <th>Allowances</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody class="text-dark">
                      <tr>
                        <td>1</td>
                        <td>Basic Salary</td>
                        <td>{{salary.basicSalary}}</td>
                      </tr>
                      <tr v-for="(allowance, index) in salary.allowances" :key="index">
                        <td>{{Number(index) + 2}}</td>
                        <td>{{allowance.name}}</td>
                        <td>{{allowance.amount}}</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td><strong>Total Earnings</strong></td>
                        <td><strong>{{Number(salary.allowancesTotal) + Number(salary.basicSalary)}}</strong></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead class="thead-danger">
                      <tr>
                        <th>#</th>
                        <th>Deductions</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody class="text-dark">
                      <tr v-for="(deduction, index) in salary.deductables" :key="index">
                        <td>{{Number(index) + 1}}</td>
                        <td>{{deduction.name}} <span"deduction.remarks">{{deduction.remarks}}</span></td>
                        <td>{{deduction.amount}}</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td><strong>Total Deduction</strong></td>
                        <td><strong>{{salary.deductablesTotal}}</strong></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <hr />
            <div class="row clearfix">
              <div class="col-md-6">
                <h5>Note</h5>
                <p>
                  This is a computer generated slip, so no signature is required.
                </p>
              </div>
              <div class="col-md-6 text-right">
                <p class="m-b-0"><b>Total Earnings:</b> {{Number(salary.allowancesTotal) + Number(salary.basicSalary)}}</p>
                <p class="m-b-0"><b>Total Deductions:</b> {{salary.deductablesTotal}}</p>
                <h5 class="m-b-0 m-t-10">Net Salary {{salary.netSalary}}</h5>
              </div>
              <div class="hidden-print col-md-12 text-right">
                <hr />
                <button class="btn btn-outline-secondary">
                  <i class="icon-printer"></i>
                </button>
                <button class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  props: {
    slipId: String,
  },
  data() {
    return {
      salary: {
        employeeName: "",
        employeeId: "",
        designation: "",
        employeeDesignation: "",
        basicSalary: "",
        profilePic: "",
        basicSalary: "",
        grossSalary: "",
        netSalary: "",
        salaryMonth: "",
        allowances: [],
        deductables: [],
      },
    };
  },
  created() {
    this.getEmployee();
  },
  methods: {
    getEmployee() {
      let t = this;
      axios
        .get("/employee-salaries/" + this.slipId)
        .then((res) => {
          this.salary = res.data.data;
        })
        .catch((err) => {});
    },
  },
  computed:{

  }
};
</script>
