<template>
  <div>
    <b-row>
      <b-col size="12">
        <b-card title="Select Salary Parameters">
          <b-form inline :validated="true" @submit="getEmployees">
            <label class="sr-only" for="inline-form-input-name"
              >Pay Rolls</label
            >
            <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
              <b-form-select
                v-model="payroll"
                :options="payrolls"
                :required="true"
                placeholer="Select PayRoll"
              ></b-form-select>
            </b-input-group>
            <label class="sr-only" for="start-date">Start Date</label>
            <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
              <b-form-input
                id="start-date"
                v-model="startDate"
                type="text"
                placeholder="Start Date"
                autocomplete="off"
                :required="true"
              ></b-form-input>
              <b-input-group-append>
                <b-form-datepicker
                  v-model="startDate"
                  button-only
                  right
                  locale="en-US"
                  button-variant="primary"
                  aria-controls="start-date"
                ></b-form-datepicker>
              </b-input-group-append>
            </b-input-group>

            <label class="sr-only" for="end-date">End Date</label>
            <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
              <b-form-input
                id="end-date"
                v-model="endDate"
                type="text"
                placeholder="End Date"
                autocomplete="off"
                :min="startDate"
                :required="true"
              ></b-form-input>
              <b-input-group-append>
                <b-form-datepicker
                  v-model="endDate"
                  button-only
                  right
                  locale="en-US"
                  button-variant="primary"
                  aria-controls="end-date"
                  :min="startDate"
                ></b-form-datepicker>
              </b-input-group-append>
            </b-input-group>
            <b-button type="submit" variant="primary">Load Employees</b-button>
          </b-form>
        </b-card>
      </b-col>
    </b-row>

    <b-row>
      <b-col size="12" class="mt-3">
        <b-card title="Generate Salary">
          <b-row>
            <b-col cols="6">
              <b-card class="card" title="Select Allowances">
                <multiselect
                  v-model="selectedAllowances"
                  placeholder="Select Allowances"
                  track-by="id"
                  label="name"
                  :options="allowances"
                  :close-on-select="false"
                  :multiple="true"
                  :taggable="true"
                ></multiselect>
              </b-card>
            </b-col>
            <b-col cols="6">
              <b-card class="card" title="Select Deductables">
                <multiselect
                  v-model="selectedDeductables"
                  placeholder="Select Deductables"
                  track-by="id"
                  label="name"
                  :options="deductables"
                  :close-on-select="false"
                  :multiple="true"
                  :taggable="true"
                ></multiselect>
              </b-card>
            </b-col>
          </b-row>
          <b-col cols="12" v-if="employees.length > 0">
              <b-card class="card" title="Select Employees">
                <multiselect
                  v-model="selectedEmployeesDropdown"
                  placeholder="Select Employees"
                  label="name"
                  :close-on-select="false"
                  track-by="id"
                  :options="employeesDropdown"
                  :multiple="true"
                  :taggable="true"
                ></multiselect>
              </b-card>
            </b-col>
          <b-row>
            <b-col cols="12">
              <b-card
                title="Generate Salary of Selected Employees"
                v-if="selectedEmployees.length > 0"
              >
                <b-tabs card class="single_post" id="employeeSalary">
                  <b-tab
                    no-body
                    title="Add Allowances"
                    class="nav-lik"
                    ref="allowancesTab"
                  >
                    <b-row>
                      <b-col cols="12" class="mb-3">
                        <b-button
                          variant="success"
                          class="pull-right"
                          @click="downloadAllowancesTemplate"
                        >
                          Download Template
                          <font-awesome-icon :icon="['fas', 'file-excel']"
                        /></b-button>

                        <b-button
                          variant="primary"
                          class="pull-right mr-3"
                          @click="allowanceUploadModal"
                        >
                          Import Data
                          <font-awesome-icon :icon="['fas', 'file-excel']"
                        /></b-button>
                      </b-col>
                      <b-col cols="12">
                        <b-table-simple
                          hover
                          large
                          caption-top
                          :sticky-header="true"
                          :no-border-collapse="false"
                        >
                          <b-thead>
                            <b-tr class="text-dark">
                              <b-th colspan="3" variant="warning"
                                >Employee Details</b-th
                              >
                              <b-th
                                :colspan="selectedAllowances.length"
                                variant="primary"
                                >Allowances</b-th
                              >
                            </b-tr>
                            <b-tr class="text-dark">
                              <b-th variant="warning">Name</b-th>
                              <b-th variant="warning">Employee Id</b-th>
                              <b-th variant="warning">Joining Date</b-th>
                              <b-th
                                v-for="allowance in selectedAllowances"
                                :key="'allowance-head-' + allowance.id"
                                variant="primary"
                                >{{ allowance.name }}
                              </b-th>
                            </b-tr>
                          </b-thead>
                          <b-tbody class="text-dark">
                            <b-tr
                              v-for="employee in selectedEmployees"
                              :key="employee.id"
                            >
                              <b-td variant="warning">{{ employee.name }}</b-td>
                              <b-td variant="warning">{{ employee.id }}</b-td>
                              <b-td variant="warning">{{
                                employee.dateOfJoining
                              }}</b-td>
                              <b-td
                                v-for="allowance in selectedAllowances"
                                :key="'allowance-' + allowance.id"
                                variant="primary"
                              >
                                <b-input
                                  :ref="
                                    'allowance_' +
                                    employee.id +
                                    '_' +
                                    allowance.id
                                  "
                                  :value="employee[allowance.slug]"
                                  @change="disableDeductables()"
                                  type="number"
                                  class="salaryInput"
                                ></b-input>
                                <b-input
                                  :ref="
                                    'allowance_remarks' +
                                    employee.id +
                                    '_' +
                                    allowance.id
                                  "
                                  v-model="employee.remarks"
                                  placeholder="Remarks"
                                  class="salaryInput"
                                  v-if="allowance.enableRemarks == 1"
                                ></b-input>
                              </b-td>
                            </b-tr>
                          </b-tbody>
                        </b-table-simple>
                      </b-col>
                      <b-col cols="12" class="text-right">
                        <b-button variant="primary" @click="enableDeductables"
                          >Calculate Allowances</b-button
                        >
                        <b-button variant="success" @click="showDeductables"
                          >Next</b-button
                        >
                      </b-col>
                    </b-row>
                  </b-tab>

                  <b-tab
                    no-body
                    title="Add Deductables"
                    class="nav-lik"
                    :disabled="!allowancesAdded"
                    ref="deductablesTab"
                  >
                    <b-row>
                      <b-col cols="12" class="mb-3">
                        <b-button
                          variant="success"
                          class="pull-right"
                          @click="downloadDeductableTemplate"
                        >
                          Download Template
                          <font-awesome-icon :icon="['fas', 'file-excel']"
                        /></b-button>

                        <b-button
                          variant="primary"
                          class="pull-right mr-3"
                          @click="deductableUploadModal"
                        >
                          Import Data
                          <font-awesome-icon :icon="['fas', 'file-excel']"
                        /></b-button>
                      </b-col>
                      <b-col cols="12">
                        <b-table-simple
                          hover
                          large
                          caption-top
                          :sticky-header="true"
                          :no-border-collapse="false"
                        >
                          <b-thead>
                            <b-tr class="text-dark">
                              <b-th colspan="3" variant="warning"
                                >Employee Details</b-th
                              >
                              <b-th
                                :colspan="selectedDeductable.length"
                                variant="danger"
                                >Deducatbles</b-th
                              >
                            </b-tr>
                            <b-tr class="text-dark">
                              <b-th variant="warning">Name</b-th>
                              <b-th variant="warning">Employee Id</b-th>
                              <b-th variant="warning">Joining Date</b-th>
                              <b-th
                                v-for="deductable in selectedDeductable"
                                :key="'deductable-head-' + deductable.id"
                                variant="danger"
                                >{{ deductable.name }}
                              </b-th>
                            </b-tr>
                          </b-thead>
                          <b-tbody class="text-dark">
                            <b-tr
                              v-for="employee in selectedEmployees"
                              :key="employee.id"
                            >
                              <b-td variant="warning">{{ employee.name }}</b-td>
                              <b-td variant="warning">{{ employee.id }}</b-td>
                              <b-td variant="warning">{{
                                employee.dateOfJoining
                              }}</b-td>
                              <b-td
                                v-for="deductable in selectedDeductable"
                                :key="'deductable-' + deductable.id"
                                variant="danger"
                                ><b-input
                                  type="number"
                                  class="salaryInput"
                                  :ref="
                                    'deductable_' +
                                    employee.id +
                                    '_' +
                                    deductable.id
                                  "
                                  @change="disableGenerateSalary()"
                                ></b-input>
                                <b-input
                                  :ref="
                                    'deductable_remarks' +
                                    employee.id +
                                    '_' +
                                    deductable.id
                                  "
                                  v-model="employee.remarks"
                                  placeholder="Remarks"
                                  class="salaryInput"
                                  v-if="deductable.enableRemarks == 1"
                                ></b-input>
                              </b-td>
                            </b-tr>
                          </b-tbody>
                        </b-table-simple>
                      </b-col>
                      <b-col cols="6">
                        <b-button variant="warning" @click="showAllowance">
                          Back
                        </b-button>
                      </b-col>
                      <b-col cols="6" class="text-right">
                        <b-button
                          variant="primary"
                          @click="enableGenerateSalary"
                        >
                          Calculate Deductables
                        </b-button>
                        <b-button variant="success" @click="showSummary">
                          Next
                        </b-button>
                      </b-col>
                    </b-row>
                  </b-tab>

                  <b-tab
                    no-body
                    title="Generate Salary"
                    class="nav-lik"
                    :disabled="!deductablesAdded"
                    ref="salaryTab"
                  >
                    <b-row>
                      <b-col cols="12">
                        <b-table-simple
                          hover
                          large
                          caption-top
                          :sticky-header="true"
                          :no-border-collapse="false"
                        >
                          <b-thead>
                            <b-tr class="text-dark">
                              <b-th colspan="3" variant="warning"
                                >Employee Details</b-th
                              >
                              <b-th variant="primary">Basic Salary</b-th>
                              <b-th variant="primary">Total Allowances</b-th>
                              <b-th variant="success">Gross Salary</b-th>
                              <b-th variant="danger">Total Deductables</b-th>
                              <b-th variant="success">Net Salary</b-th>
                            </b-tr>
                            <b-tr class="text-dark">
                              <b-th variant="warning">Name</b-th>
                              <b-th variant="warning">Employee Id</b-th>
                              <b-th variant="warning">Joining Date</b-th>
                              <b-th variant="primary">Basic Salary</b-th>
                              <b-th variant="primary">Total Allowances</b-th>
                              <b-th variant="success">Gross Salary</b-th>
                              <b-th variant="danger">Total Deductables</b-th>
                              <b-th variant="success">Net Salary</b-th>
                            </b-tr>
                          </b-thead>
                          <b-tbody class="text-dark">
                            <b-tr
                              v-for="employee in selectedEmployees"
                              :key="employee.id"
                            >
                              <b-td variant="warning">{{ employee.name }}</b-td>
                              <b-td variant="warning">{{ employee.id }}</b-td>
                              <b-td variant="warning">{{
                                employee.dateOfJoining
                              }}</b-td>
                              <b-td variant="primary">{{
                                employee.basicSalary
                              }}</b-td>
                              <b-td variant="primary">{{
                                employee.allowancesSum
                              }}</b-td>
                              <b-td variant="success">{{
                                employee.grossSalary
                              }}</b-td>
                              <b-td variant="danger">{{
                                employee.deductablesSum
                              }}</b-td>
                              <b-td variant="success">{{
                                employee.netSalary
                              }}</b-td>
                            </b-tr>
                            <b-tr v-if="selectedEmployees.length == 0">All employees salary generated for this month</b-tr>
                          </b-tbody>
                        </b-table-simple>
                      </b-col>
                      <b-col cols="6">
                        <b-button variant="warning" @click="showDeductables">
                          Back
                        </b-button>
                      </b-col>
                      <b-col cols="6" class="text-right">
                        <b-button variant="success" @click="generateSalary">
                          Generate Salary
                        </b-button>
                      </b-col>
                    </b-row>
                  </b-tab>
                </b-tabs>
              </b-card>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>

    <b-toast
      id="employee-salary-generate-erros"
      variant="danger"
      solid
      no-auto-hide
    >
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>

    <b-toast id="employee-salary-success" variant="success" solid>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Salary Generated!</strong>
        </div>
      </template>
      <ul>
        <li>{{ success }}</li>
      </ul>
    </b-toast>

    <b-modal
      title="Upload Employees Allowances"
      ref="employee-attendance-upload"
      size="md"
      @hidden="updateComponent"
    >
      <b-row>
        <b-col cols="12">
          <label for="document_path">Import Data</label>
          <input
            type="file"
            class="form-control dropify"
            ref="document"
            @change="handleFileUpload()"
          />
        </b-col>
      </b-row>
      <template #modal-footer>
        <div id="dependant_div">
          <button
            type="button"
            class="btn btn-success"
            @click="uploadAllowancesTemplate"
            v-if="uploadAllowance"
          >
            UPLOAD
          </button>
          <button
            type="button"
            class="btn btn-success"
            @click="uploadDeductablesTemplate"
            v-if="uploadDeductables"
          >
            UPLOAD
          </button>
          <button
            type="button"
            class="btn btn-danger"
            @click="hideAttendanceModal"
          >
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
export default {
  components: {
    Multiselect,
  },
  mounted() {},
  props: {},
  data() {
    return {
      show: false,
      startDate: "",
      endDate: "",
      employeeId: "",
      payroll: null,
      payrolls: [{ value: null, text: "Select PayRoll" }],
      errors: [],
      selectedAllowances: [],
      allowances: [],
      selectedEmployeesDropdown: [],
      employees: [],
      employeesDropdown: [],
      selectedDeductables: [],
      deductables: [],
      employeesSalaryData: [],
      selectedAllowanceId: "",
      selectedDeductableId: "",
      allowancesAmount: "",
      allowancesSum: "",
      deductablesSum: "",
      allowancesAdded: false,
      deductablesAdded: false,
      checkallEmployee: false,
      uploadAllowance: true,
      uploadDeductables: false,
      success: "",
    };
  },
  created() {
    this.getAllowances();
    this.getDeductables();
    this.getPayRolls();
  },
  methods: {
    async getEmployees(e) {
      if (e) {
        e.preventDefault();
      }
      this.employees = [];
      this.disableDeductables();
      let t = this;
      let data = {
        startDate: this.startDate,
        endDate: this.endDate,
      };
      axios
        .get("/paygroups/" + this.payroll + "/salary-employees", {
          params: data,
        })
        .then((res) => {
          $.each(res.data, function (index, value) {
            let allowanceAssigned = [];
            let employeeData = [];
            value.allowances.forEach((allowance) => {
              employeeData[allowance.allowance.slug] = allowance.amount;
            });
            employeeData.id = value.employee_id;
            employeeData.name = value.full_name;
            employeeData.startDate = t.startDate;
            employeeData.endDate = t.endDate;
            employeeData.basicSalary = value.basic_salary;
            employeeData.type =
              value.employee_type != null ? value.employee_type.name : "";
            employeeData.dateOfJoining =
              value.date_of_joining != null ? value.date_of_joining : "";
            employeeData.allowances = [];
            employeeData.allowancesSum = 0;
            employeeData.grossSalary = value.basic_salary;
            employeeData.deductables = [];
            employeeData.deductablesSum = 0;
            employeeData.netSalary = value.basic_salary;
            employeeData.selected = false;
            t.employees.push(employeeData);
            t.employeesDropdown.push({
              id: value.employee_id,
              name: value.full_name,
            });
          });
          this.show = true;
        })
        .catch((err) => {});
    },
    getPayRolls() {
      let t = this;
      axios
        .get("/paygroups/all/data")
        .then((res) => {
          $.each(res.data, function (index, value) {
            t.payrolls.push({
              value: value.id,
              text: value.name,
            });
          });
        })
        .catch((err) => {});
    },
    getAllowances() {
      let t = this;
      axios
        .get("/allowances/all/data")
        .then((res) => {
          $.each(res.data, function (index, value) {
            t.allowances.push({
              id: value.id,
              name: value.name,
              status: true,
              slug: value.slug,
              enableRemarks: value.enable_remarks,
            });
            t.selectedAllowances.push({
              id: value.id,
              name: value.name,
              slug: value.slug,
              enableRemarks: value.enable_remarks,
            });
          });
        })
        .catch((err) => {});
    },
    getDeductables() {
      let t = this;
      axios
        .get("/deductables/all/data")
        .then((res) => {
          $.each(res.data, function (index, value) {
            t.deductables.push({
              id: value.id,
              name: value.name,
              status: true,
              enableRemarks: value.enable_remarks,
            });
            t.selectedDeductables.push({
              id: value.id,
              name: value.name,
              status: true,
              enableRemarks: value.enable_remarks,
            });
          });
        })
        .catch((err) => {});
    },
    salaryAllowances(employee) {
      let t = this;
      t.allowancesSum = 0;
      if (t.employeeId != employee.id) {
        this.clearSums();
      }
      t.employeeId = employee.id;
      $.each(t.selectedAllowances, function (index, value) {
        t.selectedAllowanceId = value.id;
        let ref = "allowance_" + t.employeeId + "_" + value.id;
        let amount = t.$refs[ref][0].$el.value;
        let refRemarks = "allowance_remarks" + t.employeeId + "_" + value.id;
        let remarks = null;
        if (value.enableRemarks == 1) {
          remarks = t.$refs[refRemarks][0].$el.value;
        }
        if (amount == "") {
          amount = 0;
        }
        if (t.employeeSelectedAllowance) {
          t.employeeSelectedAllowance.amount = amount;
        } else {
          if (amount != 0) {
            t.selectedEmployee.allowances.push({
              id: value.id,
              name: value.name,
              amount: amount,
              remarks: remarks,
            });
          }
        }
      });
      t.allowancesSum = t.selectedEmployee.allowances.reduce(
        (acc, allowance) => Number(acc) + Number(allowance.amount),
        0
      );
      t.selectedEmployee.allowancesSum = t.allowancesSum;
    },
    salaryDeductions(employee) {
      let t = this;
      t.deductablesSum = 0;
      if (t.employeeId != employee.id) {
        this.clearSums();
      }
      t.employeeId = employee.id;
      $.each(t.selectedDeductable, function (index, value) {
        let ref = "deductable_" + t.employeeId + "_" + value.id;
        let refRemarks = "deductable_remarks" + t.employeeId + "_" + value.id;
        t.selectedDeductableId = value.id;

        let amount = t.$refs[ref][0].$el.value;
        console.log(amount);
        if (amount == "") {
          amount = 0;
        }
        let remarks = null;
        if (value.enableRemarks == 1) {
          remarks = t.$refs[refRemarks][0].$el.value;
        }

        if (t.employeeSelectedDeductable) {
          t.employeeSelectedDeductable.amount = amount;
        } else {
          if (amount != 0) {
            t.selectedEmployee.deductables.push({
              id: value.id,
              name: value.name,
              amount: amount,
              remarks: remarks,
            });
          }
        }
      });

      t.deductablesSum = t.selectedEmployee.deductables.reduce(
        (acc, deductable) => Number(acc) + Number(deductable.amount),
        0
      );
      t.selectedEmployee.deductablesSum = t.deductablesSum;
    },
    generateAllEmployeesSalary() {
      let t = this;
      $.each(t.selectedEmployees, function (index, value) {
        t.salaryAllowances(value);
        t.salaryDeductions(value);
        let basicSalary = t.selectedEmployee.basicSalary;
        let grossSalary = Number(t.allowancesSum) + Number(basicSalary);
        let netSalary = Number(grossSalary) - Number(t.deductablesSum);
        t.selectedEmployee.grossSalary = grossSalary;
        t.selectedEmployee.netSalary = netSalary;
      });
    },
    generateSalary() {
      this.employeesSalaryData = [];
      let t = this;
      let promises = [];
      let url = "/paygroups/store";
      $.each(t.selectedEmployees, function (index, value) {
        t.employeesSalaryData.push({
          employee_id: value.id,
          start_date: value.startDate,
          end_date: value.endDate,
          basic_salary: value.basicSalary,
          gross_salary: value.grossSalary,
          net_salary: value.netSalary,
          allowances: value.allowances,
          deducatbales: value.deductables,
          working_days: 0,
          total_days: 0,
          rate: 0,
        });
      });
      // console.log(this.employeesSalaryData);
      $.each(t.employeesSalaryData, function (index, value) {
        promises.push(axios.post(url, value));
      });
      axios
        .all(promises)
        .then(
          axios.spread((...responses) => {
            this.success =
              responses.length + " selected employees salary generated.";
            this.$bvToast.show("employee-salary-success");
            this.getEmployees();
          })
        )
        .catch((errors) => {
          console.error(errors);
        });
    },
    clearSums() {
      this.deductablesSum = 0;
      this.allowancesSum = 0;
    },
    enableDeductables() {
      this.generateAllEmployeesSalary();
      return (this.allowancesAdded = true);
    },
    enableGenerateSalary() {
      this.generateAllEmployeesSalary();
      return (this.deductablesAdded = true);
    },
    disableDeductables() {
      this.allowancesAdded = false;
      this.deductablesAdded = false;
    },
    disableGenerateSalary() {
      this.deductablesAdded = false;
    },
    selectAllEmployees() {
      this.employees.forEach((employee) => {
        Vue.set(employee, "selected", this.checkallEmployee);
      });
    },
    checkEmployeesCount() {
      if (this.employees.length == this.employees.length) {
        this.checkallEmployee = true;
      } else {
        this.checkallEmployee = false;
      }
    },
    downloadAllowancesTemplate() {
      let ids = this.selectedAllowances.map((allowance) => allowance.id);
      let employeesIds = this.selectedEmployees.map((employee) => employee.id);
      let params = {
        paygroup: this.payroll,
        startDate: this.startDate,
        endDate: this.endDate,
        allowances: ids,
        employees:employeesIds
      };
      axios
        .get("/employee-salaries/export/allowance-template", {
          params: params,
          responseType: "blob",
        })
        .then((res) => {
          const url = window.URL.createObjectURL(new Blob([res.data]));
          const link = document.createElement("a");
          link.href = url;
          link.setAttribute(
            "download",
            "Allowances " + this.startDate + " - " + this.endDate + ".xlsx"
          );
          document.body.appendChild(link);
          link.click();
        })
        .catch((err) => {});
    },
    downloadDeductableTemplate() {
      let ids = this.selectedDeductable.map((deductable) => deductable.id);
      let employeesIds = this.selectedEmployees.map((employee) => employee.id);
      let params = {
        paygroup: this.payroll,
        startDate: this.startDate,
        endDate: this.endDate,
        deductables: ids,
        employees:employeesIds
      };
      axios
        .get("/employee-salaries/export/deductable-template", {
          params: params,
          responseType: "blob",
        })
        .then((res) => {
          const url = window.URL.createObjectURL(new Blob([res.data]));
          const link = document.createElement("a");
          link.href = url;
          link.setAttribute(
            "download",
            "Deductables " + this.startDate + " - " + this.endDate + ".xlsx"
          );
          document.body.appendChild(link);
          link.click();
        })
        .catch((err) => {});
    },
    uploadDeductablesTemplate() {
      let ids = this.selectedDeductable.map((deductable) => deductable.id);
      let data = new FormData();
      data.append("document", this.file);
      data.append("deductables", ids);
      this.errors = [];
      this.message = "";
      let t = this;
      axios
        .post("/employee-salaries/import/deductable-template", data, {
          "Content-Type": "multipart/form-data",
        })
        .then((res) => {
          let employeesData = res.data;
          employeesData.forEach((employee) => {
            employee.deductables.forEach((deductable) => {
              try {
                let ref = "deductable_" + employee.id + "_" + deductable.id;
                this.$refs[ref][0].$el.value = deductable.amount;
                if (typeof deductable.remarks !== "undefined") {
                  let remarks =
                    "deductable_remarks" + employee.id + "_" + deductable.id;
                  if (typeof this.$refs[remarks][0] !== "undefined") {
                    this.$refs[remarks][0].$el.value = deductable.remarks;
                  }
                }
              } catch (error) {
                console.log(error);
              }
            });
          });
          this.$bvToast.show("employee-attendance-success");
          this.$refs["employee-attendance-upload"].hide();
        })
        .catch((err) => {
          err.response.data.forEach((value, index) => {
            this.errors.push({ error: value });
          });
          this.$bvToast.show("employee-attendance-errors");
        });
    },
    uploadAllowancesTemplate() {
      let ids = this.selectedAllowances.map((allowance) => allowance.id);
      let data = new FormData();
      data.append("document", this.file);
      data.append("allowances", ids);
      this.errors = [];
      this.message = "";
      let t = this;
      axios
        .post("/employee-salaries/import/allowance-template", data, {
          "Content-Type": "multipart/form-data",
        })
        .then((res) => {
          let employeesData = res.data;
          employeesData.forEach((employee) => {
            employee.allowances.forEach((allowance) => {
              try {
                let ref = "allowance_" + employee.id + "_" + allowance.id;
                this.$refs[ref][0].$el.value = allowance.amount;
                if (typeof allowance.remarks !== "undefined") {
                  let remarks =
                    "allowance_remarks" + employee.id + "_" + allowance.id;
                  if (typeof this.$refs[remarks][0] !== "undefined") {
                    this.$refs[remarks][0].$el.value = allowance.remarks;
                  }
                }
              } catch (error) {
                console.log(error);
              }
            });
          });
          this.$bvToast.show("employee-attendance-success");
          this.$refs["employee-attendance-upload"].hide();
        })
        .catch((err) => {
          err.response.data.forEach((value, index) => {
            this.errors.push({ error: value });
          });
          this.$bvToast.show("employee-attendance-errors");
        });
    },
    allowanceUploadModal() {
      (this.uploadAllowance = true),
        (this.uploadDeductables = false),
        this.$refs["employee-attendance-upload"].show();
    },
    deductableUploadModal() {
      (this.uploadAllowance = false),
        (this.uploadDeductables = true),
        this.$refs["employee-attendance-upload"].show();
    },
    hideAttendanceModal() {
      this.$refs["employee-attendance-upload"].hide();
    },
    handleFileUpload() {
      this.file = this.$refs.document.files[0];
    },
    updateComponent() {
      if (this.updated) {
        this.getEmployees();
      }
    },
    showAllowance() {
      this.$refs.allowancesTab.activate();
    },
    showDeductables() {
      this.$refs.deductablesTab.activate();
    },
    showSummary() {
      this.$refs.salaryTab.activate();
    },
  },
  computed: {
    selectedEmployee() {
      let employee = this.employees.filter(
        (employee) => employee.id == this.employeeId
      );
      return employee[0];
    },
    employeeSelectedAllowance() {
      let allowance = this.selectedEmployee.allowances.filter(
        (allowance) => allowance.id == this.selectedAllowanceId
      );

      return allowance[0] != null ? allowance[0] : "";
    },
    employeeSelectedDeductable() {
      let deductable = this.selectedEmployee.deductables.filter(
        (deductable) => deductable.id == this.selectedDeductableId
      );

      return deductable[0] != null ? deductable[0] : "";
    },
    selectedDeductable() {
      return this.deductables.filter((deductable) => deductable.status == true);
    },
    selectedEmployees() {
      return this.employees.filter((employee) =>
        this.employeeIds.includes(employee.id)
      );
    },
    employeeIds() {
      return this.selectedEmployeesDropdown.map((employee) => employee.id);
    },
  },
  watch: {
    allowancesAdded: function () {
      if (this.allowancesAdded) {
        this.$refs.deductablesTab.activate();
      }
    },
    deductablesAdded: function () {
      if (this.deductablesAdded) {
        this.$refs.salaryTab.activate();
      }
    },
  },
};
</script>
<style>
#employeeSalary .card-header {
  padding-top: 0.001em;
  padding-left: 0.6em;
  padding-bottom: 0.8em;
}

.salaryInput {
  width: 100px;
  display: inline;
}

.remarksText {
  width: 250px;
  display: inline;
}

#employeeSalary .tab-content {
  border: 1px solid rgba(0, 0, 0, 0.125);
}
#employeeSalary .b-table-sticky-header {
  max-height: 700px;
}

.multiselect__tag{
  background: #007bff;
}
.multiselect__tag-icon::after{
  color: #ffffff;
}
</style>
