<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Employee List">
          <!-- User Interface controls -->
          <b-row align-h="end" class="mb-3">
            <b-col cols="12">
              <b-button variant="primary" @click="addModal" class="pull-right">
                Add Employee
              </b-button>
            </b-col>
            <b-col cols="6" class="mt-3">
              <b-row align-h="end">
                <b-col cols="3" class="my-1">
                  <b-form-group
                    label="Per page"
                    label-for="per-page-select"
                    label-cols="5"
                    label-align-sm="right"
                    label-size="sm"
                    class="mb-0"
                  >
                    <b-form-select
                      id="per-page-select"
                      v-model="perPage"
                      :options="pageOptions"
                      size="sm"
                    ></b-form-select>
                  </b-form-group>
                </b-col>

                <b-col cols="6" class="my-1">
                  <b-form-group
                    label="Search"
                    label-for="filter-input"
                    label-cols="3"
                    label-align-sm="right"
                    label-size="sm"
                    class="mb-0"
                  >
                    <b-input-group size="sm">
                      <b-form-input
                        id="filter-input"
                        v-model="filter"
                        type="search"
                        placeholder="Type to Search"
                      ></b-form-input>

                      <b-input-group-append>
                        <b-button
                          :disabled="!filter"
                          @click="filter = ''"
                          variant="primary"
                        >
                          Clear
                        </b-button>
                      </b-input-group-append>
                    </b-input-group>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-col>
          </b-row>

          <!-- Main table element -->
          <b-row>
            <b-table
              :items="employees"
              :fields="fields"
              :current-page="currentPage"
              :per-page="perPage"
              :filter="filter"
              :filter-included-fields="filterOn"
              stacked="lg"
              show-empty
              large
              hover
              head-variant="dark"
              :striped="true"
              @filtered="onFiltered"
              class="text-dark"
              :sortable="false"
            >
              <template #cell(name)="row">
                <img
                  :src="row.value.image"
                  rounded="circle"
                  alt=""
                  v-bind="{ width: 50, height: 50 }"
                  v-if="row.value.image != ''"
                  class="avatar mr-3"
                />
                {{ row.value.name }}
              </template>

              <template #cell(action)="row">
                <a :href="'/employees/' + row.value" class="text-light">
                  <b-button
                    type="button"
                    class="text-light"
                    title="Edit"
                    size="sm"
                    variant="primary"
                    ><font-awesome-icon :icon="['fas', 'eye']" />
                  </b-button>
                </a>
                <b-button
                  type="button"
                  class="text-light js-sweetalert"
                  size="sm"
                  title="Delete"
                  variant="danger"
                  data-type="confirm"
                  :data-value="row.value"
                  data-model="employees"
                  :value="row.value"
                  ><font-awesome-icon :icon="['fas', 'trash']" />
                </b-button>
              </template>
            </b-table>
          </b-row>

          <b-row class="mt-3" align-h="end">
            <b-col cols="3" class="my-1">
              <b-pagination
                v-model="currentPage"
                first-text="First"
                last-text="Last"
                :total-rows="totalRows"
                :per-page="perPage"
                size="md"
                class="my-0 pull-right"
              ></b-pagination>
            </b-col>
          </b-row>

          <b-modal title="Add Employee" ref="employees" size="md">
            <b-row>
              <b-col cols="4">
                <b-form-group label="First Name" label-for="firstName">
                  <input
                    id="firstName"
                    type="text"
                    v-model="firstName"
                    class="form-control"
                    placeholder="First Name"
                    required
                  />
                </b-form-group>
              </b-col>
              <b-col cols="4">
                <b-form-group label="Middle Name" label-for="middleName">
                  <input
                    id="middleName"
                    type="text"
                    v-model="middleName"
                    class="form-control"
                    placeholder="Middle Name"
                    required
                  />
                </b-form-group>
              </b-col>
              <b-col cols="4">
                <b-form-group label="Last Name" label-for="lastName">
                  <input
                    id="lastName"
                    type="text"
                    v-model="lastName"
                    class="form-control"
                    placeholder="Last Name"
                    required
                  />
                </b-form-group>
              </b-col>
            </b-row>

            <!-- <b-row>
              <b-col cols="6">
                <b-form-group label="Emirates Id" label-for="emiratesId">
                  <input
                    id="emiratesId"
                    type="text"
                    v-model="emiratesId"
                    class="form-control"
                    placeholder="Emirates Id"
                    required
                  />
                </b-form-group>
              </b-col>
              <b-col cols="6">
                <b-form-group label="Personal Id" label-for="personalId">
                  <input
                    id="personalId"
                    type="text"
                    v-model="personalId"
                    class="form-control"
                    placeholder="Personal Id"
                    required
                  />
                </b-form-group>
              </b-col>
            </b-row>

            <b-row>
              <b-col cols="6">
                <b-form-group label="Company Email" label-for="companyEmail">
                  <input
                    id="companyEmail"
                    type="text"
                    v-model="companyEmail"
                    class="form-control"
                    placeholder="Email"
                    required
                  />
                </b-form-group>
              </b-col>
              <b-col cols="6">
                <b-form-group label="Home Phone Number" label-for="homePhone">
                  <input
                    id="homePhone"
                    type="text"
                    v-model="homePhone"
                    class="form-control"
                    placeholder="Home Phone Number"
                    required
                  />
                </b-form-group>
              </b-col>
            </b-row> -->

            <b-row>
              <b-col cols="6">
                <b-form-group label="Joining Date" label-for="date_of_joining">
                  <b-input-group>
                    <b-form-input
                      id="return-date"
                      v-model="dateOfJoining"
                      type="text"
                      placeholder="Joining Date"
                      autocomplete="off"
                    ></b-form-input>
                    <b-input-group-append>
                      <b-form-datepicker
                        v-model="dateOfJoining"
                        button-only
                        right
                        locale="en-US"
                        button-variant="primary"
                        aria-controls="dateOfJoining"
                      ></b-form-datepicker>
                    </b-input-group-append>
                  </b-input-group>
                </b-form-group>
              </b-col>
              <b-col cols="6">
                <b-form-group label="Employee Id">
                  <input
                    id="employeeId"
                    type="text"
                    v-model="employeeId"
                    class="form-control"
                    placeholder="Employee Id"
                    required
                  />
                </b-form-group>
              </b-col>
              <b-col cols="6">
                <b-form-group label="Status">
                  <b-form-radio-group id="radio-group-2" v-model="status">
                    <b-form-radio :value="true">Active</b-form-radio>
                    <b-form-radio :value="false">In-Active</b-form-radio>
                  </b-form-radio-group>
                </b-form-group>
              </b-col>
            </b-row>

            <template #modal-footer>
              <div>
                <button
                  type="button"
                  class="btn btn-primary"
                  @click="addEmployee"
                >
                  SAVE CHANGES
                </button>
                <button type="button" class="btn btn-danger" @click="hideModal">
                  CLOSE
                </button>
              </div>
            </template>
          </b-modal>

          <b-toast id="employees-erros" variant="danger" solid no-auto-hide>
            <template #toast-title>
              <div class="d-flex flex-grow-1 align-items-baseline">
                <strong class="mr-auto">Errors!</strong>
              </div>
            </template>
            <ul>
              <li v-for="error in errors" :key="error">{{ error.error }}</li>
            </ul>
          </b-toast>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  data() {
    return {
      employees: [],
      updateOfficalTab: true,
      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 20, 30, 50],
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      errors: [],
      fields: [
        ,
        { key: "name", label: "Name", sortable: true, sortDirection: "desc" },
        {
          key: "employeeId",
          label: "Employee Id",
          sortable: true,
          sortDirection: "desc",
        },
        { key: "phone", label: "Phone" },
        {
          key: "joinDate",
          label: "Join Date",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "department",
          label: "Department",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "designation",
          label: "Designation",
          sortable: true,
          sortDirection: "desc",
        },
        { key: "action", label: "Action" },
      ],
      firstName: "",
      middleName: "",
      lastName: "",
      companyEmail: "",
      employeeId:"",
      homePhone: "",
      emiratesId: "",
      personalId: "",
      status: true,
      totalRows: 0,
      dateOfJoining: "",
    };
  },
  created() {
    this.getEmlpoyees();
  },
  methods: {
    getEmlpoyees() {
      let t = this;
      axios
        .get("/employees/all/data")
        .then((res) => {
          this.employees = res.data.data;
          this.totalRows = this.employees.length;
        })
        .catch((err) => {});
    },
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    addModal() {
      this.$refs["employees"].show();
    },
    addEmployee() {
      this.errors = [];
      let t = this;
      let data = {
        first_name: this.firstName,
        middle_name: this.middleName,
        last_name: this.lastName,
        employee_id: this.employeeId,
        email: this.companyEmail,
        home_phone_number: this.homePhone,
        emirates_id: this.emiratesId,
        personal_id: this.personalId,
        date_of_joining: this.dateOfJoining,
        status: this.status,
      };

      axios
        .post("/employees", data)
        .then((res) => {
          this.$refs["employees"].hide();
          this.getEmlpoyees();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("employees-erros");
        });
    },
    hideModal() {
      this.$refs["employees"].hide();
    },
  },
  computed: {},
};
</script>
